
        {% if currentchat %}

            {% load i18n %}

            <h4>{% trans "Участники" %}</h4>

            <div id="logmembers">

            {% for node in nodes_members %}

                {% if node.chat.author_id == node.member_id or node.is_admin %}
                    <span id="member_{{node.member_id}}" style="font-weight:bold; color:blue;">   <!-- Админ чата -->
                {% elif node.member_id == request.user.id %}
                    <span id="member_{{node.member_id}}" style="font-weight:bold; color:green;">  <!-- Текущий пользователь -->
                {% else %}
                    <span id="member_{{node.member_id}}">
                {% endif %}

                        {% if node.is_online %}
                            <b>                                         <!-- Если OnLine -->
                        {% endif %}
                        {{ node.member.username }}
                        {% if node.is_online %}
                            </b>
                        {% endif %}

                </span>
                        <!--<span id="member_{node.member_id}}">{ node.member.username }}</span>-->

                        <span id="member_{{node.member_id}}_date"><i>
                        {% comment %}
                        {% if node.is_online %}
                            {% if node.dateonline %}
                               ({{ node.dateonline|date:"d.m.y H:i:s" }})
                            {% endif %}
                        {% else %}
                            {% if node.dateoffline %}
                                ({{ node.dateoffline|date:"d.m.y H:i:s" }})
                            {% endif %}
                        {% endif %}
                        {% endcomment %}
                        ({{ node.datecurrent|date:"d.m.y H:i:s" }})
                        </i></span>

                <br />

                <p id="log_members" style="font-size: small;"></p>

            {% endfor %}

            </div>

        {% endif %}


