
    {% if currentchat and member_list %}

            {% load i18n %}

            <form method="GET" id="ajax_member_form" action="">
                {% csrf_token %}
                <select name="select-member" id="memberselectid" class="select-member">
                     {% for member in member_list %}
                        <option value="{{member.user.id}}">
                           {{ member.user.username }}
                        </option>
                     {% endfor %}
                </select>
                <label><input type="checkbox" id="memberisadmin" name="admin" />{% trans "Админ" %}</label>
                <input type="button" id="addmemberbutton" value="{% trans 'Добавить' %}" />
            </form>

        {% endif %}

<script>

        $('#addmemberbutton').click(function() {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        var memberSelected = $('#memberselectid').find(":selected").val();
        //var memberIsAdmin = $('#memberadmin').find(":checked").val();
        var memberIsAdmin = document.getElementById('memberisadmin');
        if (memberIsAdmin.checked) {
           memberIsAdmin = 1;
        } else {
           memberIsAdmin = 0;
        }
        //console.log("==="+memberSelected);
        $.ajax({
            url: "{% url 'my_chat:member_create' %}",
            type: "GET",
            data : {
                chatid: {{ currentchatid }},
                memberid: memberSelected,
                memberisadmin: memberIsAdmin,
            },
             success: function(data)
                    {
                     //console.log(data)
                     $('#ajax_messagelistresult').html(data);
                     //$('#ajax_chat_member_form').html(data);
                     // *** Перезаполняем список доступных пользователей ***
                     $.ajax({
                        url: "{% url 'my_chat:memberform' %}",
                        type: "GET",
                        data : {
                            chatid: {{ currentchatid }},
                        },
                         success: function(data)
                                {
                                 //console.log(data)
                                 $('#ajax_member_form').html(data);
                                },
                         error: function(xhr, errmsg, err)
                                {
                                 console.log("error")
                                 //console.log(error_data)
                                 $('#ajax_memberlisterror_').html('Нет данных!');
                                }
                    });
                    // ***
                    },
             error: function(xhr, errmsg, err)
                    {
                     console.log("error")
                     console.log(error_data)
                     $('#ajax_messagelisterror').html('Нет данных!');
                    }
        });
    });

</script>