__pycache__/
.htaccess
db.sqlite3-journal
db.sqlite3
db_test.sqlite3
data.sqlite
reqs_larimaritgroup.txt
reqs_1yes_larimaritgroup.txt
manage.py
notes.ttt
media/
.idea/
.vscode/
.venv/
/larimar/config/.env
/tmp
requirements.~xt
requirements.txt
/larimar/__pycache__/__init__.cpython-38.pyc
/larimar/__pycache__/settings.cpython-38.pyc
/larimar/__pycache__/urls.cpython-38.pyc
out.sql
out.sqlsource
out.json
import.sql
