[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django-ckeditor = "*"
django-crispy-forms = "*"
django-bootstrap-datepicker-plus = "*"
django-jquery = "*"
pylint-django = "*"
django-menu = "*"
django-group-by = "*"
django-tables2 = "*"
requests = "*"
lxml = "*"
python-dateutil = "*"
asgiref = "==3.2.3"
astroid = "==2.3.3"
beautifulsoup4 = "==4.8.2"
colorama = "==0.4.3"
django-debug-toolbar = "==2.2"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
pylint = "==2.4.4"
pytz = "==2019.3"
six = "==1.14.0"
soupsieve = "==1.9.5"
sqlparse = "==0.3.0"
wrapt = "==1.11.2"
Django = "==3.0.2"
django-bootstrap4 = "*"

[requires]
python_version = "3.8"
