{% extends 'base.html' %}

{% block ylist %}

   {% load i18n %}

    <!-- Защита от прямого доступа к элементам Списка -->

    {% if current_ylist.company.id in user_companies %}

        <div class="object-detail">

            <div>
                <div class="object-detail-header">
                    <h3>{{ current_ylist.name }}
                        {% if not current_ylist.is_active %}
                            {% trans "(Список перемещён в архив)" %}
                        {% endif %}
                    </h3>
                </div>

                <div class="object-detail-left">
                    <p>{% autoescape off %}{{ current_ylist.description }}{% endautoescape %}</p>
                    <i><p>{% trans "Организация" %}: <span class="hint hint--bottom hint--info" data-hint="{% trans 'Списки организации' %}"><a href=
                                                                                                                              "
{% url 'my_list:ylists' current_ylist.company.pk 0 %}">{{ current_ylist.company }}</a></span></p></i>
                    <p><em>{% trans "Создан" %}: {{ current_ylist.datecreate }} <a href="{% url 'my_account:userprofile_detail' current_ylist.author.pk ' ' %}">{{ current_ylist.author }}</a></em></p>
                    <p><em>{% trans "Изменён" %}: {{ current_ylist.dateupdate }} <a href="
{% url 'my_account:userprofile_detail' current_ylist.authorupdate.pk ' ' %}">{{ current_ylist.authorupdate }}</a></em></p>
                    {% if current_ylist.dateclose is not NULL %}
                        <p><em>{% trans "Закрыт" %}: {{ current_ylist.dateclose }}</em></p>
                    {% endif %}
                    <p><em>{% trans "Участники" %}:
                        {% for u in current_ylist.members.all %}
                            <span class="hint hint--bottom hint--info" data-hint="{% trans "Профиль" %}"><a href=
"{% url 'my_account:userprofile_detail' u.pk ' ' %}">{{ u.username }}</a>,</span>&nbsp;
                        {% endfor %}
                    </em></p>
                    <br />
                </div>

            </div>

            <!--{ if user.is_authenticated and user.id == current_ylist.author_id  %}-->
            <div class="object-detail-buttons">
{#                <a href="{% url 'my_list:ylist_create' current_ylist.company.id %}">{{ button_list_create }}</a>#}
                <a href="{% url 'my_list:ylist_update' current_ylist.pk %}">{{ button_list_update }}</a>
            </div>
            <!--{ endif %}-->
        </div>

    {% else %}

        <h4>{% trans "Информация о Списке недоступна!" %}</h4> <!--{ current_company.id }}/{ user_companies }}-->

    {% endif %}

{% endblock ylist %}

{% block list %}
    <!-- Защита от прямого доступа к задачам проекта -->
    {% if current_ylist.company.id in user_companies %}

        <div class="object-list">

            <h4>{% trans "Записи" %}</h4>

            <form method="GET">
                {% csrf_token %}
                <div class="object-list-filters">
                    <label>Фильтр по статусу: </label>
                    <select name="select_taskstatus" id="selectid" class="select-task-status">
                        <option value="-1" {% if "-1" == tskstatus_selectid %} selected="selected" {% endif %}>- Все</option>
                        <option value="0" {% if 0 == tskstatus_selectid|add:"0" %} selected="selected" {% endif %}>- Все активные</option>
                        <option value="-2" {% if "-2" == tskstatus_selectid %} selected="selected" {% endif %}>- Просроченные</option>
                        {% for tskstatus in taskstatus %}
                            <option value="{{tskstatus.id}}" {% if tskstatus.id == tskstatus_selectid|add:"0" %} selected="selected" {% endif %}>
                                {{tskstatus.name}}
                            </option>
                        {% endfor %}
                    </select>
                    <label>Мои задачи: </label>
                    <select name="select-mytask" id="myselectid" class="select-my-task">
                        <option value="-1" {% if "-1" == tskstatus_myselectid %} selected="selected" {% endif %}>- Все</option>
                        <option value="0" {% if "0" == tskstatus_myselectid %} selected="selected" {% endif %}>- Я участник</option>
                        <option value="1" {% if "1" == tskstatus_myselectid %} selected="selected" {% endif %}>- Я автор</option>
                        <option value="2" {% if "2" == tskstatus_myselectid %} selected="selected" {% endif %}>- Я исполнитель</option>
                    </select>
                    <button id="selection-button" type="submit" method="GET" class="object-filter-button">Применить</button>
                </div>
                <!--<button type="submit">Применить</button>-->
            </form>

            <div id="ajax_item_listresult">{% include 'ylist_items_list.html' %}</div>
            <div id="ajax_item_listerrors"></div>

            <div class="object-list-buttons">
                <a href="{% url 'my_list:yitem_create' current_ylist.id %}">{{ button_item_create }}</a>
            </div>

        </div>

        <script>

            $('#selection-button').click(function(){
                event.preventDefault(); // *** без этого страница перегружается после возврата data
                var statusSelected = $("#selectid option:selected").val()
                var myitemSelected = $("#myselectid option:selected").val()
                $.ajax({
                    type: 'GET',
                    url: "{% url 'my_list:ylist_filter' %}",
                    data: {
                        listid: {{ current_ylist.id }},
                        mytaskuser: myitemSelected
                    },
                    success: function(data){
                        $('#ajax_item_listresult').html(data);
                        //alert(data);
                    },
                    error: function(xhr, errmsg, err){
                        console.log("error")
                        console.log(error_data)
                        $('#ajax_item_listerrors').html('Нет данных!');
                    }
                });
            });

        </script>

    {% else %}
        <h5>{% trans "Информация о записях Списка недоступна!" %}</h5>
    {% endif %}

{% endblock list %}