{% block ylistitems %}

    {% load static %}
    {% load i18n %}

    <div id="ajax_itemsresult">

    <div id="listslist" style="padding:0px 0px 0px 10px;">

        <div class="table" id="myTable">

{#            {% for node in nodes %}#}
{##}
{#                {% if forloop.first %}#}
{##}
{#                    <div class="th-row">#}
{#                        {% for title in titles %}#}
{#                            <div class="th-cell" id="th-{{ forloop.counter0 }}" name="th-{{ forloop.counter0 }}">{{ title }}</div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{##}
{#                {% endif %}#}
{##}
{#                <div class="{% cycle 'row1' 'row2' %}">#}
{#                {{ node.json_fieldsname.2 }}#}
{#                    {% for value in node.json_fieldsvalue %}#}
{#                        <div class="cell" id="td-{{ node.id }}-{{ forloop.counter }}" name="td-{{ node.id }}-{{ forloop.counter0 }}" row="{{ node.id }}"#}
{#                        column="{{ forloop.counter0 }}">{{ value.1 }}</div>#}
{#                    {% endfor %}#}
{#                </div>#}
{##}
{#            {% endfor %}#}


            {% for node in ylisttable %}

                {% if forloop.first %}
                    <div class="th-row">
                        <div class="th-cell">

                        </div>
                        {% for title in titles %}
                            <div class="th-cell" id="th-{{ forloop.counter0 }}" name="th-{{ forloop.counter0 }}">{{ title }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="{% cycle 'row1' 'row2' %}" id="row_{{ node.yl.id }}">
                    {% for key, value in node.items %}
                        {% if not forloop.first %}
                            <div class="cell" id="td-{{ node.yl.id }}-{{ forloop.counter }}" name="td-{{ node.yl.id }}-{{ forloop.counter0 }}"
                                 row="
{{ node.yl.id }}"
                            column="{{ key }}{#{{ forloop.counter0 }}#}" val="{{ value }}">{{ value }}</div>
                        {% else %}
                            <div class="cell">
{#                                <button type="submit" id="addrowpre_{{ node.yl.sort }}">{% trans 'Добавить перед' %}</button>#}
                                <div class="object-list-buttons">
{#                                   <a href="{% url 'my_list:yitem_edit' 1 node.yl.id node.yl.sort %}">{% trans 'Добавить перед' %}</a>#}
                                    <img src="{% static 'images/ins_row_above_24.png' %}" id="insert_row_pre_{{ node.yl.id }}" node_prz="1" node_id="{{ node.yl.id }}" node_sort="{{ node.yl.sort }}"
                                   onClick="myClick_ins(this);" /> <img src="{% static 'images/ins_row_after_24.png' %}" id="insert_row_after_
{{ node.yl.id }}" node_prz="1" node_id="{{ node.yl.id }}" node_sort="{{ node.yl.sort|add:1 }}"
                                   onClick="myClick_ins(this);" />
{#                                   <button id="insert_row_pre_{{ node.yl.id }}" node_prz="1" node_id="{{ node.yl.id }}" node_sort="{{ node.yl.sort }}"#}
{#                                   onClick="myClick_ins(this);">{% trans 'Добавить перед' %}</button>#}
                                   <button id="delete_row_{{ node.yl.id }}" node_id="{{ node.yl.id }}" onClick="myClick_del(this);">{% trans 'Удалить' %}</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endfor %}

        </div>
        </div>
        <div id="ajax_itemerror"></div>

        <div style="display: none; position: absolute; top: 22px; left: 26px; width: 290px;" id="myCell">

            <form action="" method="POST" id="form_cell">

                {% csrf_token %}

                <input type="text" name="inputCellName" id="inputCell" placeholder="{% trans 'Введите значение' %}" autofocus>
{##}
{#                <label>#}
{#                    Профессия:#}
{#                    <select name="specialization" required>#}
{#                        <option value="engineer" selected>Инженер</option>#}
{#                        <option value="scientist">Учёный</option>#}
{#                        <option value="psychologist">Психолог</option>#}
{#                        <option value="other">Другая</option>#}
{#                    </select>#}
{#                </label>#}

                <input type="submit" id="myCellButton" onclick="cell_edit(this)" value="{% trans 'Ok' %}">

            </form>

        </div>

    </div>

    </div>

{% endblock %}


<script>

    document.getElementById('myTable').onclick = function (e) {
        var name = e.target.getAttribute('name');
        var row = e.target.getAttribute('row');
        var column = e.target.getAttribute('column');
        var val = e.target.getAttribute('value');
        var cell_id = e.target.getAttribute('id');
        var inp = document.getElementById("inputCell");
        inp.setAttribute('row', row);
        inp.setAttribute('column', column);
        inp.setAttribute('cell_id', cell_id);
        {#console.log('!==========!' + row + '/' + column + '/' + cell_id);#}
        if (e.target.tagName.toUpperCase() == "DIV") {
            //document.getElementById(e.target.id).innerHTML = "Welcome to JavaScript";
            document.getElementById("myCell").style.display = "block";
            document.getElementById("inputCell").placeholder = val;
            document.getElementById("myCell").style.top = (e.clientY-12)+'px';
            document.getElementById("myCell").style.left = (e.clientX-50)+'px';
            {#console.log(name + '/' + document.getElementById("myCell").style.top + '/' + document.getElementById("myCell").style.left);#}
        }
    }

    function cell_edit(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        var elem = document.getElementById("inputCell");
        var row = elem.getAttribute("row");
        var column = elem.getAttribute("column");
        var val = elem.value;
        var cell_id = elem.getAttribute("cell_id");
        console.log(row + '/' + column + '/' + val + '/' + 'cell_id');
        $.ajax({
            url: "{% url 'my_list:yitem_celledit' %}",
            type: "GET",
            data: {
                col: column,
                pk: row,
                val: val
            },
            success: function (data) {
                document.getElementById(cell_id).innerHTML = val;   // выводим значение ячейки без перезагрузки списка
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
                console.log(error_data)
                $('#ajax_itemserror').html('Нет данных!');
            }
        });
        document.getElementById("myCell").style.display = "none";
    }

    function myClick_ins(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: "{% url 'my_list:yitem_insert' %}",
            type: "GET",
            data: {
                prz: e.getAttribute("node_prz"),
                pk: e.getAttribute("node_id"),
                sort: e.getAttribute("node_sort"),
            },
            success: function (data) {
                $('#ajax_itemsresult').html(data);
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
                console.log(error_data)
                $('#ajax_itemserror').html('Нет данных!');
            }
        });
    }

    function myClick_del(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        var node_id = e.getAttribute("node_id")
        $.ajax({
            url: "{% url 'my_list:yitem_delete' %}",
            type: "GET",
            data: {
                pk: node_id,
            },
            success: function (data) {
                {#console.log(data)#}
                console.log("delete_row_"+node_id)
                document.getElementById("row_"+node_id).style.display = "none";
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
                console.log(error_data)
                $('#ajax_itemserror').html('Нет данных!');
            }
        });
    }

    {#function myClick_cell(e) {#}
    {#    event.preventDefault(); // *** без этого страница перегружается после возврата data#}
    {#    var node_id = e.getAttribute("node_id")#}
    {#    $.ajax({#}
    {#        url: "{% url 'my_list:yitem_delete' %}",#}
    {#        type: "GET",#}
    {#        data: {#}
    {#            pk: node_id,#}
    {#        },#}
    {#        success: function (data) {#}
                {#console.log(data)#}
    {#            console.log("delete_row_"+node_id)#}
    {#            document.getElementById("row_"+node_id).style.display = "none";#}
    {#        },#}
    {#        error: function (xhr, errmsg, err) {#}
    {#            console.log("error")#}
    {#            console.log(error_data)#}
    {#            $('#ajax_itemserror').html('Нет данных!');#}
    {#        }#}
    {#    });#}
    {#}#}

</script>