{% block ylistitems %}

    {% load static %}
    {% load i18n %}

    <div id="ajax_itemsresult">

        <div id="listslist" style="padding:0px 0px 0px 10px;">

            <div class="object-list-filters">
                <div id="myMenu">

                </div>
                <div id="myCell" style="display: none">
                    <form action="" method="POST" id="form_cell">
                        {% csrf_token %}
                        <textarea class="form-control" name="inputCellName" id="inputCell" placeholder="{% trans 'Введите значение' %}"
                                  autofocus></textarea>
                        <input type="submit" id="myCellButton" onclick="cell_edit(this)" value="{% trans 'Ok' %}">
                        <input type="button" id="myCellCancelButton" onclick="edit_cancel(this)" value="{% trans 'Отменить' %}">
                    </form>
                </div>
                <div id="myColumn" style="display: none">
                    <form action="" method="POST" id="form_column">
                        {% csrf_token %}
                        <label id="FormLabel"></label>
                        <input type="text" name="input_ColumnName" id="inputColumnName" placeholder="{% trans 'Введите наименование' %}" autofocus>
                        <select id="inputColumnType" class="hint hint--bottom hint--info" data-hint="{% trans 'Выберите тип данных в столбце' %}">
                            <!-- <option value="1">{% trans 'строка' %}</option>
                            <option value="2">{% trans 'текст' %}</option>
                            <option value="3">{% trans 'дата' %}</option>
                            <option value="4">{% trans 'число' %}</option>
                            <option value="5">{% trans 'да/нет' %}</option> -->
                            {% for ft in fieldtype %}
                                <option value="{{ ft.id }}">{{ ft.name }}</option>
                            {% endfor %}
                        </select>
{#                        <input type="submit" id="myColumnButton" onclick="column_edit(this)" value="{% trans 'Ok' %}">#}
                        <input type="submit" id="myColumnButton" onclick="myColumnActions(this)" value="{% trans 'Ok' %}">
                        <input type="button" id="myColumnCancelButton" onclick="edit_cancel(this)" value="{% trans 'Отменить' %}">
                    </form>
                </div>
            </div>

            <div class="table" id="myTable">

                {% for node in ylisttable %}

                    {% if forloop.first %}
                        <div class="th-row">
                            <div class="th-cell"></div>

                            {% for title in columns %}
                                <div class="dropdown" id="th-{{ forloop.counter0 }}" name="th-{{ forloop.counter0 }}">
                                    {#                                    <img src="{% static 'images/ins_column_above_24.png' %}" id="insert_col_pre_{{ current_ylist.id }}_{{ forloop.counter0 }}" node_prz="1" node_id=#}
                                    {#                                            "{{ current_ylist.id }}" node_sort="{{ forloop.counter0 }}" onClick="myClick_column_ins(this);"/>#}
                                    {#                                    <span onClick="myClick_column_edit(this);" column_id="column-{{ forloop.counter0 }}" pk="{{ current_ylist.id }}"#}
                                    {#                                          col="{{ title }}">{{ title }}</span>#}
                                    <button class="dropbtn" id="title_{{ forloop.counter0 }}">{{ title }}
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <div class="dropdown-content" id="myColumnMenu">
                                        <a id="insert_col_left_{{ current_ylist.id }}_{{ forloop.counter0 }}" col="{{ forloop.counter0 }}" node_prz="1"
                                           node_id="{{ current_ylist.id }}"
                                           node_sort="{{ forloop.counter0 }}" href="#" onclick="myColumnEdit(this.id)"
                                        >{% trans "Добавить столбец слева" %}</a>
                                        <a id="insert_col_right_{{ current_ylist.id }}_{{ forloop.counter0 }}" col="{{ forloop.counter0 }}" node_prz="2"
                                           node_id="{{ current_ylist.id }}"
                                           node_sort="{{ forloop.counter0|add:1 }}" href="#" onclick="myColumnEdit(this.id)"
                                        >{% trans "Добавить столбец справа" %}</a>
                                        <a id="update_col_{{ current_ylist.id }}_{{ forloop.counter0 }}" col="{{ forloop.counter0 }}" node_prz="3"
                                           node_id="{{ current_ylist.id }}"
                                           node_sort="{{ forloop.counter0 }}" node_title="{{ title }}" href="#" onclick="myColumnEdit(this.id)"
                                        >{% trans "Изменить" %}</a>
                                        <a id="delete_col_{{ current_ylist.id }}_{{ forloop.counter0 }}" col="{{ forloop.counter0 }}" col_name=
                                                "{{ title}}" node_prz="4"
                                           node_id="{{ current_ylist.id }}"
                                           node_sort="{{ forloop.counter0 }}" href="#" onclick="myColumnActions(this)">{% trans "Удалить" %}</a>
                                        {% if forloop.counter != 1 %}
                                            <a id="remove_col_left_{{ current_ylist.id }}_{{ forloop.counter0 }}" col="{{ forloop.counter0 }}" col_name="{{ title }}"
                                               node_prz="5"
                                               node_id="{{ current_ylist.id }}"
                                               node_sort="{{ forloop.counter0 }}" href="#" onclick="myColumnActions(this)">
                                                {% trans "Переместить влево" %}</a>
                                        {% endif %}
                                        {% if forloop.counter != len_columns %}
                                            <a id="remove_col_right_{{ current_ylist.id }}_{{ forloop.counter0 }}" col="{{ forloop.counter0 }}" col_name="{{ title }}"
                                               node_prz="6"
                                               node_id="{{ current_ylist.id }}"
                                               node_sort="{{ forloop.counter0 }}" href="#" onclick="myColumnActions(this)">
                                                {% trans "Переместить вправо" %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="{% cycle 'row1' 'row2' %}" id="row_{{ forloop.counter }}">
                        <div class="cell">
                            <div class="object-list-buttons">
                                <img src="{% static 'images/ins_row_above_24.png' %}" id="insert_row_pre_{{ forloop.counter }}" node_prz="1"
                                    node_id="{{ node.itemid }}" node_sort="{{ forloop.counter }}"
                                    onClick="myClick_ins(this);"/> 
                                <img src="{% static 'images/ins_row_after_24.png' %}" id="insert_row_after_{{ forloop.counter }}" node_prz="1" 
                                    node_id="{{ node.itemid }}" node_sort="{{ forloop.counter|add:1 }}"
                                    onClick="myClick_ins(this);"/>
                                
                                <button id="delete_row_{{ forloop.counter }}" node_id="{{ forloop.counter }}"
                                        onClick="myClick_del(this);">{% trans 'Удалить' %}</button>
                            </div>
                        </div>

                        {% for key, value in node.items %}
                            {% if key != 'itemid' %}
                                <div class="cell" id="td-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                     name="td-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                                     row="{{ forloop.parentloop.counter }}" pk="{{ node.itemid }}"
                                     column="{{ key }}" val="{{ value }}">{{ value }}</div>
                            {% endif %}
                        {% endfor %}

                    </div>

                {% endfor %}

            </div>
        </div>

        <div id="ajax_itemserror"></div>

        {#        <div style="display: none; position: absolute; top: 22px; left: 26px; width: 290px;" id="myCell_">#}
        {##}
        {#            <form action="" method="POST" id="form_cell">#}
        {#                {% csrf_token %}#}
        {#                <input type="text" name="inputCellName" id="inputCell" placeholder="{% trans 'Введите значение' %}" autofocus>#}
        {#                <input type="submit" id="myCellButton" onclick="cell_edit(this)" value="{% trans 'Ok' %}">#}
        {#            </form>#}
        {##}
        {#        </div>#}

    </div>

    </div>

{% endblock %}


<script>

    {#document.getElementById('myColumnMenu').onclick = function (e) {#}
    {#    var inp_col = document.getElementById("inputColumn");#}
    {#    inp_col.setAttribute('column', column);#}
    {#    document.getElementById("myColumn").style.display = "block";#}
    {#    document.getElementById("inputColumn").placeholder = val;#}
    {#    document.getElementById("inputColumn").value = val;#}
    {#    document.getElementById("inputColumn").focus();#}
    {#    concole.log('++++++++++++++++++++++++');#}
    {#}#}

    document.getElementById('myTable').onclick = function (e) {
        var name = e.target.getAttribute('name');
        {#var row = e.target.getAttribute('row');#}
        var pk = e.target.getAttribute('pk');
        var column = e.target.getAttribute('column');
        var val = e.target.getAttribute('val');
        var cell_id = e.target.getAttribute('id');
        var inp = document.getElementById("inputCell");
        {#inp.setAttribute('row', row);#}
        inp.setAttribute('pk', pk);
        inp.setAttribute('column', column);
        inp.setAttribute('cell_id', cell_id);
        {#inp.setAttribute('cell_id', cell_id);#}
        {#console.log('!==========!' + row + '/' + column + '/' + cell_id + '/' + val);#}
        if (e.target.tagName.toUpperCase() == "DIV") {
            //document.getElementById(e.target.id).innerHTML = "Welcome to JavaScript";
            document.getElementById("myCell").style.display = "block";
            document.getElementById("inputCell").placeholder = val;
            document.getElementById("inputCell").value = val;
            document.getElementById("inputCell").focus();
            {#document.getElementById("myCell").style.top = (e.clientY-12)+'px';#}
            {#document.getElementById("myCell").style.left = (e.clientX-50)+'px';#}
            {#console.log(name + '/' + document.getElementById("myCell").style.top + '/' + document.getElementById("myCell").style.left);#}
        }
    }

    function cell_edit(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        var elem = document.getElementById("inputCell");
        var pk = elem.getAttribute("pk");
        //var row = elem.getAttribute("row");
        var column = elem.getAttribute("column");
        var val = elem.value;
        var cell_id = elem.getAttribute("cell_id");
        console.log(pk + '/' + column + '/' + val + '/' + 'cell_id');
        $.ajax({
            url: "{% url 'my_list:yitem_celledit' %}",
            type: "GET",
            data: {
                col: column,
                pk: pk,
                val: val
            },
            success: function (data) {
                document.getElementById(cell_id).innerHTML = val;   // выводим значение ячейки без перезагрузки списка
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
                console.log(error_data)
                $('#ajax_itemserror').html('Нет данных!');
            }
        });
        document.getElementById("myCell").style.display = "none";
    }

    function edit_cancel() {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        document.getElementById("myCell").style.display = "none";
    }

    function myClick_ins(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        $.ajax({
            headers: {"X-CSRFToken": '{{csrf_token}}'},
            url: "{% url 'my_list:yitem_insert' %}",
            type: "GET",
            data: {
                prz: e.getAttribute("node_prz"),
                pk: e.getAttribute("node_id"),
                sort: e.getAttribute("node_sort"),
            },
            success: function (data) {
                $('#ajax_itemsresult').html(data);
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
                console.log(error_data)
                $('#ajax_itemserror').html('Нет данных!');
            }
        });
    }

    function myClick_del(e) {
        if (confirm('Вы действительно хотите удалить строку?')) {
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var node_id = e.getAttribute("node_id")
            $.ajax({
                url: "{% url 'my_list:yitem_delete' %}",
                type: "GET",
                data: {
                    pk: node_id,
                },
                success: function (data) {
                    {#console.log(data)#}
                    console.log("delete_row_" + node_id)
                    document.getElementById("row_" + node_id).style.display = "none";
                },
                error: function (xhr, errmsg, err) {
                    console.log("error")
                    console.log(error_data)
                    $('#ajax_itemserror').html('Нет данных!');
                }
            });
        };
    }

    function myColumnEdit(click_id) {

        var menu = document.getElementById(click_id);
        var prz = menu.getAttribute('node_prz');
        if (prz == 4) {
            if (confirm("{% trans 'Вы действительно хотите удалить столбец?' %}")) {
                {#event.preventDefault(); // *** без этого страница перегружается после возврата data#}
                {#var node_id = e.getAttribute("node_id")#}
                {#$.ajax({#}
                {#    url: "{% url 'my_list:yitem_delete' %}",#}
                {#    type: "GET",#}
                {#    data: {#}
                {#        pk: node_id,#}
                {#    },#}
                {#    success: function (data) {#}
                        {#console.log(data)#}
                {#        console.log("delete_row_" + node_id)#}
                {#        document.getElementById("row_" + node_id).style.display = "none";#}
                {#    },#}
                {#    error: function (xhr, errmsg, err) {#}
                {#        console.log("error")#}
                {#        console.log(error_data)#}
                {#        $('#ajax_itemserror').html('Нет данных!');#}
                {#    }#}
                {#});#}
            };
            return;
        };
        var id = menu.getAttribute('node_id');
        var col = menu.getAttribute('col');
        var name = menu.getAttribute('col_name');
        var prz = menu.getAttribute('node_prz');
        var pk = menu.getAttribute('node_id');
        var sort = menu.getAttribute('node_sort');
        console.log('myColumnEdit: prz=' + prz + '/id=' + id + '/sort=' + sort + '/name=' + name);
        var doc = document.getElementById("myColumn");
        var button = document.getElementById("myColumnButton");
        doc.style.display = "block";
        var form = document.getElementById("form_column");
        if (prz == 3) {
            var name = menu.getAttribute('node_title');
            document.getElementById('FormLabel').innerHTML = "{% trans 'Изменение столбца:' %}";
            document.getElementById('inputColumnName').value = name;
        } else if (prz == 1) {
            document.getElementById('FormLabel').innerHTML = "{% trans 'Добавление столбца слева:' %}";
        } else if (prz == 2) {
            document.getElementById('FormLabel').innerHTML = "{% trans 'Добавление столбца справа:' %}";
        };
        document.getElementById('inputColumnName').focus();
        button.setAttribute("col", col);
        button.setAttribute("node_prz", prz);
        button.setAttribute("node_id", pk);
        button.setAttribute("node_sort", sort);
        //button.setAttribute("col_name", name);
    }

    function myClick_column_ins(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        $.ajax({
            headers: {"X-CSRFToken": '{{csrf_token}}'},
            url: "{% url 'my_list:ylist_columninsert' %}",
            type: "GET",
            data: {
                prz: e.getAttribute("node_prz"),
                pk: e.getAttribute("node_id"),
                name: e.getAttribute("val"),
                type: e.getAttribute("type"),
                sort: e.getAttribute("node_sort"),
            },
            success: function (data) {
                var result = data['success']
                console.log(data['success'])
                if (result) {
                    $('#ajax_itemsresult').html(data);
                } else {
                    {#$('#ajax_itemserror').html('Такой столбец уже есть!');#}
                    alert(data['errmsg'])
                }
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
                console.log(error_data)
                $('#ajax_itemserror').html('Такой столбец уже есть!');
            }
        });
    }
/*
    function myClick_column_edit(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        {#var elem = document.getElementById("inputCell");#}
        var column_id = e.getAttribute("column_id");
        {#var col = elem.getAttribute("col");#}
        {#var val = elem.value;#}
        $.ajax({
            url: "{ url 'my_list:ylist_columnedit' %}",
            type: "GET",
            data: {
                pk: e.getAttribute("pk"),
                col: e.getAttribute("col"),
                val: e.value,
            },
            success: function (data) {
                document.getElementById(column_id).innerHTML = elem.value;   // выводим значение ячейки без перезагрузки списка
            },
            error: function (xhr, errmsg, err) {
                console.log("error")
                console.log(error_data)
                $('#ajax_itemserror').html('Нет данных!');
            }
        });
        document.getElementById("myColumn").style.display = "none";
    }
*/
    function myColumnActions(e) {
        event.preventDefault(); // *** без этого страница перегружается после возврата data

        var col_name = document.getElementById("inputColumnName").value;
        if (col_name == "") {
            var col_name = e.getAttribute("col_name");
        }
        var col_type = document.getElementById("inputColumnType").value;
        if (col_type == "") {
            var col_type = e.getAttribute("col_type");
        }
        var col = e.getAttribute("col");
        var prz = e.getAttribute("node_prz");
        var type = e.getAttribute("col_type");
        var sort = e.getAttribute("node_sort");
        console.log(col, prz, col_name, col_type, sort)

        if (prz == 4) {
            if (confirm("{% trans 'Вы действительно хотите удалить столбец?' %}")) {
                aj = 1;
            } else {
                aj = 0;
            }
        } else {
            aj = 1;
        }
        if (aj == 1) {
            $.ajax({
                url: "{% url 'my_list:ylist_columnactions' %}",
                type: "GET",
                data: {
                    pk: e.getAttribute("node_id"),
                    col: sort, //parseInt(e.getAttribute("col")) + shift,
                    col_name: col_name,
                    col_type: col_type,
                    prz: prz,
                    val: e.value,
                },
                success: function (data) {
                    //if prz == 3 {
                    //    document.getElementById('title_'+col).innerHTML = col_name.value;   // выводим значение ячейки без перезагрузки списка
                    //} else {
                       $('#ajax_itemsresult').html(data);
                    //};
                },
                error: function (xhr, errmsg, err) {
                    console.log("error")
                    console.log(error_data)
                    $('#ajax_itemserror').html('Нет данных!');
                }
            });
        }
        document.getElementById("myColumn").style.display = "none";
    }

</script>