
{% load i18n %}

<!--<div class="client-list">-->

   <!--{ if component_name == 'crm' %}-->
       

      <!--<div id="ajax_clientlistresult">-->
         <ul>
            {% for node in nodes %}
               <!--<div class="d-tr">
                  <div class="d-td-text">-->
                     <li><span class="hint hint--bottom hint--info" data-hint="{{ node.description|striptags }}"><b><a href="{% url 'my_crm:clienttasks' node.pk 0 %}">#{{ node.id }}. {{ node.lastname }} {{ node.firstname }} {{ node.middlename }}</a></span>&nbsp;<span style="font-size: 70%; color: green;">{{ node.datecreate}} | {{ node.type }} | {{ node.status }} | <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{% url 'my_account:userprofile_detail' node.manager.pk ' ' %}">{{ node.manager }}</a></span> | <span class="hint hint--bottom hint--info" data-hint="{% trans 'Профиль' %}"><a style="color: green" href="{% url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author }}</i></a></span></span></b></li>
                  <!--</div>
               </div>-->
            {% endfor %}
         </ul>
      <!--</div>-->


   <!--{ endif %}    -->

   <p><em>{{ object_message }}</em></p>

<!--</div>   -->

