{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block client %}
   <!-- Защита от прямого доступа к Клиенту -->
   {% if current_object.company.id in user_companies %}

     <div class="object-detail">

       <h4>{{ current_object.lastname }} {{ current_object.firstname }} {{ current_object.middlename }}
       {% if not current_object.is_active %}
          (Клиент перемещён в архив)
       {% endif %}
       </h4>
       <p>{% autoescape off %}{{ current_object.description }}{% endautoescape %}</p>
       <p>Менеджер: {{ current_object.manager }}</p>     
       <!--<p>Начало: { current_object.datebegin }}</p>
       <p>Окончание: { current_object.dateend }}</p>-->
       <p>Тип: {{ current_object.type }}</p>
       <p>Статус: {{ current_object.status }}</p>
       <p>Инициатор: {{ current_object.initiator }}</p>
       <p>Затраченное время, час.: {{ hours }} час {{ minutes }}  мин {{ seconds|floatformat:0 }} сек</p>       
       <p>Выполнен на: {{ current_object.percentage }} %</p>
       <p><i>Участники: 
       {% for u in current_object.members.all %}
          <span class="hint hint--bottom hint--info" data-hint="Профиль"><a href="{% url 'my_account:userprofile_detail' u.pk ' ' %}">{{ u.username }}</a>,</span>&nbsp;
       {% endfor %}
       </i></p>
       <em>Автор: {{ current_object.author }}</em><br /> 
       <!--<em>Участники: { current_object.members.name }}</em><br /> -->
       <em>Дата: {{ current_object.datecreate }}</em>
       <p>&nbsp;</p>
       {% if user.is_authenticated and user.id == current_object.author_id  %}

       {% endif %}

     </div>

  {% else %}
     <h4>Информация о Клиенте недоступна!</h4>
  {% endif %}  

{% endblock client %}

{% block list %}
   <!-- Защита от прямого доступа к истории проекта -->
   {% if current_object.company.id in user_companies %}

<!--     <div class="project-history-list">-->
      <div class="object-list">   

        <h5>История Клиента</h5>

        <!--{ render_table table %}-->
        
        {% include 'object_history.html' %}

        <!--
        <ul>
         { for psl in nodes %}
            <li>{ psl.date }}&nbsp;{ psl.status }}&nbsp;{ psl.author }}&nbsp;{ psl.description }}</li>
         { endfor %}
        </ul>    
        -->
        <!--
        <table>
           <!-<caption>История проекта</caption>->
           <tr>
              <th>Дата</th><th>Статус</th><th>Автор</th><th>Комментарий</th>
           </tr>
           {% for psl in nodes %}
              <tr>
                 <td>{ psl.date }}</td><td>{ psl.status }}</td><td>{ psl.author }}</td><td>{ psl.description }}</td>
              </tr>
           {% endfor %}
        </table>  
        -->
<!--
        <div class="d-table">
         <div class="d-tr">
           <div class="d-td"><b>Дата</b></div>
           <div class="d-td"><b>Статус</b></div>
           <div class="d-td"><b>Автор</b></div>
           <div class="d-td"><b>Комментарий</b></div>
         </div>
         { for psl in nodes %}
            <div class="d-tr">
               <div class="d-td">{ psl.date }}</div>
               <div class="d-td">{ psl.status }}</div>
               <div class="d-td">{ psl.author }}</div>
               <div class="d-td">{ psl.description }}</div>
            </div>
         { endfor %}
        </div>
 
      </div>
-->  
      </div>          
      <p>&nbsp;</p>
   <!--<a href="{ url 'my_project:task_create' project.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
   <!--<div class="task-entry"></div><a href="{ url 'my_project:task_create' projectid 0 %}" class="top-menu"><span class="badge badge-secondary">{{ button_task_create }}</span></a></div>-->

   {% else %}
      <h5>Информация об истории Клиента недоступна!</h5>
   {% endif %}  

   {% endblock list %}