{% extends 'base.html' %}

{% load i18n %}

{% block event %}

    <div class="object-detail">
        <div>
            <div class="object-detail-header">
                <h4>{% trans "Событие" %}: {{ clientevent.name }}
                    {% if not clientevent.is_active %}
                        ({% trans "Событие перемещено в архив" %})
                    {% endif %}
                </h4>
            </div>
            <div class="object-detail-left">
                <p>{% autoescape off %}{{ clientevent.description }}{% endautoescape %}</p>
                <i><p>{% trans "Клиент" %}: <span class="hint hint--bottom hint--info" data-hint="Задачи и События клиента"><a href="{% url 'my_crm:clienttasks' clientevent.client.pk 0 %}">{{ clientevent.client }}</a></span></p></i>
                {% if clientevent.task %}
                    <p>{% trans "Связанная задача" %}: <a href="{% url 'my_crm:clienttaskcomments' clientevent.task.id %}">{{ clientevent.task }}</a></p>
                {% endif %}
                <p>{% trans "Исполнитель" %}: <span class="hint hint--bottom hint--info" data-hint="Профиль исполнителя"><a href="{% url 'my_account:userprofile_detail' clientevent.assigner.pk ' ' %}">{{ clientevent.assigner }}</a></span></p>
                <p>{% trans "Начало" %}: {{ clientevent.datebegin }}</p>
                <p>{% trans "Окончание" %}: {{ clientevent.dateend }}</p>
                <p>{% trans "Тип" %}: {{ clientevent.type }}</p>
                <p>{% trans "Статус" %}: {{ clientevent.status }}</p>
                <p>{% trans "Инициатор" %}: {{ clientevent.initiator }}</p>
                <em>{% trans "Автор" %}: {{ clientevent.author }}</em><br />
                <em>{% trans "Дата" %}: {{ clientevent.datecreate }}</em>
                <p>&nbsp;</p>
            </div>
            <div class="object-detail-right">{% include 'objectfile_list.html' %}</div>
        </div>
        <div class="object-detail-buttons">
            <!--<a href="{ url 'my_crm:clientevent_create' clientevent.client.id 0 %}">{{ button_clientevent_create }}</a>-->
            <a href="{% url 'my_crm:clientevent_update' clientevent.pk %}">{{ button_clientevent_update }}</a>
            <!--<a href="{ url 'my_crm:clientevent_history' clientevent.pk %}">{ button_clientevent_history }}</a>-->
            <a href="{% url 'my_main:object_history' 'clevnt' clientevent.pk %}">{{ button_clientevent_history }}</a>
        </div>

    </div>

{% endblock %}

<!--<hr>-->

{% block list %}

    <div class="object-list">

        <h5>{% trans "Комментарии" %}</h5>

        <div class="object-list-buttons">
            <a href="{% url 'my_crm:clienteventcomment_create' clientevent.pk %}">{{ button_clienteventcomment_create }}</a>
        </div>
        <br />

        {% for eventcomment in nodes %}
            <div class="comment-entry">
                <b>{{ eventcomment.name }} : <span style="font-size: 70%; color: blue;">{{ eventcomment.datecreate }} |
               <span><span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: blue;" href="{% url 'my_account:userprofile_detail' eventcomment.author.pk ' ' %}">{{ eventcomment.author.username }}</a></span></i></span></b>
                <p>{% autoescape off %}{{ eventcomment.description }}{% endautoescape %}</p>
                {% if taskcomment.files %}
                    <em style="font-size: 70%;">Файлы</em style="font-size: 70%;">
                {% endif %}
                {% for f in eventcomment.files %}
                    <em style="font-size: 70%;"><a href="{{ media_path }}{{ f.pfile }}" target="_blank">{{ f.uname }}</a><!-- { f.psize }} { f.datecreate }}-->, </em>
                {% endfor %}
                <hr>
            </div>
        {% endfor %}

        <p>&nbsp;</p>

    </div>

{% endblock list %}
