body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;    
}

header {
    border-bottom: 1px solid #999999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: red;
    text-decoration: none;  
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.company-entry {
    margin-bottom: 2rem;
}

.company-entry h2 {
    margin-bottom: 0.5rem 0;
}

.company-entry h2 a,
.company-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.company-entry p {
    margin: 0;
    font-weight: 400;
}

.company-entry h2 a:hover {
    color: red;
}

.project-entry {
    margin-bottom: 2rem;
}

.project-entry h2 {
    margin-bottom: 0.5rem 0;
}

.project-entry h2 a,
.project-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.project-entry p {
    margin: 0;
    font-weight: 400;
}

.project-entry h2 a:hover {
    color: red;
}

.task-entry {
    margin-bottom: 2rem;
}

.task-entry h2 {
    margin-bottom: 0.5rem 0;
}

.task-entry h2 a,
.task-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.task-entry p {
    margin: 0;
    font-weight: 400;
}

.task-entry h2 a:hover {
    color: red;
}

.comment-entry {
    margin-bottom: 2rem;
}

.comment-entry h2 {
    margin-bottom: 0.5rem 0;
}

.comment-entry h2 a,
.comment-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.comment-entry p {
    margin: 0;
    font-weight: 400;
}

.comment-entry h2 a:hover {
    color: red;
}

/*
footer {
    border-bottom: 1px solid #999999;
    margin-bottom: 2rem;
    display: flex;
}
*/

*{
    box-sizing: border-box;
  }
  .d-table{
    display: table;
    width: 80%;
    border-collapse: collapse;
  }
  .d-tr{
    display: table-row;
  }
  .d-td{
    display: table-cell;
    text-align: center;
    border: none;
    border: 1px solid #995;
    vertical-align: middle;
  }
  .d-td:not(.no-p){
    padding: 4px;
  }
  .d-td-text{
    display: table-cell;
    /*text-align: left;*/
    border: none;
    /*border: 1px solid #995;*/
    vertical-align: top;
  }
  .d-td-num{
    display: table-cell;
    text-align: right;
    border: none;
    border: 1px solid #995;
    vertical-align: middle;
  }
