body {
    color: #000; /* цвет текста на странице */
    background: #fff; /* фон */
    margin: 0; /* обнуление полей */
   }
#header {
    height: 100px; /* высота шапки */
    background: #fc0; /* фон */
   }
#menu {
    width: 15%; /* ширина меню */
    height: 300px; /* высота */
    background: #0fc; /* фон */
    float: left; /* всплытие влево */
    /*margin: 0 5% 0 5%; /* боковые поля */
   }
#sidebar {
    width: 15%; /* ширина сайдбара */
    height: 300px; /* высота */
    background: #c0f; /* фон */
    float: right; /* всплытие вправо */
   }
#content {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    margin: 0 15% 0 15%; /* боковые поля */
   }
#footer {
    height: 50px; /* высота футера */
    color: #fff; /* цвет текста */
    background: #000; /* фон */
    clear: both; /* прерывание обтекания */
   }
