body {
    color: #000; /* цвет текста на странице */
    background: #fff; /* фон */
    margin: 0; /* обнуление полей */
   }
#header {
    height: 50px; /* высота шапки */
    background: #fc0; /* фон */
   }
#menu {
    width: 15%; /* ширина меню */
    /*height: 300px; /* высота */
    color: rgb(223, 201, 4);
    background: rgb(79, 103, 109); /* фон */
    float: left; /* всплытие влево */
    /*margin: 0 5% 0 5%; /* боковые поля */
    margin: 1% 1% 1% 1%;
   }
#sidebar {
    width: 15%; /* ширина сайдбара */
    /*height: 300px; /* высота */
    background: #c0f; /* фон */
    float: right; /* всплытие вправо */
   }
#content {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    margin: 1% 17% 1% 17%; /* боковые поля */
   }
#footer {
    height: 50px; /* высота футера */
    color: #fff; /* цвет текста */
    /*background: rgb(0, 65, 0); /* фон */
    background: rgb(82, 97, 90); /* фон */
    /*clear: both; /* прерывание обтекания */
    /*margin: 10px 0% 0% 0%;*/
    float: bottom;
   }
