body {
    color: #000; /* цвет текста на странице */
    background: rgb(206, 206, 206) url(fon_3_1.jpg); /* фон */
    background-attachment: fixed;
    margin: 0; /* обнуление полей */
}

.header {
    height: 55px; /* высота шапки */
    background: #fc0; /* фон */
    float: top; /* всплытие вверх */
    padding: 15px 10px 15px 0px;
    border-radius: 10px;
}

.footer {
    height: 46px; /* высота футера */
    color: #fff; /* цвет текста */
    /*background: rgb(0, 65, 0); /* фон */
    background: rgb(82, 97, 90); /* фон */
    /*clear: both; /* прерывание обтекания */
    margin: 5px 0 5px 0;
    /*float: bottom;*/
    border-radius: 10px;
}

.layout {
    overflow: hidden;
    /*min-height: 89vh;*/
}

.menu {
    float: left;
    background: #C7E3E4;
    width: 200px;
    /*min-height: 880px;*/
    min-height: 88vh;
    color: #fff;
    background: rgb(79, 103, 109); /* фон */
    padding: 15px 0px 15px 0px;
    margin: 5px 5px 5px 5px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(78, 78, 78);
}
.menu a {
    color: #fff;
}
.menu a:hover {
    color: #fc0;
    background-color: rgb(79, 103, 109);
    border-left: 5px solid #fc0;
    border-bottom: 5px solid #fc0;
    text-decoration: none;
    /*border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(78, 78, 78);*/
}
.menu span {
    /*color: yellow;*/
    padding: 0px 0px 0px 27px;
    /*margin: 5px 5px 5px 5px;   */
}


.sidebar {
    float: right;
    /*background: #C7E3E4; */
    width: 200px;
    min-height: 88vh;
    /*color: #fff;*/
    background: rgb(79, 103, 109); /* фон */
    padding: 15px 0px 15px 0px;
    margin: 5px 5px 5px 5px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(78, 78, 78);
    height: 200px;
    overflow-y: scroll;
}
.sidebar a {
    /*color: #000;*/
}
.sidebar a:hover {
    text-decoration: none;
    /*color: #fc0;
    background-color: rgb(79, 103, 109);
    border-left: 5px solid #fc0;
    border-bottom: 5px solid #fc0;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(78, 78, 78);*/
}

.sidebar-notifications-list {
    font-size: x-small;
    color: #ffffff;
    height: 590px;
    overflow-y: scroll;
}

.content {
    min-height: 88vh;
    margin: 5px 210px 0 210px; /* Отступ справа и слева */
    background: #eee; /* фон */
    padding: 10px 15px 10px 15px;
    border: 1px solid;
    border-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgb(78, 78, 78);
    font-size: 80%;
}
/*.menu + .content {
   width: 80%;
   margin-left: 20%;
}*/
.object-detail {
    background: #eee; /* фон */
    background: linear-gradient(to left, #eee, #8e968e);
    /* margin: 2% 1% 2% 1%; /* боковые поля */
    padding: 10px 15px 10px 15px;
    /* border: 1px solid; */
    border-radius: 10px;
    width: 100%;
    /* float: left;    */
    /* display: table; */
    display: grid;
}

.circle-left {
    width: 10px;
    height: 10px;
    background: rgb(31, 30, 30);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 5px;
    float: left;
}
.circle-right {
    width: 8px;
    height: 8px;
    background: rgb(31, 30, 30);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 5px;
    float: right;
}
.object-detail p {
    line-height: 5px;
}
.object-detail a {
    color: rgb(180, 180, 180);
    text-shadow: 1px 1px #fff;
}
.object-detail a:hover{
    color: #000;
    text-decoration: none;
}
.object-detail-buttons {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    background: linear-gradient(to left, #8e968e, #eee);
    /*background: url(https://html5book.ru/wp-content/uploads/2015/10/background54.png);*/
    /*margin: 2% 1% 2% 1%; /* боковые поля */
    padding: 10px 15px 10px 15px;
    border: 0px solid;
    border-radius: 10px;
    /*float: inherit;*/
}
/*.object-detail a {
   color: #fff;
   padding: 5px 10px;
   text-decoration: none;
   font-weight: bold;
   display: inline-block;
   width: 100px;
   }*/
.object-detail-buttons a {
    text-decoration: none;
    /*text-shadow: 1px 1px;*/
    display: inline-block;
    padding: 6px 8px;
    /*margin: 10px 20px;*/
    border-radius: 10px;
    /*background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);*/
    background-image: linear-gradient(to left, #8e968e, #eee);
    background-position: 50% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    /*font-weight: 200;*/
    font-weight: bold;
    color: #4b4b4b;
    box-shadow: 0 16px 32px 0 #8e968e;
    transition: .5s;
}
.object-detail-buttons a:hover {
    color: #8e968e;
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
    text-decoration: none;
}
.object-detail-buttons a:empty {
    display: none;
}
.object-detail-buttons button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.object-detail-buttons button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.object-detail-buttons button:active {
    position:relative;
    top:1px;
}

.object-detail-buttons input {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.object-detail-buttons input:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.object-detail-buttons input:active {
    position:relative;
    top:1px;
}

.object-detail-header {
    padding: 10px 15px 10px 15px;
    border: 0px solid;
    border-radius: 10px;
}

.object-detail .object-detail-left {
    float: left;
}
.object-detail .object-detail-right {
    float: right;
}
.object-detail .object-detail-subcontainer {
    float: left;
}

.object-detail-text p {
    line-height: 15px;
}

.object-list {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    margin: 2% 1% 2% 1%; /* боковые поля */
    padding: 10px 15px 10px 15px;
    /*border: 1px solid;
    border-radius: 10px;*/
}
.object-list img { width: 25px; border: none; }
.object-list ap {
    /*height: 300px; /* высота контента */
    background: #8e968e; /* фон */
    /*margin: 2% 1% 2% 1%; /* боковые поля /
    padding: 10px 15px 10px 15px;*/
    /*border: 1px solid;
    border-radius: 10px;*/
}

.object-list-buttons {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    background: linear-gradient(to left, #eee, #8e968e);
    /*margin: 2% 1% 2% 1%; /* боковые поля */
    padding: 10px 15px 10px 15px;
    border: 0px solid;
    border-radius: 10px;
    /*float: left;*/
}
.object-list-buttons a {
    text-decoration: none;
    display: inline-block;
    /*padding: 15px 30px;*/
    padding: 6px 8px;
    /*margin: 10px 20px;*/
    border-radius: 10px;
    /*box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;*/
    box-shadow: 0 0 40px 40px #8e968e inset, 0 0 0 0 #8e968e;
    /*background-image: linear-gradient(to left, #8e968e, #eee);*/
    background: linear-gradient(to left, #8e968e, #eee);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*letter-spacing: 2px;*/
    color: white;
    transition: .15s ease-in-out;
}
.object-list-buttons a:hover {
    /*box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;*/
    box-shadow: 0 0 10px 0 #8e968e inset, 0 0 10px 4px #8e968e;
    color: #8e968e;
    text-decoration: none;
}
.object-list-buttons a:empty {
    display: none;
}
.object-list-buttons p {
    color: #8e968e;
    background: #8e968e;
}
.object-list-filters {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    background: linear-gradient(to top, #eee, #8e968e);
    /*margin: 2% 1% 2% 1%; /* боковые поля */
    padding: 10px 15px 10px 15px;
    border: 0px solid;
    border-radius: 10px;
    /*float: left;*/
}

.select-lang {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    background: linear-gradient(to top, #eee, #8e968e);
    /*margin: 2% 1% 2% 1%; /* боковые поля */
    padding: 10px 15px 10px 15px;
    border: 0px solid;
    border-radius: 10px;
    float: right;
}
.object-list-wrapper {
    display: flex;
    width: 100%;
    /*overflow:hidden;*/
}
/*.object-list-left, .object-list-right {
    margin: 0px 5px 0px 5px;
    padding: 15px;*/
    /*border: 1px solid #dedede;*/
    /*box-shadow: 0 10px 10px #b8beb8 inset, 0 10px 10px #b8beb8;*/
    /*box-shadow: 0.8em 10px #b8beb8;*/
    /*box-shadow: 0.4em 0.4em 15px rgba(165, 165, 165, 0.5);*/
/*}*/
.object-list .object-list-left {
    /*float: left;*/
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    /*width: 49%;*/
}

.object-list .object-list-right {
    /*float: right;*/
    padding: 0px 0px 0px 35px;
    text-decoration: none;
    /*width: 49%;*/
    /*margin-left: 52%;*/
}

.object-list-chat {
    /*height: 300px; /* высота контента */
    background: #eee; /* фон */
    margin: 2% 1% 2% 1%; /* боковые поля */
    padding: 10px 15px 10px 15px;
    /*border: 1px solid;
    border-radius: 10px;*/
}

.object-chats-wrapper {
    display: flex;
    width: 100%;
    /*height: 10%;
    overflow:hidden;*/
}

.object-chats-chats {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 1px 0px 0px;
    text-decoration: none;
    width: 25%;
    /*min-height: 100%;*/
    max-height: 10%;
    border: 1px solid;
    border-radius: 10px;
    /*background: red;*/
}
.object-chats-messages {
    padding: 0px 0px 0px 0px;
    margin: 0px 1px 0px 0px;
    text-decoration: none;
    min-height: 100%;
    float: left;
    width: 75%;
    border: 1px solid;
    border-radius: 10px;
    height: 200px;
    overflow-y: scroll;
}

.object-chats-messages-form {
    padding: 0px 0px 0px 0px;
    margin: 0px 1px 0px 0px;
    text-decoration: none;
    min-height: 100%;
    height: 100%;
    float: left;
    width: 75%;
    border: 1px solid;
    border-radius: 10px;
}

.chat_message {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}
.chat_message_my {
    margin: 0px 0px 0px 100px;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    background: rgb(100, 100, 100) radial-gradient(circle at 50% 0, rgba(255, 255, 255, .65), rgba(255, 255, 255, .35));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

.object-chats-members {
    float: left;
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    width: 25%;
    min-height: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
    /*background: blue;*/
}

.object-list-list-wrapper {
    display: flex;
}
.object-list .object-list-list-left {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    /*background: #eee;
    background: linear-gradient(to left, #eee, #8e968e);*/
}
.object-list .object-list-list-right {
    padding: 0px 0px 0px 35px;
    text-decoration: none;
    /*background: #eee;
    background: linear-gradient(to right, #eee, #8e968e);*/
}

.object-list-row {
    background: #eee; /* фон */
    background: linear-gradient(to top, #eee, #8e968e);
}
.object-list .object-filelist-left {
    float: left;
}
.object-list .object-filelist-right {
    float: right;
}
.object-list .object-filelist-subcontainer {
    float: left;
}

.object-filter-button {
    text-decoration: none;
    display: inline-block;
    padding: 4px 6px;
    /*margin: 10px 20px;*/
    border-radius: 10px;
    /*background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);*/
    background-image: linear-gradient(to left, #8e968e, #eee);
    background-position: 50% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    /*font-weight: 200;*/
    font-weight: bold;
    color: #4b4b4b;
    box-shadow: 0 12px 24px 0 #8e968e;
    transition: .5s;
}
.object-filter-button:hover {
    color: #8e968e;
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
    text-decoration: none;
}
.object-filter-button:empty {
    display: none;
}


.object-detail-button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.object-detail-button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.object-detail-button:active {
    position: relative;
    top:1px;
}
.object-detail--button:empty {
    display: none;
}


.table {
    display: table;
    /*margin-bottom: 20px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #ffd300;
    background: #fff!important;*/
    box-shadow: 0 12px 16px 0 #8e968e;
}
.th-row {
    display: table-row;
    background-color: #8e968e;
    font-weight: bold;
}
.th-cell {
    display: table-cell;
    /*background-color: grey;*/
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
}
.row1 {
    display: table-row;
    /*background-color: grey;*/
}
.row2 {
    display: table-row;
    background-color: #dadbda;
}
.cell {
    display: table-cell;
    text-align: center;
    /*color: grey;*/
}


.table-files {
    display: table;
    /*margin-bottom: 20px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #ffd300;
    background: #fff!important;
    box-shadow: 0 12px 16px 0 #8e968e;*/
}

.row-files {
    display: table-row;
    /*background-color: grey;*/
}

.cell-files {
    display: table-cell;
    text-align: right;
    padding: 0 10px 0 10px;
    /*color: grey;*/
}
.cell-files-left {
    display: table-cell;
    text-align: left;
    padding: 0 10px 0 10px;
    /*color: grey;*/
}
.cell-files-left a:hover{
    color: darkblue;
    /*font-weight: bold;*/
    text-decoration: none;
}

.tree span:hover {
    font-weight: bold;
}

.tree span {
    cursor: pointer;
}
/*
.treeline .drop {
   float: left;
   position: relative; left: -6px; top: 5px; width: 11px;
   height: 11px; line-height: 1em; text-align: center;
   /*background: #9F9F9F; color: #fff; /* Фон и цвет кнопки, раскрывающей список
   font-size: 78%; /* Размер +/-
   cursor: pointer; -webkit-user-select: none; -moz-user-select: none;
}
.treeline li {list-style-type: none;}*/
.treeline li:last-child > .drop {margin-left: 1px;}
.treeline .drop + ul {display: none;}
.treeline .dropM + ul {display: block;}

/* http://shpargalkablog.ru/2014/12/tabletree.html */
/*.treeline,
.treeline ul,*/
.treeline li {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
}
/*.treeline li a:active {
  color: #e0a800 !important;
}*/
.treeline ul {
    margin: 0 0 0 -2.2em; /* вести линию вниз где-то с полбуквы родителя */
}
.treeline > li:not(:only-child),
.treeline li li {
    position: relative;
    padding: .2em 0 0 1.2em; /* отступ до текста; для раскрывающегося списка в ряде случаев (в Хроме есть баг) padding-top (.2em) лучше указывать в px */
}
.treeline li:not(:last-child) {
    border-left: 1px solid #ccc; /* толщина, цвет и стиль (вместо сплошной пунктирная или точечная) вертикальной линии */
}
.treeline li li:before,
.treeline > li:not(:only-child):before { /* горизонтальная линия */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em; /* не более отступа до текста (1.2em) */
    height: .7em; /* начинается приблизительно с половины высоты буквы (.5em + .2em) */
    border-bottom: 1px solid #ccc;
}
.treeline li:last-child:before { /* вертикальная линия последнего пункта в каждом списке */
    width: calc(1.1em - 1px); /* для перфекционистов */
    border-left: 1px solid #ccc;
}
.treeline .drop {
    position: absolute;
    left: -.5em;
    top: .4em; /* .2em (font-size: 80%;) + .2em (padding из .treeCSS li li) */
    width: .9em;
    height: .9em;
    line-height: .9em;
    text-align: center;
    /*background: #fff;*/
    background: rgb(79, 103, 109); /* фон */
    font-size: 80%;
    cursor: pointer;
}

.grid {
	display: table;
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 5px;
}
.grid-tr1 {
	display: table-row;
    background: #E8E8E8;
}
.grid-tr2 {
	display: table-row;
}
.grid-th {
	display: table-row;
    font-weight: bold;
    background: #E0E0E0;
    text-align: center;
}
.grid-td {
	display: table-cell;
	/*width: 33.3%;*/
	vertical-align: top;
	padding: 0;
}
/*===========================================*/
/*body{*/
/*  background: #16a085;*/
/* }*/
.content-tab{
  width: 100%;
  height: auto;
  margin: 0 auto;
  /*padding: 30px;*/
}
.nav-pills{
  width: auto;
}
.nav-item{
  width: auto;
}
.nav-pills .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.nav-pills .nav-link.active{
  background: #fff;
  color: #000;
}
.tab-content-tab{
  position: absolute;
  /*width: 100%;*/
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  /*padding: 30px;*/
  margin-bottom: 50px;
}
.tab-content-tab button{
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
}
/*===========================================*/
.warpper {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #32557f;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.panels {
  background: #fff;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  /*max-width: 500px;*/
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel {
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab {
  background: #fff;
  color: #000;
  border-top: 3px solid #32557f;
}
/*===========================================*/
#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  margin: 0 .5em 0 0;
}

#tabs a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;
}

#tabs #current a,
#tabs #current a::after {
  background: #fff;
  z-index: 3;
}

#content {
  background: #fff;
  padding: 2em;
  height: 220px;
  position: relative;
  z-index: 2;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
/* for dropdown menu */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    /*float: left;*/
    /*overflow: hidden;*/

    display: table-cell;
    /*background-color: grey;*/
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    /*padding: 14px 16px;*/
    padding: 4px 6px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*position: fixed;*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: dimgray;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text-localization {
    font-weight: bold;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.text-localization a {
    text-decoration: none;
}
/* *************************************** */
/* (A) HIDE CHECKBOX */
.togCheck { display: none; }
/* .togCheck { visibility:hidden; } */

/* (B) HIDE CONTENT BY DEFAULT */
.togContent {
  max-height: 0;
  opacity: 0;
  transition: max-height 1s;
  visibility: hidden;
  /* background-image: url("images/expand-button_icon-icons.com_72763.png"); */
}

/* (C) SHOW CONTENT WHEN CHECKED */
.togCheck:checked + .togContent {
  max-height: 100vh; /* any insanely large number if a lot of contents */
  opacity: 1;
  visibility: visible;
  /* image: url("../images/expand-less_119177.png"); */
}

.togButton {
  display: block;
  width: 100%;
  padding: 10px;
  /* color: #fff;
  background: #00409f; */
  cursor: pointer;
  /* image: url("../images/expand-less_119177.png"); */
}

.blog {
  background: #fff;
  padding: 2em;
  /* height: 220px; */
  position: relative;
  z-index: 2;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

.align-left {
  float: left;
  /* width:33%; */
}

.align-center {
  text-align: center;
  display: inline-block;
  width:34%;
}

.align-right {
  float: right;
  text-align: right;
  /* width:33%; */
}


