{% extends 'base.html' %}
<!--{ extends "../login_base.html" %}-->

{% block title %}Регистрация пользователя{% endblock %}

{% block registration %}
   
   <div class="object-detail">
      <h3>Регистрация пользователя</h3>
      <p>Пожалуйста, заполните все поля формы:</p>
      <form action="." method="post">
          {{ user_form.as_p }}
          {% csrf_token %}
          <div class="object-detail-buttons">
             <input type="submit" value="Создать">
          </div>
      </form>
   </div>

{% endblock %}