{% extends 'base.html' %}

{% load i18n %}

{% block project %}
  <div class="object-detail">
    <h2>{{ taskcomment.task.project.name }}</h2>
    <p>{{ taskcomment.task.project.description }}</p>
    <p>{% trans "Исполнитель" %}: {{ taskcomment.task.project.assigner }}</p>     
    <p>{% trans "Начало" %}: {{ taskcomment.task.project.datebegin }}</p>
    <p>{% trans "Окончание" %}: {{ taskcomment.task.project.dateend }}</p>
    <p><i>{% trans "Автор" %}: {{ taskcomment.task.project.author }}</i></p> 
    <p><i>{% trans "Дата" %}: {{ taskcomment.task.project.datecreate }}</i></p>
    <p>&nbsp;</p>   
  </div>
{% endblock project %}

{% block task %}
   <div class="object-detail">
      <h2>{{ taskcomment.task.name }}</h2>
      <p>{{ taskcomment.task.description }}</p>
      <p>{% trans "Исполнитель" %}: {{ taskcomment.task.assigner }}</p>       
      <p>{% trans "Начало" %}: {{ taskcomment.task.datebegin }}</p>
      <p>{% trans "Окончание" %}: {{ taskcomment.task.dateend }}</p>
      <p><i>{% trans "Автор" %}: {{ taskcomment.task.author }}</i></p>
      <p><i>{% trans "Дата" %}: {{ taskcomment.task.datecreate }}</i></p>              
      <p>&nbsp;</p>
   </div>
{% endblock task %}

 {% block list %}
    <div class="object-detail">
        <h2>{{ taskcomment.name }}</h2>
        <p>{{ taskcomment.description }}</p>
        <p><i>{% trans "Автор" %}: {{ taskcomment.author }}</i></p>
        <p><i>{% trans "Дата" %}: {{ taskcomment.datecreate }}</i></p>        
        <p>&nbsp;</p>
    </div>
    <!--<div class="comment-entry"></div><a href="{ url 'my_project:taskcomment_create' task.pk %}" class="top-menu"><span class="badge badge-secondary">Добавить Комментарий</span></a></div> -->
{% endblock list %}