{% extends 'base.html' %}

{% load i18n %}

{% load render_table from django_tables2 %}

{% block project %}
   <!-- Защита от прямого доступа к проекту -->
   {% if current_object.project.company.id in user_companies %}

      <div class="object-detail">

         <h4>{{ current_object.name }}
         {% if not current_object.is_active %}
            ({% trans "Задача перемещна в архив" %})
         {% endif %}
         </h4>
         <p>{% autoescape off %}{{ current_object.description }}{% endautoescape %}</p>
         <p>{% trans "Исполнитель" %}: {{ current_object.assigner }}</p>     
         <p>{% trans "Начало" %}: {{ current_object.datebegin }}</p>
         <p>{% trans "Окончание" %}: {{ current_object.dateend }}</p>
         <p>{% trans "Статус" %}: {{ current_object.status }}</p>
         <em>{% trans "Автор" %}: {{ current_object.author }}</em>
         <!--<em>{ trans "Участники" %}: { current_object.members.name }}</em><br /> -->
         <em>{% trans "Дата" %}: {{ current_object.datecreate }}</em>
         <p>&nbsp;</p>
         
         {% if user.is_authenticated and user.id == current_object.author_id  %}

         {% endif %}

      </div>

  {% else %}
     <h4>{% trans "Информация о проекте недоступна!" %}</h4>
  {% endif %}  

{% endblock project %}

{% block list %}
   <!-- Защита от прямого доступа к истории проекта -->
   {% if current_object.project.company.id in user_companies %}

      <div class="object-list">

         <h5>{% trans "История изменений задачи" %}</h5>
       
         <!--{ render_table table %}  -->
         
         {% include 'object_history.html' %}
       
      </div>
      <p>&nbsp;</p>

   {% else %}
      <h4>{% trans "Информация об истории проекта недоступна!" %}</h4>
   {% endif %}  

{% endblock list %}