{% extends 'base.html' %}

{% load i18n %}

{% block profile %}

<div class="object-detail">
   <label for="check" class="togButton">
      <h3>⇅ {% trans "Профиль пользователя" %} <strong>{{ user_profile.user.username }}</strong></h3>
   </label>
   <input type="radio" class="togCheck" id="check" onclick="toggle_visibility('tog');">
   <div id="tog" style="display: none; transition: max-height 3s;">
      {% if user_profile.user.username == None %}
         {% trans "Профиль пользователя не найден!" %}
      {% else %}
         <p>{% trans "Пользователь" %}: {{ user_profile.user.username }}</p>
         {% if user_profile.description %}
            <div class="object-detail-text">
               <p>{% trans "Описание" %}: {{ user_profile.description|safe }}</p>
            </div>
         {% endif %}
      {% endif %}

      {% if user_profile.user.id == user.id %}
         <h5>{% trans "Настройки" %}</h5>
         <p>{% trans "Компания" %}: {{ user_profile.company.name }}</p>
         <p>{% trans "Оповещения" %}: {{ prompt_is_notify }} </p>
         <p>{% trans "Протокол" %}: {{ user_profile.protocoltype.name }}</p>
         <p>{% trans "E-mail" %}: {{ user_profile.email }}</p>
         <p>{% trans "Телефон" %}: {{ user_profile.phone }}</p>
      {% endif %}
   </div>
   {% if user_profile.user.id == user.id %}
      <div class="object-detail-buttons">
         <a href="{% url 'my_account:userprofile_update' user_profile.pk %}">{{ button_userprofile_update }}</a>
      </div>
      {% endif %}
</div>

{% if user_profile.user.username != None %}

   {% if content_list.count > 0 or user_profile.user.id == user.id %}

      <div class="object-list">

         <h4>{% trans "Блог пользователя" %}</h4>

         {% if user_profile.user.id == user.id %}
            <div class="object-list-buttons">
               <a href="{% url 'my_company:content_create' %}">{% trans "Добавить" %}</a>
               <a href="{% url 'my_account:userprofile_detail' 0 'all' %}">{% trans "Вывести все" %}</a>
            </div>
         {% endif %}

         {% include 'content_list.html' %}

         {% if user_profile.user.id == user.id %}
            {% include 'notifies.html' %}
         {% endif %}

      </div>

   {% endif %}

{% endif %}



{% endblock profile %}