{% extends 'base.html' %}

{% load i18n %}

{% block profile %}
     
      <div class="object-detail">
         <label for="check" class="togButton">
            <h3>⇅ {% trans "Профиль пользователя" %} <strong>{{ user_profile.user.username }}</strong></h3>
         </label>
         <input type="radio" class="togCheck" id="check" onclick="toggle_visibility('tog');">
         <div id="tog" class="tog__Content" style="display: none;">
            {% if user_profile.user.username == None %}
               {% trans "Профиль пользователя не найден!" %}
            {% else %}
               <p>{% trans "Пользователь" %}: {{ user_profile.user.username }}</p>
               <p>{% trans "Описание" %}: {% autoescape off %}{{ user_profile.description }}{% endautoescape %}</p>
            {% endif %}

            {% if user_profile.user.id == user.id %}
               <h5>{% trans "Настройки" %}</h5>
               <p>{% trans "Компания" %}: {{ user_profile.company.name }}</p>
               <p>{% trans "Оповещения" %}: {{ prompt_is_notify }} </p>
               <p>{% trans "Протокол" %}: {{ user_profile.protocoltype.name }}</p>
               <p>{% trans "E-mail" %}: {{ user_profile.email }}</p>
               <p>{% trans "Телефон" %}: {{ user_profile.phone }}</p>                                            
            {% endif %}
         </div>
         {% if user_profile.user.id == user.id %}
            <div class="object-detail-buttons">
               <a href="{% url 'my_account:userprofile_update' user_profile.pk %}">{{ button_userprofile_update }}</a>
            </div>
         {% endif %}
      </div>

      {% if user_profile.user.username != None %}

      {% if content_list.count > 0 or user_profile.user.id == user.id %}

      <div class="object-list">

         <h4>{% trans "Блог пользователя" %}</h4>

         {% if user_profile.user.id == user.id %}
            <div class="object-list-buttons">
               <a href="{% url 'my_company:content_create' %}">{% trans "Добавить" %}</a>
               <a href="{% url 'my_account:userprofile_detail' 0 'all' %}">{% trans "Вывести все" %}</a>
            </div>
         {% endif %}

         <div class="object-list">

            {% for content in content_list %}

               <label for="check_blog_{{ forloop.counter }}" class="togButton">
                  <p style="background: rgb(215, 216, 216)">
                  <span class="align--left">
                  {% if content.announcement and content.description %}⇅ {% endif %}
                  <a href="{% url 'my_company:content_detail' content.pk %}">{{ content.name }}</a></span>
                  <span class="align-right"><em>{{ content.datecreate }}</em>&nbsp;({{ content.type }}/{{ content.place }})&nbsp;</span>
                  </p>
                  {% if content.announcement %} 
                     <p>{{ content.announcement }}</p>
                  {% endif %}
                  {% if content.is_active == False %}
                     <strong><em>(в архиве)</em></strong>
                  {% endif %}
               </label>
               <input type="radio" class="togCheck" id="check_blog_{{ forloop.counter }}" onclick="toggle_visibility('tog_blog_{{ forloop.counter }}');">

               <div {% if content.announcement %} class="tog__Content" id="tog_blog_{{ forloop.counter }}" style="display: none;" {% endif %}>
                  {% autoescape off %}{{ content.description }}{% endautoescape %}
               </div>

            {% endfor %}

         </div>

         <hr>

         {% if user_profile.user.id == user.id %}
            {% include 'notifies.html' %}            
         {% endif %}

      </div>

      {% endif %}

      {% endif %}

<script>

   function toggle_visibility(id) {
      var e = document.getElementById(id);
      // console.log(e.id + '************' + e.style.display)
      if (e.style.display == 'block')
         e.style.display = 'none';
      else
         e.style.display = 'block';
   }

</script>

{% endblock profile %}


{% comment %}
{% block sidebar %}

   {% if user_profile.user.id == user.id %}
      <div id="ajax_listresult">{% include 'notify_list.html' %}</div>
      <div id="ajax_listerrors"></div>              
   {% endif %}

{% endblock %}
{% endcomment %}

