
    {% if currentchat %}

        <!--<h4>Сообщения</h4>-->
        <h4>{{ currentchat.name }}</h4>
        <h5>{{ currentchat.description }}/{{ currentchatid }}</h5>

        <div id="ajax_messagelistresult">

        {% for node in nodes_messages %}
            <p>{{ node.author }} {{ node.datecreate }}<br />{{ node.text }}</p>
        {% endfor %}

        <p><em>{{ object_message }}</em></p>

        <div>
            <form method="GET" id="ajax_message_form" action="">
                {% csrf_token %}
                <input type="text" id="messagetext" placeholder="Текст сообщения" /><br />
                <input type="button" id="addmessagebutton" value="Отправить" />
            </form>
        </div>

        </div>

        <div id="ajax_messagelisterrors"></div>

    {% endif %}

<script>
        //function sendMessageAjaxForm(result_form, ajax_form) {
    $('#addmessagebutton').click(function() {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        var messagetext = document.getElementById("messagetext").value;
        console.log("==="+messagetext);
        $.ajax({
            url: "{% url 'my_chat:message_create' %}",
            type: "GET",
            data : {
                chatid: {{ currentchatid }},
                text: messagetext,
            },
             success: function(data)
                    {
                     //console.log(data)
                     $('#ajax_messagelistresult').html(data);
                    },
             error: function(xhr, errmsg, err)
                    {
                     console.log("error")
                     console.log(error_data)
                     $('#ajax_messagelisterrors').html('Нет данных!');
                    }
        });
    });
</script>