
        {% if currentchat %}

            <h4>Участники</h4>

            {% for node in nodes_members %}

                {% if node.chat.author_id == node.member_id or node.is_admin %}
                    <span style="font-weight:bold; color:blue;">   <!-- Админ чата -->
                {% elif node.member_id == request.user.id %}
                    <span style="font-weight:bold; color:green;">  <!-- Текущий пользователь -->
                {% else %}
                    <span>
                {% endif %}
                {% if node.is_online %}
                    <b>                                         <!-- Если OnLine -->
                {% endif %}
                {{ node.member.username }}
                {% if node.is_online %}
                    </b>
                {% endif %}
                </span>
                <i>({{ node.dateonline|date:"d.m.y H:i" }})</i>
                <br />

            {% endfor %}

        {% endif %}


