
        {% if currentchat %}

            <form method="GET" id="ajax_message_form" action="">
                {% csrf_token %}
                <!--<input style="width: 98%; padding: 1%;" type="text" id="messagetext" placeholder="Текст сообщения" />-->
                <textarea style="width: 98%; padding: 1%;" type="textarea" id="messagetext" placeholder="Текст сообщения"></textarea>
                <input type="button" id="addmessagebutton" value="Отправить" />
            </form>

        {% endif %}

<script>

    {% if request.session.websocket_test == 'true' %}

        document.querySelector('#addmessagebutton').onclick = function (e) {

            /*const userid = document.querySelector('#userselectid').value
            //const username = document.querySelector('#userselectid').text
            var sel = document.getElementById("userselectid");
            var username= sel.options[sel.selectedIndex].text;*/ /* выцепляем username получателя */
            var chatname = document.getElementById("chatname").value;
            const message = document.querySelector('#messagetext').value;
            console.log(chatname + "***" + message);
            let today = new Date();
            now = today.toLocaleString()
            try {
                ChatSocket.onopen = function(m) {
                  console.log("Соединение с chatid=" + {{currentchatid}} + " открыто!");
                }
            } catch(exception) {
                console.log('***** ' + exception);
            }
            console.log('Отправлено сообщение для chatid=' + {{currentchatid}})

            setTimeout(function ()  {
                ChatSocket.send(JSON.stringify({
                    'chatid': {{currentchatid}},
                    'userfromid': '{{ request.user.id }}',
                    'userfromname': '{{ request.user.username }}',
                    'message': message,
                    'date': now,
                    'ismemberslist': false
                }));
            },100);

            document.getElementById("messagetext").value = "";

        };

    {% else %}

        $('#addmessagebutton').click(function() {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        var messagetext = document.getElementById("messagetext").value;
        //console.log("==="+messagetext);
        $.ajax({
            url: "{% url 'my_chat:message_create' %}",
            type: "GET",
            data : {
                chatid: {{ currentchatid }},
                text: messagetext,
            },
             success: function(data)
                    {
                     //console.log(data)
                     $('#ajax_messagelistresult').html(data);
                     document.getElementById("messagetext").value = "";
                     //{ if chats_list_reload == 1 %}
                         $.ajax({
                            url: "{% url 'my_chat:chats_list' %}",
                            type: "GET",
                            data : {
                                //companyid: { current_company.id }},
                                {% if currentchat.company_id %}
                                    companyid: {{ currentchat.company_id }},
                                {% else %}
                                    companyid: {{ companyid }},
                                {% endif %}
                            },
                            success: function(data)
                                    {
                                     //console.log(data)
                                     $('#ajax_chatlistresult').html(data);
                                    },
                            error: function(xhr, errmsg, err)
                                    {
                                     console.log("error")
                                     console.log(error_data)
                                     $('#ajax_chatlisterrors').html('Нет данных!');
                                    }
                         });
                     //{ endif %}

                    },
             error: function(xhr, errmsg, err)
                    {
                     console.log("error")
                     console.log(error_data)
                     $('#ajax_messagelisterror').html('Нет данных!');
                    }
            });
        });

    {% endif %}

</script>