
    <div id="ajax_messagelistresult_" class="object-chats-messages">
        {% include 'chat_messages_list.html' %}
    </div>
    <div id="ajax_messagelisterorr_"></div>

    <div id="ajax_memberlistresult_" class="object-chats-members">
        {% include 'chat_members_list.html' %}
    </div>
    <div id="ajax_memberlisterror_"></div>

    {% if currentchat %}

    <script>

        var getMembersOnLine = function() {
            $.ajax( {
                url: "{% url 'my_chat:messages' %}",
                type: "GET",
                data: {
                    chatid: {{ currentchatid }},
                    interval: 1,
                },
                success: function(data) {
                        //console.log(data)
                        $('#ajax_messagelistresult').html(data);
                       },
                //complete: function() {
                //        setInterval(getMembersOnLine, 1000000);
                //       },
                error: function(xhr, errmsg, err) {
                        console.log("error")
                        //console.log(error_data);
                        $('#ajax_messagelisterorr').html('Нет данных!');
                       }
            });
        };

        if (typeof interval !== 'undefined') {
            clearInterval(interval);    // иначе множатся вызовы!!!
        }
        interval = setInterval(getMembersOnLine, 10000);

    </script>

    {% endif %}