
        <div id="ajax_chatlistresult__" class="object-chats-wrapper">

            <div id="ajax_chatlistresult" class="object-chats-chats">
                {% include 'chats_list.html' %}
            </div>

            <div id="ajax_messagelistresult" class="object-list-wrapper">
                {% include 'chat_messages_members.html' %}
            </div>
            <div id="ajax_messagelisterrors"></div>

        </div>
        <div id="ajax_chatlisterrors"></div>

        <div class="object-list-wrapper">
            <div class="object-chats-chats">
                <form method="GET" id="ajax_chat_form" action="">
                    {% csrf_token %}
                    <select name="select-chattype" id="chattypeselectid" class="select-chat-type">
                         {% for chattype in chat_type_list %}
                            <option value="{{chattype.id}}">
                               {{chattype.name}}
                            </option>
                         {% endfor %}
                    </select>
                    <input type="text" id="chatname" placeholder="Название чата" /><br />
                    <textarea style="width: 98%; padding: 1%;" type="textarea" id="chatdescription" placeholder="Описание"></textarea>
                    <input type="button" id="addchatbutton" value="Создать" />
                </form>
            </div>

            <div id="ajax_chat_message_form" class="object-chats-messages-form">
                {% include 'chat_message_form.html' %}
            </div>

            <div id="ajax_chat_member_form" class="object-chats-members">
                {% include 'chat_member_form.html' %}
            </div>
        </div>


<script>

    $('#addchatbutton').click(function() {
        event.preventDefault(); // *** без этого страница перегружается после возврата data
        var chattypeSelected = $('#chattypeselectid').find(":selected").val();
        //if (document.getElementById('chatname') != null) {
            var chatname = document.getElementById("chatname").value;
        //}
        var chatdescription = document.getElementById("chatdescription").value;
        //console.log('==============='+chatdescription);
        $.ajax({
            url: "{% url 'my_chat:chat_create' %}",
            type: "GET",
            data : {
                companyid: {{ current_company.id }},
                typeid: chattypeSelected,
                name: chatname,
                description: chatdescription
            },
            success: function(data)
                    {
                     //console.log(data)
                     $('#ajax_chatlistresult').html(data);
                     document.getElementById("chatname").value = "";
                     document.getElementById("chatdescription").value = "";
                    },
            error: function(xhr, errmsg, err)
                    {
                     console.log("error")
                     console.log(error_data)
                     $('#ajax_chatlisterrors').html('Нет данных!');
                    }
        });
    });

    function MessagesList(chatid) {

        $.ajax({
            url: "{% url 'my_chat:messages' %}",
            type: "GET",
            data : {
                chatid: chatid,
                interval: 0,
            },
             success: function(data)
                    {
                        //console.log(data)
                        $('#ajax_messagelistresult').html(data);

                        // *** Выводим форму добавления сообщения в чат
                        $.ajax({
                            url: "{% url 'my_chat:messageform' %}",
                            type: "GET",
                            data : {
                                chatid: chatid,
                            },
                            success: function(data)
                                    {
                                    //console.log(data)
                                    $('#ajax_chat_message_form').html(data);
                                    // *** Выводим форму добавления участника в чат
                                    $.ajax({
                                        url: "{% url 'my_chat:memberform' %}",
                                        type: "GET",
                                        data : {
                                            chatid: chatid,
                                        },
                                        success: function(data)
                                                {
                                                 //console.log(data)
                                                 $('#ajax_chat_member_form').html(data);
                                                },
                                        error: function(xhr, errmsg, err)
                                                {
                                                 console.log("error")
                                                 console.log(error_data)
                                                 $('#ajax_memberlisterrors').html('Нет данных!');
                                                }
                                    });
                                    // *******
                                    },
                            error: function(xhr, errmsg, err)
                                    {
                                     console.log("error")
                                     console.log(error_data)
                                     $('#ajax_messagelisterrors').html('Нет данных!');
                                    }
                        });
                        // *******
                    },
             error: function(xhr, errmsg, err)
                    {
                     console.log("error")
                     console.log(error_data)
                     $('#ajax_messagelisterrors').html('Нет данных!');
                    }
        });

    };

</script>