{% extends 'base.html' %}

{% block client %}
   <!-- Защита от прямого доступа к проекту -->
   {% if current_client.company.id in user_companies %}

   <div class="object-detail">
       <!--<div class="circle-left"></div><div class="circle-right"></div>-->
       <p><h2>{{ current_client.lastname }} {{ current_client.firstname }} {{ current_client.middlename }}
       {% if not current_client.is_active %}
          (Клиент перемещён в архив)
       {% endif %}
       </h2></p>
       <p>{% autoescape off %}{{ current_client.description }}{% endautoescape %}</p>
       <i><p>Организация: <a href="{% url 'my_crm:clients' current_client.company.pk 0 %}">{{ current_client.company }}</a></p></i>
       {% if current_client.parent %}
          <p>Уровень выше: <a href="{% url 'my_crm:clienttasks' current_client.parent.pk 0 %}">{{ current_client.parent.name }}</a></p>
       {% else %}
          <!-- <p>: <a href="{ url 'my_crm:clients' current_client.company.pk current_client.parent.pk %}">{{ current_client.parent.name }}</a></p>-->
       {% endif %}
       <p>Бюджет: {{ current_client.cost }} {{ current_client.currency.shortname }}<i> (Освоено: {{ taskcomment_costsum.cost__sum|floatformat:2 }})</i></p>
       <p>Менеджер: <span class="hint hint--bottom hint--info" data-hint="Профиль"><a href="{% url 'my_account:userprofile_detail' current_client.manager.pk ' ' %}">{{ current_client.manager }}</a></p>     
       <!--<p>Создан: {{ current_client.datecreate }}</p>
       <p>Закрыт: {{ current_client.dateclose }}</p>-->
       <p>Тип: {{ current_client.type }}</p>
       <p>Статус: {{ current_client.status }}</p>
       <p>Инициатор: {{ current_client.initiator }}</p>
       <p>Затраченное время, час.: {{ hours }} час {{ minutes }}  мин {{ seconds|floatformat:0 }} сек</p>       
       <p>Выполнен на: {{ current_client.percentage }} %</p>
       <p><i>Участники: 
       {% for u in current_client.members.all %}
          <span class="hint hint--bottom hint--info" data-hint="Профиль"><a href="{% url 'my_account:userprofile_detail' u.pk ' ' %}">{{ u.username }}</a>,</span>&nbsp;
       {% endfor %}
       </i></p>
       <em>Автор: {{ current_client.author }}</em><br /> 
       <!--<em>Участники: { current_client.members.name }}</em><br /> -->
       <em>Дата: {{ current_client.datecreate }}</em>
       <p>&nbsp;</p>
       <!--{ if user.is_authenticated and user.id == current_client.author_id  %}-->
       <div class="object-detail-buttons">
           <a href="{% url 'my_crm:client_create' current_client.company.id %}">{{ button_client_create }}</a>
           <a href="{% url 'my_crm:client_update' current_client.pk %}">{{ button_client_update }}</a>
           <a href="{% url 'my_crm:client_history' current_client.pk %}">{{ button_client_history }}</a>
       </div>
       <!--{ endif %}-->
       
       <!--<div class="circle-left"></div><div class="circle-right"></div>       -->
   </div>

  {% else %}

     <h4>Информация о Клиенте недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->
  
  {% endif %}  

{% endblock client %}

{% block list %}
   <!-- Защита от прямого доступа к задачам проекта -->
   {% if current_client.company.id in user_companies %}

      <div class="object-list">

        <h3>Список Задач</h3>

        {% if len_list %}

         <!--<form action="{ url 'my_crm:tasks' current_client.pk 0 %}" method="post">-->
         <form method="GET">           
            {% csrf_token %}
            <div class="object-list-filters">            
               <label>По статусу: </label>
               <select name="select_taskstatus" id="statusselectid" class="select-task-status">
                  <option value="-1" {% ifequal "-1" tskstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                  <option value="0" {% ifequal 0 tskstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>- Все активные</option> 
                  <option value="-2" {% ifequal "-2" tskstatus_selectid %} selected="selected" {% endifequal %}>- Просроченные</option>                    
                  {% for tskstatus in taskstatus %}
                     <option value="{{tskstatus.id}}" {% ifequal tskstatus.id tskstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                        {{tskstatus.name}}
                     </option>   
                  {% endfor %}
               </select>
               <label>По типу: </label>
               <select name="select-tasktype" id="typeselectid" class="select-task-type">
                  <option value="-1" {% ifequal "-1" tsktype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                  {% for tsktype in tasktype %}
                     <option value="{{tsktype.id}}" {% ifequal tsktype.id tsktype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                        {{tsktype.name}}
                     </option>   
                  {% endfor %}
               </select>                              
               <label>Мои задачи: </label>
               <select name="select-mytask" id="myselectid" class="select-my-task">
                  <option value="-1" {% ifequal "-1" tskstatus_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                  <option value="0" {% ifequal "0" tskstatus_myselectid %} selected="selected" {% endifequal %}>- Я участник</option>               
                  <option value="1" {% ifequal "1" tskstatus_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                  <option value="2" {% ifequal "2" tskstatus_myselectid %} selected="selected" {% endifequal %}>- Я исполнитель</option>
               </select>            
               <button id="selection-button" type="submit" method="GET" class="object-filter-button">Применить</button>                
               <!--<button type="submit">Применить</button>-->
            </div>
         </form>

         <div id="ajax_clienttasklistresult">{% include 'objects_list.html' %}</div>
         <div id="ajax_clienttasklisterrors"></div>

         {% else %}

            <p>Задач пока нет...</p>

         {% endif %}
         
         <div class="object-list-buttons">
            <a href="{% url 'my_crm:clienttask_create' clientid 0 %}">{{ button_task_create }}</a>
         </div>

      </div> 
      

   <script>

      $('#selection-button').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#statusselectid option:selected").val()
            var typeSelected = $("#typeselectid option:selected").val()
            var mytaskSelected = $("#myselectid option:selected").val()
            console.log('===' + typeSelected)            
            $.ajax({
               type: 'GET',
               url: "{% url 'my_crm:clienttask_filter' %}",
               data: {
                  clientid: {{ current_client.id }},                  
                  taskstatus: statusSelected,
                  tasktype: typeSelected,
                  mytaskuser: mytaskSelected
               },
               success: function(data){
                  $('#ajax_clienttasklistresult').html(data);                  
                  //alert(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  console.log(error_data)
                  $('#ajax_clienttasklisterrors').html('Нет данных!');
               }               
            });
         });

   </script>

   {% else %}

      <h5>Информация о задачах недоступна!</h5>

   {% endif %}  

   {% endblock list %}