{% extends 'base.html' %}

{% block task %}

<div class="object-detail">

      <h4>Задача: {{ clienttask.name }}
        {% if not clienttask.is_active %}
           (Задача перемещена в архив)
        {% endif %}
        </h4>      
      <p>{% autoescape off %}{{ clienttask.description }}{% endautoescape %}</p>
      <i><p>Клиент: <a href="{% url 'my_crm:clienttasks' clienttask.client.pk 0 %}">{{ clienttask.client }}</a></p></i>
      {% if clienttask.parent %}
         <p>Уровень выше: <a href="{% url 'my_crm:clienttaskcomments' clienttask.parent.pk %}">{{ clienttask.parent }}</a></p>
      {% else %}

      {% endif %}
      <p>Бюджет: {{ clienttask.cost }} {{ clienttask.client.currency.shortname }}<i> (Освоено: {{ taskcomment_costsum.cost__sum|floatformat:2 }})</i></p>
      <p>Исполнитель: <span class="hint hint--bottom hint--info" data-hint="Профиль исполнителя"><a href="{% url 'my_account:userprofile_detail' clienttask.assigner.pk ' ' %}">{{ clienttask.assigner }}</a></span></p>       
      <p>Начало: {{ clienttask.datebegin }}</p>
      <p>Окончание: {{ clienttask.dateend }}</p>
      <p>Тип в иерархии: {{ clienttask.structure_type }}</p>
      <p>Тип: {{ clienttask.type }}</p>
      <p>Статус: {{ clienttask.status }}</p>
      <p>Инициатор: {{ clienttask.initiator }}</p>        
      <p>Затраченное время, час.: <!--{ taskcomment_timesum.time__sum|floatformat:2 }}-->{{ hours }} час {{ minutes }}  мин {{ seconds|floatformat:0 }} сек</p>
      <p>Выполнена на: {{ clienttask.percentage }} %</p>          
      <em>Автор: {{ clienttask.author }}</em><br />
      <em>Дата: {{ clienttask.datecreate }}</em>              
      <p>&nbsp;</p>
      <div class="object-detail-buttons">
          <a href="{% url 'my_crm:clienttask_create' clienttask.client.id clienttask.pk %}">{{ button_clienttask_create }}</a>
          <a href="{% url 'my_crm:clienttask_update' clienttask.pk %}">{{ button_clienttask_update }}</a>
          <a href="{% url 'my_crm:clienttask_history' clienttask.pk %}">{{ button_clienttask_history }}</a>
      </div>

   </div>

{% endblock task %}

<!--<hr>-->

{% block list %}

   <div class="object-list">
 
      <div class="object-list-left">
         
        <h5>Комментарии</h5>

        <div class="object-list-buttons">        
           <a href="{% url 'my_crm:clienttaskcomment_create' clienttask.pk %}">{{ button_clienttaskcomment_create }}</a>
        </div>
        <br />      

        {% for taskcomment in nodes %}
           <!--<div class="comment-entry">-->
            <b>{{ taskcomment.name }} : <span style="font-size: 70%; color: blue;">{{ taskcomment.datecreate }} | 
              <span><span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: blue;" href="{% url 'my_account:userprofile_detail' taskcomment.author.pk ' ' %}">{{ taskcomment.author.username }}</a></span></i> | 
                 {{ taskcomment.time }} час. | 
                 {{ clienttask.client.currency.symbol }}{{ taskcomment.cost }}</span></b>
            <p>{% autoescape off %}{{ taskcomment.description }}{% endautoescape %}</p>
           <!--</div>           -->
        {% endfor %}
      </div>

      <div class="object-list-right">

         <h5>События</h5>

         <div class="object-list-buttons">        
            <a href="{% url 'my_crm:clientevent_create' clienttask.client.pk clienttask.id %}">{{ button_event_create }}</a>
         </div>
         <br />      
 
         {% for event in enodes %}
            <!--<div class="comment-entry">-->
             <b>{{ event.name }} : <span style="font-size: 70%; color: blue;">{{ event.datecreate }} | 
               <span><span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: blue;" href="{% url 'my_account:userprofile_detail' event.author.pk ' ' %}">{{ event.author.username }}</a></span></i></span></b>
             <p>{% autoescape off %}{{ event.description }}{% endautoescape %}</p>
            <!--</div>           -->
         {% endfor %}
      </div>

   </div>

{% endblock list %}
