{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block task %}
   <!-- Защита от прямого доступа к задаче -->
   {% if current_object.client.company.id in user_companies %}

     <div class="object-detail">

       <h4>{{ current_object.name }}
       {% if not current_object.is_active %}
          (Задача перемещена в архив)
       {% endif %}
       </h4>
       <p>{% autoescape off %}{{ current_object.description }}{% endautoescape %}</p>
       <p>Исполнитель: {{ current_object.assigner }}</p>     
       <p>Начало: {{ current_object.datebegin }}</p>
       <p>Окончание: {{ current_object.dateend }}</p>
       <p>Тип в иерархии: {{ current_object.structure_type }}</p>
       <p>Тип: {{ current_object.type }}</p>       
       <p>Статус: {{ current_object.status }}</p>
       <em>Автор: {{ current_object.author }}</em><br /> 
       <!--<em>Участники: { current_object.members.name }}</em><br /> -->
       <em>Дата: {{ current_object.datecreate }}</em>
       <p>&nbsp;</p>
       
       {% if user.is_authenticated and user.id == current_object.author_id  %}

       {% endif %}

      </div>

  {% else %}
     <h4>Информация о Задаче недоступна!</h4>
  {% endif %}  

{% endblock task %}

{% block list %}
   <!-- Защита от прямого доступа к истории проекта -->
   {% if current_object.client.company.id in user_companies %}

      <div class="object-list">

       <h5>История задачи</h5>
       
       <!--{ render_table table %}--> 
       
       {% include 'object_history.html' %}       
       
       <!--
          <div class="project-history-list">
            <h3>История задачи</h3>
          
            <div class="d-table">
             <div class="d-tr">
               <div class="d-td"><b>Дата</b></div>
               <div class="d-td"><b>Статус</b></div>
               <div class="d-td"><b>Автор</b></div>
               <div class="d-td"><b>Комментарий</b></div>
             </div>
             {% for psl in nodes %}
                <div class="d-tr">
                   <div class="d-td">{{ psl.date }}</div>
                   <div class="d-td">{{ psl.status }}</div>
                   <div class="d-td">{{ psl.author }}</div>
                   <div class="d-td">{{ psl.description }}</div>
                </div>
             {% endfor %}
            </div>
         
          </div>
       -->
      </div>
      <p>&nbsp;</p>

   {% else %}
      <h5>Информация об истории задачи недоступна!</h5>
   {% endif %}  

   {% endblock list %}