{% extends 'base.html' %}

<!--{ load bootstrap4 %}-->

{% block company %}
   
   <!-- Защита от прямого доступа к компании -->
   {% if current_company.id in user_companies %}

      <div class="object-detail">

        <h2>{{ current_company.name }}
        {% if not current_company.is_active %}(Организация перемещена в архив){% endif %}
        </h2>
        <p>{% autoescape off %} {{ current_company.description }}{% endautoescape %}</p>

        {% if current_company.parent.pk %}
           <i><p>Организация: 
           <!--<a href="{ url 'my_project:companies' current_company.parent.pk %}">{{ current_company.parent.name }}</a>-->
           <a href="{% url 'my_project:projects' current_company.parent.pk 0 %}">{{ current_company.parent.name }}</a>
           </p></i>
        <!--{ else %}
           Это головная организация-->
        {% endif %}

        <p>Тип в оргструктуре: {{ current_company.structure_type }}</p>
        <p>Тип: {{ current_company.type }}</p>
        <em>Автор: {{ current_company.author }}</em><br /> 
        <em>Дата: {{ current_company.datecreate }}</em>
        <br /><br />
        <!--{ if user.is_authenticated and user.id == current_company.author_id  %}-->
          <div class="object-detail-buttons">
              {% if component_name == 'companies' %}
                 <a href="{% url 'my_company:companies' 0 'companies' %}">{{ button_company_select }}</a>                
                 <a href="{% url 'my_company:company_create' current_company.pk %}">{{ button_company_create }}</a>                 
                 <a href="{% url 'my_company:company_update' current_company.pk %}">{{ button_company_update }}</a>
              {% elif component_name == 'crm' %}
                 <a href="{% url 'my_company:companies' 0 'crm' %}">{{ button_company_select }}</a>
              {% else %}
                 <a href="{% url 'my_company:companies' 0 'projects' %}">{{ button_company_select }}</a>
              {% endif %}              
          </div>
          <br />
           <!--<div>
              <div class="task-entry"><a href="{ url 'my_company:stafflist' current_company.pk 0 %}" class="top-menu"><span class="badge badge-secondary">{ button_stafflist_select }}===</span></a></div>              
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
           </div>-->
        <!--{ endif %}-->

      </div>

   {% else %}

     <h4>Информация об организации недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->

   {% endif %}  

{% endblock company %}

{% block list %}

   <!-- Защита от прямого доступа к проектам компании -->
   {% if current_company.id in user_companies %}

      <div class="object-list">

         {% if component_name == 'companies' %}

            <h4>Штатное расписание</h4>  

            <div id="ajax_listresult">{% include 'objects_list.html' %}</div>        

         {% elif component_name == 'crm' %}

            <h4>Клиенты</h4> 

            {% if len_list %}

            <!--<form action="{% url 'my_crm:clients' current_company.pk 0 %}" method="post">-->
            <form method="GET">
               {% csrf_token %}
               <div class="object-list-filters">
                   <label>По статусу: </label>
                   <select name="select-clientstatus" id="statusselectid" class="select-client-status">
                      <option value="-1" {% ifequal "-1" clntstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      <!--<option value="0" { ifequal 0 clntstatus_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                      <option value="-2" { ifequal "-2" clntstatus_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                      {% for clntstatus in clientstatus %}
                         <option value="{{clntstatus.id}}" {% ifequal clntstatus.id clntstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{clntstatus.name}}
                         </option>   
                      {% endfor %}
                   </select>
                   <label>По типу: </label>
                   <select name="select-clienttype" id="typeselectid" class="select-client-type">
                      <option value="-1" {% ifequal "-1" clnttype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      <!--<option value="0" { ifequal 0 clnttype_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                      <option value="-2" { ifequal "-2" clnttype_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->   
                      {% for clnttype in clienttype %}
                         <option value="{{clnttype.id}}" {% ifequal clnttype.id clnttype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{clnttype.name}}
                         </option>   
                      {% endfor %}
                   </select>               
                   <label>Мои клиенты: </label>
                   <select name="select-myclient" id="myselectid" class="select-my-client">
                      <option value="-1" {% ifequal "-1" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                      <option value="0" {% ifequal "0" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Я участник</option>               
                      <option value="1" {% ifequal "1" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                      <option value="2" {% ifequal "2" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Я менеджер</option>
                   </select>            
                   <button id="selection-button-client" type="submit" method="GET" class="object-filter-button">Применить</button>
               </div>
            </form>

            <div id="ajax_clientlistresult">{% include 'clients_list.html' %}</div>

            {% else %}

               <p>Клиентов пока нет...</p>

            {% endif %}

         {% else %}

            <h4>Проекты</h4>  
            
            {% if len_list %}

            <!--<form action="{% url 'my_project:projects' current_company.pk 0 %}" method="post">-->
            <form method="GET">
               {% csrf_token %}
               <div class="object-list-filters">
                  <label>По статусу: </label>
                  <select name="select-projectstatus" id="selectid" class="select-project-status">
                     <option value="-1" {% ifequal "-1" prjstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                     <option value="0" {% ifequal 0 prjstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>- Все активные</option>
                     <option value="-2" {% ifequal "-2" prjstatus_selectid %} selected="selected" {% endifequal %}>- Просроченные</option>   
                     {% for prjstatus in projectstatus %}
                        <option value="{{prjstatus.id}}" {% ifequal prjstatus.id prjstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                           {{prjstatus.name}}
                        </option>   
                     {% endfor %}
                  </select>
                  <label>Мои проекты: </label>
                  <select name="select-myproject" id="myselectid" class="select-my-project">
                     <option value="-1" {% ifequal "-1" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                     <option value="0" {% ifequal "0" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Я участник</option>               
                     <option value="1" {% ifequal "1" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                     <option value="2" {% ifequal "2" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Я исполнитель</option>
                  </select>            
                  <button id="selection-button-project" type="submit" method="GET" class="object-filter-button">Применить</button>
               </div>
            </form>    

            <div id="ajax_listresult">{% include 'objects_list.html' %}</div>

            {% else %}

               <p>Проектов пока нет...</p>

            {% endif %}

         {% endif %}

         <div id="ajax_listerrors"></div>

      <!--{ endif %}-->
         <div class="object-list-buttons">
            <!--<div class="project-entry"><a href="{ url 'my_project:project_create' companyid 0 %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>-->
            <a href="{% url 'my_project:project_create' companyid 0 %}">{{ button_project_create }}</a>
            <a href="{% url 'my_company:stafflist_create' companyid 0 %}">{{ button_stafflist_create }}</a>
            <a href="{% url 'my_crm:client_create' companyid %}">{{ button_client_create }}</a>
         </div>
      </div>


      <script>
         // *** это обработка отдельного select - отключено ***
         //$("#selection-button-project").on('click',function(){
         $(document).on('change', '.select-project-status---', function() {
         //$("#selection-button-project").click(function(event) {
             event.preventDefault();
             var statusSelected = $('#select-projectstatus').find(":selected").val();            
            //console.log(this.value);
            //console.log(this.text);
            //$('.projects_list').html('').load("{ url 'my_project:project_filter' 8 %}" /*+ this.value*/);
            //var statusSelected = $('#select-projectstatus').find(":selected").val();   
            //var statusSelected = document.getElementById('selectid').value; 
            var statusSelected = $(this).val();
               //var myprojectSelected = $(this).val();  
            //console.log(statusSelected);            
            $.ajax({
                 url: "{% url 'my_project:project_filter' %}",
                 method: 'GET',
                 data : {
                         //filter_category: parseInt(statusSelected)
                         companyid: {{ current_company.id }},
                         projectstatus: statusSelected
                         //myprojectuser: myprojectSelected
                        },
                 success: function(data) 
                        {
                         //console.log(data)
                         $('#ajax_listresult').html(data);
                        },
                 error: function(xhr, errmsg, err) 
                        {
                         console.log("error")
                         console.log(error_data)
                         $('#ajax_listerrors').html('Нет данных!');
                        }
             });            
         });         
         // ***

         $('#selection-button-project').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#selectid option:selected").val()
            var myprojectSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_project:project_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  projectstatus: statusSelected,
                  myprojectuser: myprojectSelected
               },
               success: function(data){           
                  $('#ajax_listresult').html(data);                  
               },
               error: function(xhr, errmsg, err){               
                  console.log("error")                                  
                  $('#ajax_listerrors').html('Нет данных!');
               }               
            });
         });

         $('#selection-button-client').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#statusselectid option:selected").val()
            var typeSelected = $("#typeselectid option:selected").val()
            var myclientSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_crm:client_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  clientstatus: statusSelected,
                  clienttype: typeSelected,
                  myclientuser: myclientSelected
               },
               success: function(data){           
                  $('#ajax_clientlistresult').html(data);              
               },
               error: function(xhr, errmsg, err){               
                  console.log("error")                                  
                  $('#ajax_listerrors').html('Нет данных!');
               }               
            });
         });         

      </script>

   {% else %}

      <h5>Информация о проектах недоступна!</h5>

   {% endif %}  

{% endblock list %}

