{% extends 'base.html' %}

<!--{% load bootstrap4 %}-->
{% block company %}
<!--
  <div class="company-entry">
    <h2>{{ node.name }}
    {% if not node.is_active %}
       (Организация перемещена в архив)
    {% endif %}
    </h2>
    <p>{{ node.description }}</p>
    <p>Тип: {{ node.type }}</p>
    <em>Автор: {{ node.author }}</em><br /> 
    <em>Дата: {{ node.datecreate }}</em>
    <p>&nbsp;</p>
-->
{% endblock company %}

{% block list %}

   <div class="object-list">

      <h3>Организации <!--{ current_company.name }}--></h3>
   
      <div id="ajax_listresult">{% include 'objects_list.html' %}</div>

      <!--<div class="task-entry"></div><a href="{ url 'my_company:company_create' current_company.id %}" class="top-menu"><span class="badge badge-secondary">{ button_company_create }}</span></a></div>    -->

   </div>

{% endblock list %}    
