{% extends 'base.html' %}

<!--{% load bootstrap4 %}-->

{% block company %}
   
   <!-- Защита от прямого доступа к компании -->
   {% if current_company.id in user_companies %}

     <div class="company-entry">
        <h2>{{ current_company.name }}
        {% if not current_company.is_active %}(Организация перемещена в архив){% endif %}
        </h2>
        <p>{% autoescape off %} {{ current_company.description }}{% endautoescape %}</p>

        {% if current_company.parent.pk %}
           <i><p>Организация: 
           <!--<a href="{ url 'my_project:companies' current_company.parent.pk %}">{{ current_company.parent.name }}</a>-->
           <a href="{% url 'my_project:projects' current_company.parent.pk 0 %}">{{ current_company.parent.name }}</a>
           </p></i>
        <!--{ else %}
           Это головная организация-->
        {% endif %}

        <p>Тип в оргструктуре: {{ current_company.structure_type }}</p>
        <p>Тип: {{ current_company.type }}</p>
        <em>Автор: {{ current_company.author }}</em><br /> 
        <em>Дата: {{ current_company.datecreate }}</em>
        <br /><br />
        {% if user.is_authenticated and user.id == current_company.author_id  %}
           <div>
              <!--<div style="float: left;" class="task-entry"><a href="{ url 'my_company:company_create' current_company.pk %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>-->
              <div style="float: left;" class="task-entry"><a href="{% url 'my_company:menu_companies' %}" class="top-menu"><span class="badge badge-secondary">{{ button_company_select }}</span></a></div>
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
              <div style="float: left;" class="task-entry"><a href="{% url 'my_company:company_create' current_company.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_company_create }}</span></a></div>
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
              <div style="float: left;" class="task-entry"><a href="{% url 'my_company:company_update' current_company.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_company_update }}</span></a></div>
           </div>
        {% endif %}
     </div>
     <br /><br />

   {% else %}

     <h4>Информация об организации недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->

   {% endif %}  

{% endblock company %}

{% block list %}

   <!-- Защита от прямого доступа к проектам компании -->
   {% if current_company.id in user_companies %}

      <div class="project-list">
         <h3>Список Проектов</h3>  

         <form action="{% url 'my_project:projects' current_company.pk 0 %}" method="post">
            {% csrf_token %}
            <!--<label for="">Введите название установки</label><br/>
            <input name="search" type="text">-->
            <label>Фильтр по статусу: </label>
            <select name="select_projectstatus">
               {% for prjstatus in projectstatus %}
                  <option value="{{prjstatus.id}}">{{prjstatus.name}}</option>
                  <!-- Надо получить обратно из вьюхи id select'а и установить его в selected -->
               {% endfor %}
            </select>
            <button type="submit">Применить</button>&nbsp;<div class="project-entry"><a href="{% url 'my_project:projects' current_company.pk 0 %}" class="top-menu"><span class="badge badge-secondary">Все</span></a></div>
         </form>

         {% load mptt_tags %}
 
         <ul>
           {% recursetree nodes %}
              <!--{ if node.company_id == companyid %}
                 { if user.is_authenticated and node.is_active %}--> <!-- тут будет еще проверка на авторство и исполнителей --> 
                    <!--{ if select_projectstatus == 0 or node.status_id == select_projectstatus %}-->
                       <b><a href="{% url 'my_project:tasks' node.pk 0 %}">{{ node.name }}: </a><span style="font-size: 70%; color: green;"> {{ node.datebegin }} - {{ node.dateend }} | {{ node.status.name }} | 
                          <span class="hint hint--bottom hint--info" data-hint="Профиль"><a href="{% url 'my_account:userprofile_detail' node.author.pk %}"><i>{{ node.author.username }}</i></a> | 
                             {{ node.cost }}
                          </span></b><br />
                       {% if not node.is_leaf_node %}
                          <ul class="children">{{ children }}</ul>
                       {% endif %}
                    <!--{ endif %}-->
                    <!--/{{ select_projectstatus }}/{{ node.status_id }}/{{ node.company_id }}/{{ companyid }}/{{ node.is_leaf_node }}/-->
                    </li>
                 <!--{ endif %}
              { endif %}-->
           {% endrecursetree %}
         </ul>  
      <!--{ endif %}-->
         <!--<div class="project-entry"><a href="{ url 'my_project:project_create' companyid 0 %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>-->
         <div class="project-entry"><a href="{% url 'my_project:project_create' companyid 0 %}" class="top-menu"><span class="badge badge-secondary">{{ button_project_create }}</span></a></div>
      </div>

      <br /><br />

   {% else %}

      <h5>Информация о проектах недоступна!</h5>

   {% endif %}  

{% endblock list %}

