{% extends 'base.html' %}

<!--{ load bootstrap4 %}-->

{% block company %}
   
   <!-- Защита от прямого доступа к компании, если это не Служба техподдержки -->
   {% if current_company.id in user_companies or current_company.is_support %}

      <div class="object-detail">

        <h2>{{ current_company.name }}
        {% if not current_company.is_active %}(Организация перемещена в архив){% endif %}
        </h2>
        <p>{% autoescape off %} {{ current_company.description }}{% endautoescape %}</p>

        {% if current_company.parent.pk %}
           <i><p>Организация:
           {% if component_name == 'companies' %}
                <!--<a href="{ url 'my_project:companies' current_company.parent.pk %}">{{ current_company.parent.name }}</a>-->
                <a href="{% url 'my_company:stafflist' current_company.parent.pk 0 %}">{{ current_company.parent.name }}</a>
           {% elif component_name == 'crm' %}
               <a href="{% url 'my_crm:clients' current_company.parent.pk 0 %}">{{ current_company.parent.name }}</a>
           {% elif component_name == 'docs' %}
               <a href="{% url 'my_doc:docs' current_company.parent.pk 0 %}">{{ current_company.parent.name }}</a>
           {% elif component_name == 'files' %}
               <a href="{% url 'my_file:folders' current_company.parent.pk 0 %}">{{ current_company.parent.name }}</a>
           {% elif component_name == 'feedback' %}
               {% if is_many_support_member %}
                   {% if current_company.parent.is_support %}
                        <a href="{% url 'my_feedback:tickets' 0 1 current_company.parent.pk %}">{{ current_company.parent.name }}</a>
                   {% else %}
                       {{ current_company.parent.name }}
                   {% endif %}
               {% else %}
                   {{ current_company.parent.name }}
               {%  endif %}
           {% elif component_name == 'projects' %}
               <a href="{% url 'my_project:projects' current_company.parent.pk 0 %}">{{ current_company.parent.name }}</a>
           {% endif %}
           </p></i>
        <!--{ else %}
           Это головная организация-->
        {% endif %}

        <p>Тип в оргструктуре: {{ current_company.structure_type }}</p>
        <p>Тип: {{ current_company.type }}</p>
        <em>Автор: {{ current_company.author }}</em>
        <em>Дата: {{ current_company.datecreate }}</em>
        <br />
        <!--{ if user.is_authenticated and user.id == current_company.author_id  %}-->
          <div class="object-detail-buttons">
              {% if component_name == 'companies' %}
                 <a href="{% url 'my_company:companies' 0 'companies' %}">{{ button_company_select }}</a>                
                 <a href="{% url 'my_company:company_create' current_company.pk %}">{{ button_company_create }}</a>                 
                 <a href="{% url 'my_company:company_update' current_company.pk %}">{{ button_company_update }}</a>
              {% elif component_name == 'crm' %}
                 <a href="{% url 'my_company:companies' 0 'crm' %}">{{ button_company_select }}</a>
              {% elif component_name == 'docs' %}
                 <a href="{% url 'my_company:companies' 0 'docs' %}">{{ button_company_select }}</a>
              {% elif component_name == 'files' %}
                 <a href="{% url 'my_company:companies' 0 'files' %}">{{ button_company_select }}</a>
              {% elif component_name == 'feedback' %}
                 <a href="{% url 'my_company:companies' 0 'feedback' %}">{{ button_company_select }}</a>
                 {% if is_system_reged %}
                     <a href="{% url 'my_feedback:tickets0' 1 systemdevid %}">{{ button_feedbackticketdev}}</a>
                 {% else %}
                   <a href="{% url 'my_feedback:feedbacksystem_create' %}">{{ button_feedbackticketdev}}</a>
                 {% endif %}
              {% else %}
                 <a href="{% url 'my_company:companies' 0 'projects' %}">{{ button_company_select }}</a>
              {% endif %}              
          </div>
          <br />
           <!--<div>
              <div class="task-entry"><a href="{ url 'my_company:stafflist' current_company.pk 0 %}" class="top-menu"><span class="badge badge-secondary">{ button_stafflist_select }}===</span></a></div>              
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
           </div>-->
        <!--{ endif %}-->

      </div>

   {% else %}

     <h4>Информация об организации недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->
     <em>Пожалуйста, обратитесь к администратору.</em>

   {% endif %}  

{% endblock company %}

{% block list %}

   <!-- Защита от прямого доступа к сотрудникам компании, если это не Служба техподдержки -->
   {% if current_company.id in user_companies or current_company.is_support %}

      <div class="object-list">

         {% if component_name == 'companies' %}

         <div class="object-list-wrapper">
            <div class="object-list-left">
               <h4>Пользователи</h4>
               <div id="ajax_userslistresult">{% include 'company_users_list.html' %}</div>          
            </div>
            <div class="object-list-right">
               <h4>Штатное расписание</h4>                    
               <!--<div id="ajax_listresult">{ include 'objects_list.html' %}</div>-->
               <div id="ajax_listresult">{% include 'company_stafflist_list.html' %}</div>              
            </div>
         </div>
      
         {% elif component_name == 'crm' %}

            <h4>Клиенты</h4> 

            {% if len_list %}

            <!--<form action="{ url 'my_crm:clients' current_company.pk 0 %}" method="post">-->
            <form method="GET">
               {% csrf_token %}
               <div class="object-list-filters">
                   <label>По статусу: </label>
                   <select name="select-clientstatus" id="statusselectid" class="select-client-status">
                      <option value="-1" {% ifequal "-1" clntstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      <!--<option value="0" { ifequal 0 clntstatus_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                      <option value="-2" { ifequal "-2" clntstatus_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                      {% for clntstatus in clientstatus %}
                         <option value="{{clntstatus.id}}" {% ifequal clntstatus.id clntstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{clntstatus.name}}
                         </option>   
                      {% endfor %}
                   </select>
                   <label>По типу: </label>
                   <select name="select-clienttype" id="typeselectid" class="select-client-type">
                      <option value="-1" {% ifequal "-1" clnttype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      <!--<option value="0" { ifequal 0 clnttype_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                      <option value="-2" { ifequal "-2" clnttype_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->   
                      {% for clnttype in clienttype %}
                         <option value="{{clnttype.id}}" {% ifequal clnttype.id clnttype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{clnttype.name}}
                         </option>   
                      {% endfor %}
                   </select>               
                   <label>Мои клиенты: </label>
                   <select name="select-myclient" id="myselectid" class="select-my-client">
                      <option value="-1" {% ifequal "-1" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                      <option value="0" {% ifequal "0" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Я участник</option>               
                      <option value="1" {% ifequal "1" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                      <option value="2" {% ifequal "2" clntstatus_myselectid %} selected="selected" {% endifequal %}>- Я менеджер</option>
                   </select>            
                   <button id="selection-button-client" type="submit" method="GET" class="object-filter-button">Применить</button>
               </div>
            </form>

            <div id="ajax_clientlistresult">{% include 'clients_list.html' %}</div>

            {% else %}

               <p>Клиентов пока нет...</p>

            {% endif %}

         {% elif component_name == 'docs' %}

            <h4>Документы</h4>

            {% if len_list %}

            <!--<form action="{ url 'my_doc:docs' current_company.pk 0 %}" method="post">-->
            <form method="GET">
               {% csrf_token %}
               <div class="object-list-filters">
                   <label>По статусу: </label>
                   <select name="select-docstatus" id="statusselectid" class="select-doc-status">
                      <option value="-1" {% ifequal "-1" dcstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      <!--<option value="0" { ifequal 0 dcstatus_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                      <option value="-2" { ifequal "-2" dctstatus_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                      {% for dcstatus in docstatus %}
                         <option value="{{dcstatus.id}}" {% ifequal dcstatus.id dcstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{dcstatus.name}}
                         </option>
                      {% endfor %}
                   </select>
                   <label>По типу: </label>
                   <select name="select-doctype" id="typeselectid" class="select-doc-type">
                      <option value="-1" {% ifequal "-1" dctype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      {% for dctype in doctype %}
                         <option value="{{dctype.id}}" {% ifequal dctype.id dcttype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{dctype.name}}
                         </option>
                      {% endfor %}
                   </select>
                   <label>Мои документы: </label>
                   <select name="select-mydoc" id="myselectid" class="select-my-doc">
                      <option value="-1" {% ifequal "-1" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                      <option value="0" {% ifequal "0" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Я участник</option>
                      <option value="1" {% ifequal "1" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Я менеджер</option>
                      <option value="2" {% ifequal "2" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                      {% comment %}<option value="2" {% ifequal "2" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Я менеджер</option>{% endcomment %}
                   </select>
                   <button id="selection-button-doc" type="submit" method="GET" class="object-filter-button">Применить</button>
               </div>
            </form>

            <div id="ajax_doclistresult">{% include 'docs_list.html' %}</div>

            {% else %}

               <p>Документов пока нет...</p>

            {% endif %}

         {% elif component_name == 'files' %}

            <h4>Папки</h4>

            {% if len_list %}

            <!--<form action="{ url 'my_doc:docs' current_company.pk 0 %}" method="post">-->
            <form method="GET">
               {% csrf_token %}
               <div class="object-list-filters">
                   <label>По тематике: </label>
                   <select name="select-foldertheme" id="folderthemeselectid" class="select-folder-theme">
                      <option value="-1" {% ifequal "-1" foldertheme_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      {% for fldtheme in foldertheme %}
                         <option value="{{fldtheme.id}}" {% ifequal fldtheme.id foldertheme_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{fldtheme.name}}
                         </option>
                      {% endfor %}
                   </select>
                   <label>По типу: </label>
                   <select name="select-foldertype" id="foldertypeselectid" class="select-folder-type">
                      <option value="-1" {% ifequal "-1" fldtype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                      {% for fldtype in foldertype %}
                         <option value="{{fldtype.id}}" {% ifequal fldtype.id foldertype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                            {{fldtype.name}}
                         </option>
                      {% endfor %}
                   </select>
                   <label>Мои папки: </label>
                   <select name="select-myfolder" id="myfolderselectid" class="select-my-folder">
                      <option value="-1" {% ifequal "-1" folder_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                       <option value="1" {% ifequal "1" folder_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                   </select>
                   <button id="selection-button-folder" type="submit" method="GET" class="object-filter-button">Применить</button>
               </div>
            </form>

            <div id="ajax_folderlistresult">{% include 'folders_list.html' %}</div>

            {% else %}

               <p>Папок пока нет...</p>

            {% endif %}

         {% elif component_name == 'feedback' %}

            <div class="object-list-wrapper">

                <div class="object-list-left">

                    <h4>Тикеты</h4>

                    <!--{ if len_list %}-->

                        <!--<form action="{ url 'my_feedback:feedbacktickets' current_company.pk 0 %}" method="post">-->
                        <form method="GET">
                           {% csrf_token %}
                           <div class="object-list-filters">
                              <label>По статусу: </label>
                              <select name="select-feedbackticketstatus" id="feedbackticketstatusselectid" class="select-feedbackticket-status">
                                 <option value="-1" {% ifequal "-1" feedbackticketstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                                 <option value="0" {% ifequal 0 feedbackticketstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>- Все активные</option>
                                 <option value="-2" {% ifequal 1 feedbackticketstatus_selectid %} selected="selected" {% endifequal %}>- Все закрытые</option>
                                 <!--<option value="-2" { ifequal "-2" tktstatus_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                                 {% for tktstatus in feedbackticketstatus %}
                                    <option value="{{tktstatus.id}}" {% ifequal tktstatus.id feedbackticketstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                                       {{tktstatus.name}}
                                    </option>
                                 {% endfor %}
                              </select>
                              <label>По типу: </label>
                              <select name="select-feedbacktickettype" id="feedbacktickettypeselectid" class="select-feedbackticket-type">
                                 <option value="-1" {% ifequal "-1" feedbacktickettype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                                 <!--<option value="0" { ifequal 0 feedbacktickettype_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                                 <option value="-2" { ifequal "-2" feedbacktickettype_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                                 {% for tkttype in feedbacktickettype %}
                                    <option value="{{tkttype.id}}" {% ifequal tkttype.id feedbacktickettype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                                       {{tkttype.name}}
                                    </option>
                                 {% endfor %}
                              </select>
                              {% if is_admin_org %}
                                  <label>Мои: </label>
                                   <select name="select-myfolder" id="myfeedbackticketselectid" class="select-my-ticket">
                                       <option value="-1" {% ifequal "-1" feedbackticket_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                                       <option value="1" {% ifequal "1" feedbackticket_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                                   </select>
                               {% endif %}
                              <button id="selection-button-feedbackticket" type="submit" method="GET" class="object-filter-button">Применить</button>
                           </div>
                        </form>

                        <div id="ajax_feedbackticketlistresult">{% include 'feedbacktickets_list.html' %}</div>

                    <!--{ else %}

                       <p>Тикетов пока нет...</p>

                    { endif %}-->

                </div>

                {% if is_support_member %}
                    <div class="object-list-right">
                        <div id="ajax_feedbacktaskresult">{% include 'feedbacktasks_list.html' %}</div>
                    </div>
                {% endif %}

            </div>

         {% else %}

            <h4>Проекты</h4>  
            
            {% if len_list %}

            <!--<form action="{ url 'my_project:projects' current_company.pk 0 %}" method="post">-->
            <form method="GET">
               {% csrf_token %}
               <div class="object-list-filters">
                  <label>По статусу: </label>
                  <select name="select-projectstatus" id="selectid" class="select-project-status">
                     <option value="-1" {% ifequal "-1" prjstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                     <option value="0" {% ifequal 0 prjstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>- Все активные</option>
                     <option value="-2" {% ifequal "-2" prjstatus_selectid %} selected="selected" {% endifequal %}>- Просроченные</option>   
                     {% for prjstatus in projectstatus %}
                        <option value="{{prjstatus.id}}" {% ifequal prjstatus.id prjstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                           {{prjstatus.name}}
                        </option>   
                     {% endfor %}
                  </select>
                  <label>Мои проекты: </label>
                  <select name="select-myproject" id="myselectid" class="select-my-project">
                     <option value="-1" {% ifequal "-1" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                     <option value="0" {% ifequal "0" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Я участник</option>               
                     <option value="1" {% ifequal "1" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                     <option value="2" {% ifequal "2" prjstatus_myselectid %} selected="selected" {% endifequal %}>- Я исполнитель</option>
                  </select>            
                  <button id="selection-button-project" type="submit" method="GET" class="object-filter-button">Применить</button>
               </div>
            </form>    

            <div id="ajax_listresult">{% include 'objects_list.html' %}</div>

            {% else %}

               <p>Проектов пока нет...</p>

            {% endif %}

         {% endif %}

         <div id="ajax_listerrors"></div>

      <!--{ endif %}-->
         {% if component_name != 'companies' and component_name != 'feedback' %}
            <div class="object-list-buttons">
               <!--<div class="project-entry"><a href="{ url 'my_project:project_create' companyid 0 %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>-->
               <a href="{% url 'my_project:project_create' companyid 0 %}">{{ button_project_create }}</a>
               <a href="{% url 'my_company:stafflist_create' companyid 0 %}">{{ button_stafflist_create }}</a>
               <a href="{% url 'my_crm:client_create' companyid %}">{{ button_client_create }}</a>
               <a href="{% url 'my_doc:doc_create' companyid %}">{{ button_doc_create }}</a>
               <a href="{% url 'my_file:folder_create' companyid 0 %}">{{ button_folder_create }}</a>
               <!--<a href="{ url 'my_feedback:feedbackticket_create' 1 companyid %}">{ button_feedbackticket_create }}</a>-->
            </div>
         {% endif %}
         
      </div>


      <script>
         // *** это обработка отдельного select - отключено ***
         //$("#selection-button-project").on('click',function(){
         $(document).on('change', '.select-project-status---', function() {
         //$("#selection-button-project").click(function(event) {
             event.preventDefault();
             var statusSelected = $('#select-projectstatus').find(":selected").val();            
            //console.log(this.value);
            //console.log(this.text);
            //$('.projects_list').html('').load("{ url 'my_project:project_filter' 8 %}" /*+ this.value*/);
            //var statusSelected = $('#select-projectstatus').find(":selected").val();   
            //var statusSelected = document.getElementById('selectid').value; 
            var statusSelected = $(this).val();
               //var myprojectSelected = $(this).val();  
            //console.log(statusSelected);            
            $.ajax({
                 url: "{% url 'my_project:project_filter' %}",
                 method: 'GET',
                 data : {
                         //filter_category: parseInt(statusSelected)
                         companyid: {{ current_company.id }},
                         projectstatus: statusSelected
                         //myprojectuser: myprojectSelected
                        },
                 success: function(data) 
                        {
                         //console.log(data)
                         $('#ajax_listresult').html(data);
                        },
                 error: function(xhr, errmsg, err) 
                        {
                         console.log("error")
                         console.log(error_data)
                         $('#ajax_listerrors').html('Нет данных!');
                        }
             });            
         });         
         // ***

         $('#selection-button-project').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#selectid option:selected").val()
            var myprojectSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_project:project_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  projectstatus: statusSelected,
                  myprojectuser: myprojectSelected
               },
               success: function(data){           
                  $('#ajax_listresult').html(data);                  
               },
               error: function(xhr, errmsg, err){               
                  console.log("error")                                  
                  $('#ajax_listerrors').html('Нет данных!');
               }               
            });
         });

         $('#selection-button-client').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#statusselectid option:selected").val()
            var typeSelected = $("#typeselectid option:selected").val()
            var myclientSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_crm:client_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  clientstatus: statusSelected,
                  clienttype: typeSelected,
                  myclientuser: myclientSelected
               },
               success: function(data){           
                  $('#ajax_clientlistresult').html(data);              
               },
               error: function(xhr, errmsg, err){               
                  console.log("error")                                  
                  $('#ajax_listerrors').html('Нет данных!');
               }               
            });
         });

         $('#selection-button-doc').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#statusselectid option:selected").val()
            var typeSelected = $("#typeselectid option:selected").val()
            var mydocSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_doc:doc_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  docstatus: statusSelected,
                  doctype: typeSelected,
                  mydocuser: mydocSelected
               },
               success: function(data){
                  $('#ajax_doclistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_listerrors').html('Нет данных!');
               }
            });
         });

        $('#selection-button-folder').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var themeSelected = $("#folderthemeselectid option:selected").val()
            var typeSelected = $("#foldertypeselectid option:selected").val()
            var mySelected = $("#myfolderselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_file:folder_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  themeid: themeSelected,
                  typeid: typeSelected,
                  my: mySelected
               },
               success: function(data){
                  $('#ajax_folderlistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_listerrors').html('Нет данных!');
               }
            });
         });

        $('#selection-button-feedbackticket').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#feedbackticketstatusselectid option:selected").val()
            var typeSelected = $("#feedbacktickettypeselectid option:selected").val()
            var mySelected = $("#myfeedbackticketselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_feedback:ticket_filter' %}",
               data: {
                  //systemid: { systemid }},
                  companyid: {{ current_company.id }},
                  statusid: statusSelected,
                  typeid: typeSelected,
                  my: mySelected,
                  is_ticketslist_dev: {{ is_ticketslist_dev }}
               },
               success: function(data){
                  $('#ajax_feedbackticketlistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_listerrors').html('Нет данных!');
               }
            });
         });

      </script>

   {% else %}

      <!--<h5>Информация о проектах недоступна!</h5>-->

   {% endif %}  

{% endblock list %}

