{% extends 'base.html' %}

<!--{% load bootstrap4 %}-->

{% block content %}
   
   <!-- Защита от прямого доступа к контенту -->
   <!--{ object.company_id }} / { user_companies }}-->
   <!--{ if object.company_id in user_companies %}-->

     <div class="content-entry">
        <h2>{{ object.name }}
        {% if not object.is_active %}(Контент перемещен в архив){% endif %}
        </h2>
        <p>{{ content.announcement }}</p>
        <p>{% autoescape off %} {{ object.description }}{% endautoescape %}</p>

        Тип: {{ object.type }}<br />
        <em>Автор: {{ object.author }}</em><br /> 
        <em>Дата: {{ object.datecreate }}</em>
        <br /><br />
        <!--{user.is_authenticated}} and {user.id}} == {object.author_id}}-->
        {% if user.is_authenticated and user.id == object.author_id %}
           <!--{ button_content_create }}-->
           <div>
              <!--{ if perms.companies.change_content %}
                 <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>-->
                 <div style="float: left;" class="content-entry"><a href="{% url 'my_company:content_update' object.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_content_update }}</span></a></div>
              <!--{ endif %}-->
           </div>
         {% endif %}
     </div>
     <br /><br />

   <!--{ else %}

     <h4>Контент недоступен!</h4>

   { endif %} -->

{% endblock content %}

{% block list %}

{% endblock list %}

