{% extends 'base.html' %}

<!--{ load bootstrap4 %}-->

{% block company %}
   
   <!-- Защита от прямого доступа к компании, если это не Служба техподдержки
   { if current_company.id in user_companies or current_company.is_support %} -->

      <div class="object-detail">

        <div class="object-detail-header">
            <h2>Разработчик</h2>
        </div>
        <p>Наименование системы: {{ systemdev.name }}</p>
        <p>Домен: {{ systemdev.domain }}</p>
        <p>URL: <a href="{{ systemdev.url }}" target="_blank">{{ systemdev.url }}</a></p>
        <p>IP: {{ systemdev.ip }}</p>
        <p>E-mail: {{ systemdev.email }}</p>
        <p>Телефон: {{ systemdev.phone }}</p>
        <em>Дата: {{ systemdev.datecreate }}</em>

      </div>

   <!--{ else %}

     <h4>Информация об организации недоступна!</h4>
     <em>Пожалуйста, обратитесь к администратору.</em>

   { endif %}-->

{% endblock company %}

{% block list %}

   <!-- Защита от прямого доступа к сотрудникам компании, если это не Служба техподдержки -->
   <!--{ if current_company.id in user_companies or current_company.is_support %}-->

      <div class="object-list">

            <div class="object-list-wrapper">

                <div class="object-list-left">

                    <h4>Тикеты</h4>

                    <!--{ if len_list %}-->

                        <!--<form action="{ url 'my_feedback:feedbacktickets' current_company.pk 0 %}" method="post">-->
                        <form method="GET">
                           {% csrf_token %}
                           <div class="object-list-filters">
                              <label>По статусу: </label>
                              <select name="select-feedbackticketstatus" id="feedbackticketstatusselectid" class="select-feedbackticket-status">
                                 <option value="-1" {% ifequal "-1" feedbackticketstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                                 <option value="0" {% ifequal 0 feedbackticketstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>- Все активные</option>
                                 <option value="-2" {% ifequal 1 feedbackticketstatus_selectid %} selected="selected" {% endifequal %}>- Все закрытые</option>
                                 <!--<option value="-2" { ifequal "-2" tktstatus_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                                 {% for tktstatus in feedbackticketstatus %}
                                    <option value="{{tktstatus.id}}" {% ifequal tktstatus.id feedbackticketstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                                       {{tktstatus.name}}
                                    </option>
                                 {% endfor %}
                              </select>
                              <label>По типу: </label>
                              <select name="select-feedbacktickettype" id="feedbacktickettypeselectid" class="select-feedbackticket-type">
                                 <option value="-1" {% ifequal "-1" feedbacktickettype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                                 <!--<option value="0" { ifequal 0 feedbacktickettype_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                                 <option value="-2" { ifequal "-2" feedbacktickettype_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                                 {% for tkttype in feedbacktickettype %}
                                    <option value="{{tkttype.id}}" {% ifequal tkttype.id feedbacktickettype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                                       {{tkttype.name}}
                                    </option>
                                 {% endfor %}
                              </select>
                              <button id="selection-button-feedbackticket" type="submit" method="GET" class="object-filter-button">Применить</button>
                           </div>
                        </form>

                        <div id="ajax_feedbackticketlistresult">{% include 'feedbackticketsdev_list.html' %}</div>

                    <!--{ else %}

                       <p>Тикетов пока нет...</p>

                    { endif %}-->

                </div>

                {% if is_system_dev %}
                    <div class="object-list-right">
                        <div id="ajax_feedbacktaskresult">{% include 'feedbacktasks_list.html' %}</div>
                    </div>
                {% endif %}

            </div>


         <div id="ajax_listerrors"></div>

      <!--{ endif %}-->
         {% comment %}
         {% if component_name != 'companies' and component_name != 'feedback' %}
            <div class="object-list-buttons">
               <!--<div class="project-entry"><a href="{ url 'my_project:project_create' companyid 0 %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>-->
               <a href="{% url 'my_project:project_create' companyid 0 %}">{{ button_project_create }}</a>
               <a href="{% url 'my_company:stafflist_create' companyid 0 %}">{{ button_stafflist_create }}</a>
               <a href="{% url 'my_crm:client_create' companyid %}">{{ button_client_create }}</a>
               <a href="{% url 'my_doc:doc_create' companyid %}">{{ button_doc_create }}</a>
               <a href="{% url 'my_file:folder_create' companyid 0 %}">{{ button_folder_create }}</a>
               <!--<a href="{ url 'my_feedback:feedbackticket_create' 1 companyid %}">{ button_feedbackticket_create }}</a>-->
            </div>
         {% endif %}
         {% endcomment %}
         
      </div>

      <script>

        $('#selection-button-feedbackticket').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#feedbackticketstatusselectid option:selected").val()
            var typeSelected = $("#feedbacktickettypeselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_feedback:ticket_filter' %}",
               data: {
                  //systemid: { systemdev.id }},
                  companyid: {{ current_company.id }},
                  statusid: statusSelected,
                  typeid: typeSelected,
                  is_ticketslist_dev: {{ is_ticketslist_dev }}
               },
               success: function(data){
                  $('#ajax_feedbackticketlistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_listerrors').html('Нет данных!');
               }
            });
         });

      </script>

   <!--{ else %}

      <h5>Информация о тикетах Вам недоступна!</h5>

   { endif %}-->

{% endblock list %}

