<h4>Комментарии</h4>

 {% if ticketcommentnodes %}
    <br />
     {% for node in ticketcommentnodes %}
         <!--{node.ticket.companyfrom_id}}
         {current_feedbackticket.company_id}}-->
         <div class="object-list-list-wrapper">
             {% if node.ticket.companyfrom_id == node.company_id %}
                 <div class="object-list-list-left" >
             {% else %}
                 <div class="object-list-list-right" >
             {% endif %}
             <b><!--<a href="{ url 'my_feedback:feedbackticketcomments' node.pk %}">-->
             #{{ node.id }}. {{ node.name }} <span style="font-size: 70%; color: brown;"> |
             <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: brown;" href="{% url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author.username }}</i></a></span> | {{ node.datecreate }}
                    {% if is_support_member %}
                     | {{ node.time }} час. | {{ node.ticket.company.currency.symbol }}{{ node.cost }}
                    {%  endif %}
             </span></b><br /><br />
             <p>{{ node.description|safe }}</p>
             </div>
         </div>
         <hr>
         <!--<br>-->
     {% endfor %}

 {% else %}

    <p>Комментариев пока нет...</p>

 {% endif %}
 
 <div class="object-list-buttons">
    {% if is_support_member %}
        <a href="{% url 'my_feedback:feedbackticketcomment_create' ticketid current_feedbackticket.company_id %}">{{ button_ticketcomment_create }}</a>
    {% else %}
        <a href="{% url 'my_feedback:feedbackticketcomment_create' ticketid current_feedbackticket.companyfrom_id %}">{{ button_ticketcomment_create }}</a>
    {% endif %}
 </div>
