<h4>Задачи</h4>

{% if len_list %}

 <!--<form action="{ url 'my_crm:tasks' current_client.pk 0 %}" method="post">-->
 <form method="GET">           
    {% csrf_token %}
    <div class="object-list-filters">            
       <label>По статусу: </label>
       <select name="select_taskstatus" id="statusselectid" class="select-task-status">
          <option value="-1" {% if "-1" == tskstatus_selectid %} selected="selected" {% endif %}>- Все</option>
          <option value="0" {% if 0 == tskstatus_selectid|add:"0" %} selected="selected" {% endif %}>- Все активные</option>
          <option value="-2" {% if "-2" == tskstatus_selectid %} selected="selected" {% endif %}>- Просроченные</option>
          {% for tskstatus in taskstatus %}
             <option value="{{ tskstatus.id }}" {% if tskstatus.id == tskstatus_selectid|add:"0" %} selected="selected" {% endif %}>
                {{tskstatus.name}}
             </option>   
          {% endfor %}
       </select>
       <label>Мои: </label>
       <select name="select-mytask" id="myselectid" class="select-my-task">
          <option value="-1" {% if "-1" == tskstatus_myselectid %} selected="selected" {% endif %}>- Все</option>
          <option value="3" {% if "3" == tskstatus_myselectid %} selected="selected" {% endif %}>- Все мои</option>
          <option value="1" {% if "1" == tskstatus_myselectid %} selected="selected" {% endif %}>- Я автор</option>
          <option value="2" {% if "2" == tskstatus_myselectid %} selected="selected" {% endif %}>- Я исполнитель</option>
       </select>            
       <button id="selection-button" type="submit" method="GET" class="object-filter-button">Применить</button>                
       <!--<button type="submit">Применить</button>-->
    </div>
 </form>

 <div id="ajax_tickettasklistresult">{% include 'objects_list.html' %}</div>
 <div id="ajax_tickettasklisterrors"></div>

{% else %}

    {% if is_support_member %}<p>Задач пока нет...</p>{% endif %}

{% endif %}
 
 <div class="object-list-buttons">
    <a href="{% url 'my_feedback:feedbacktask_create' current_ticketid 0 current_companyid %}">{{ button_feedbacktask_create }}</a>
 </div>
 <br />

 <script>

    $('#selection-button').click(function(){
          event.preventDefault(); // *** без этого страница перегружается после возврата data
          var statusSelected = $("#statusselectid option:selected").val()
          var typeSelected = $("#typeselectid option:selected").val()
          var mytaskSelected = $("#myselectid option:selected").val()
          //console.log('===' + typeSelected)
          $.ajax({
             type: 'GET',
             url: "{% url 'my_feedback:tickettask_filter' %}",
             data: {
                companyid: {{ current_company.id }},
                ticketid: {{ current_ticketid }},
                statusid: statusSelected,
                my: mytaskSelected,
                is_ticketslist_dev: {{ is_ticketslist_dev }}
             },
             success: function(data){
                $('#ajax_tickettasklistresult').html(data);
                //alert(data);
             },
             error: function(xhr, errmsg, err){
                console.log("error")
                console.log(error_data)
                $('#ajax_tickettasklisterrors').html('Нет данных!');
             }               
          });
       });

 </script>