{% extends 'base.html' %}

{% block ticket %}
    <!-- Защита от прямого доступа к Тикету, если это его просматривает не сотрудник компании, создавшей Тикет или не Служба техподдержки -->
    {% if current_feedbackticket.companyfrom.id in user_companies or current_company.is_support %}

        <div class="object-detail">
            <div>
                <div class="object-detail-header">
                    <h3>{{ current_feedbackticket.name }}
                        {% if not current_feedbackticket.is_active %}
                            (Тикет перемещён в архив)
                        {% endif %}
                    </h3>
                </div>

                <div class="object-detail-left">
                    <p>{% autoescape off %}{{ current_feedbackticket.description }}{% endautoescape %}</p>
                    {% if current_feedbackticket.system.is_local %}
                        <i><p>Организация: <span class="hint hint--bottom hint--info" data-hint="Тикеты организации"><a href="{% url 'my_feedback:tickets' current_feedbackticket.company.pk %}">{{ current_feedbackticket.company }}</a></span></p></i>
                    {% endif %}
                    {% comment %}
                    {% if current_feedbackticket.parent %}
                        <p>Уровень выше: <a href="{% url 'my_feedback:tasks' current_feedbackticket.parent.pk 0 %}">{{ current_feedbackticket.parent.name }}</a></p>
                    {% else %}
                        <!-- <p>: <a href="{ url 'my_feedback:projects' current_feedbackticket.company.pk current_feedbackticket.parent.pk %}">{{ current_feedbackticket.parent.name }}</a></p>-->
                    {% endif %}
                    {% endcomment %}
                    <p>Тип: {{ current_feedbackticket.type }}</p>
                    <p>Статус: {{ current_feedbackticket.status }}</p>
                    <!--<p>Затраченное время, час.: { hours }} час { minutes }}  мин { seconds|floatformat:0 }} сек</p>
                    <p>Выполнен на: { current_feedbackticket.percentage }} %</p>-->
                    {% if current_feedbackticket.system.is_local and is_support_member %}
                        <p>Бюджет: {{ task_costsum.cost__sum|floatformat:2 }} {{ current_feedbackticket.company.currency.shortname }}
                            <i>(Освоено: {{ ticketcomment_costsum.cost__sum|floatformat:2 }} + {{ taskcomment_costsum.cost__sum|floatformat:2 }} {{ current_feedbackticket.company.currency.shortname }})</i></p>
                    {% endif %}
                    <em>Автор: {{ current_feedbackticket.author }}</em><br />
                    <em>Дата: {{ current_feedbackticket.datecreate }}</em><br /><br />
                </div>
                <div class="object-detail-right">
                    {% include 'objectfile_list.html' %}
                </div>
            </div>

            <!--{ if user.is_authenticated and user.id == current_feedbackticket.author_id  %}-->
            <div class="object-detail-buttons">
                <a href="{ url 'my_feedback:feedbackticket_create' current_feedbackticket.company.id current_feedbackticket.pk %}">{{ button_feedbackticket_create }}</a>
                <a href="{% url 'my_feedback:feedbackticket_update' current_feedbackticket.pk %}">{{ button_feedbackticket_update }}</a>
                <!--<div style="float: left;"><a href="{ url 'my_feedback:project_delete' project.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
                <!--<a href="{ url 'my_feedback:project_history' current_feedbackticket.pk %}">{ button_project_history }}</a>-->
                <!--<a href="{ url 'my_main:object_history' 'prj' current_feedbackticket.pk %}">{ button_project_history }}</a>-->
            </div>
            <!--{ endif %}-->
        </div>

    {% else %}

        <h4>Информация о тикете недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->

    {% endif %}

{% endblock ticket %}

{% block list %}
    <!-- Защита от прямого доступа к комментам и задачам Тикета, если это его просматривает не сотрудник компании, создавшей Тикет или не Служба техподдержки -->
    {% if current_feedbackticket.companyfrom.id in user_companies or current_company.is_support %}

        <div class="object-list">

            <div class="object-list-wrapper">

                <div class="object-list-left">
                    {% include 'feedbackticketcomments_list.html' %}
                </div>
                {% if is_support_member %}
                    <div class="object-list-right">
                        {% include 'feedbacktasks_list.html' %}
                    </div>
                {% endif %}

            </div>

        </div>

    {% else %}
        <h5>Информация о комментариях и задачах недоступна!</h5>
    {% endif %}

{% endblock list %}