{% extends 'base.html' %}

{% block finance %}

<div class="object-list">   

   <h3>Курсы валют, {{ r_base }} за 1 ед.</h3>
   <br />

<!--{ button_currencyrate_update }}<br /><br />-->

<!--<div class="d-table">-->

   <form method="GET">           
      {% csrf_token %}

      <div class="object-list-filters">      
         <label>Фильтр по дате </label>
   
         <!--<div class="input-group date" id="datetimepicker1" data-target-input="nearest">-->
            <!--{{ form.date }}-->
            <!--
            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>            
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
         </div>-->
         c: <input id="datebegin"> по: <input id="dateend">
         <label>Фильтр по валюте: </label>
         <select name="select-curr" id="currselectid" class="select-curr">
            <option value="0" {% ifequal "0" currselectid %} selected="selected" {% endifequal %}>- Все</option>
            {% for currency in currency_list %}
               <option value="{{currency.id}}" {% ifequal currency.id currselectid|add:"0" %} selected="selected" {% endifequal %}>
                  {{ currency.code_char }}
               </option>        
            {% endfor %}                 
         </select>            
         <button id="selection-button" type="submit" method="GET" class="object-filter-button">Применить</button>               
   
         <!--<button type="submit">Применить</button>-->
      </div>

   </form>

   <div id="ajax_listresult">{% include 'finance_rate_list.html' %}</div>
   <div id="ajax_listerrors"></div>

</div>

<script>

/*$(function () {
     $("#datetimepicker1").datetimepicker({
       format: 'DD/MM/YYYY HH:mm',
     });
   });*/

  /*$(function () {
    $("#datepicker").datepicker({
       format: 'DD/MM/YYYY HH:mm',
     });
  });*/
 
   
$('#selection-button').click(function(){
   event.preventDefault(); // *** без этого страница перегружается после возврата data
   //var dateSelected = $("#dateselectid option:selected").val()
   var currSelected = $("#currselectid option:selected").val()
   var currDateBegin = $("#datebegin").val()
   var currDateEnd = $("#dateend").val()   
   $.ajax({
      type: 'GET',
      url: "{% url 'my_finance:currency_rate_filter' %}",
      data: {
         //projectid: {{ current_project.id }},                  
         //currdate: dateSelected,
         currdatebegin: currDateBegin,
         currdateend: currDateEnd,         
         currid: currSelected
      },
      success: function(data){
         $('#ajax_listresult').html(data);                  
         //alert(data);
      },
      error: function(xhr, errmsg, err){
         console.log("error")
         console.log(error_data)
         $('#ajax_listerrors').html('Нет данных!');
      }               
   });
});

</script>

{% endblock finance %}