
<ul>
    {% for node in nodes %}
        <li><span class="hint hint--bottom hint--info" data-hint="{{ node.description }}"><b><a href="{% url 'my_doc:doctasks' node.pk %}">#{{ node.id }}. {{ node.name }}</a></b></span>&nbsp;
            <span style="font-size: 70%; color: green;">{{ node.datecreate}} | {{ node.theme }} |{{ node.type }} |
            <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{% url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author }}</i></a></span></span>
        </li>
    {% endfor %}
</ul>

<p><em>{{ object_message }}</em></p>