{% extends 'base.html' %}

<!--{ load bootstrap4 %}-->

{% block folder %}
   
   <!-- Защита от прямого доступа к папке -->
   {% if current_company.id in user_companies %}

      <div class="object-detail">

        <h2>{{ current_folder.name }}
        {% if not current_folder.is_active %}(Папка перемещена в архив){% endif %}
        </h2>
        <p>{% autoescape off %} {{ current_folder.description }}{% endautoescape %}</p>

        <i>
        {% if current_folder.parent.pk %}
            <p>Папка:
             <!--<a href="{ url 'my_project:companies' current_company.parent.pk %}">{ current_folder.parent.name }}</a>-->
             <a href="{% url 'my_file:folders' 0 current_folder.parent.pk %}">{{ current_folder.parent.name }}</a>
             </p></i>
        {% else %}
             <p><a href="{% url 'my_file:folders0' %}">Корневая папка</a></p>
        {% endif %}
        </i>

        <p>Тип: {{ current_folder.type }}</p>
        <em>Автор: {{ current_folder.author }}</em>
        <em>Дата: {{ current_folder.datecreate }}</em>
        <br />

        <!--{ if user.is_authenticated and user.id == current_company.author_id  %}-->
          <div class="object-detail-buttons">
              <a href="{% url 'my_company:companies' 0 'files' %}">{{ button_company_select }}</a>
              <a href="{% url 'my_file:folder_update' current_folder.pk %}">{{ button_folder_update }}</a>
          </div>
          <br />
           <!--<div>
              <div class="task-entry"><a href="{ url 'my_company:stafflist' current_company.pk 0 %}" class="top-menu"><span class="badge badge-secondary">{ button_stafflist_select }}===</span></a></div>              
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
           </div>-->
        <!--{ endif %}-->

      </div>

   {% else %}

     <h4>Информация о папке недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->
     <em>Пожалуйста, обратитесь к администратору.</em>

   {% endif %}  

{% endblock folder %}

{% block list %}

   <!-- Защита от прямого доступа к сотрудникам компании -->
   {% if current_company.id in user_companies %}

      <div class="object-list">
        <div class="object-list-wrapper">
            <div class="object-list-left">
                <h4>Папки</h4>
                {% if len_list %}

                    <!--<form action="{ url 'my_doc:docs' current_company.pk 0 %}" method="post">-->
                    <form method="GET">
                       {% csrf_token %}
                       <div class="object-list-filters">
                           <label>По тематике: </label>
                           <select name="select-d" id="statusselectid" class="select-doc-status">
                              <option value="-1" {% ifequal "-1" dcstatus_selectid %} selected="selected" {% endifequal %}>- Все</option>
                              <!--<option value="0" { ifequal 0 dcstatus_selectid|add:"0" %} selected="selected" { endifequal %}>- Все активные</option>
                              <option value="-2" { ifequal "-2" dctstatus_selectid %} selected="selected" { endifequal %}>- Просроченные</option>-->
                              {% for dcstatus in docstatus %}
                                 <option value="{{dcstatus.id}}" {% ifequal dcstatus.id dcstatus_selectid|add:"0" %} selected="selected" {% endifequal %}>
                                    {{dcstatus.name}}
                                 </option>
                              {% endfor %}
                           </select>
                           <label>По типу: </label>
                           <select name="select-doctype" id="typeselectid" class="select-doc-type">
                              <option value="-1" {% ifequal "-1" dctype_selectid %} selected="selected" {% endifequal %}>- Все</option>
                              {% for dctype in doctype %}
                                 <option value="{{dctype.id}}" {% ifequal dctype.id dcttype_selectid|add:"0" %} selected="selected" {% endifequal %}>
                                    {{dctype.name}}
                                 </option>
                              {% endfor %}
                           </select>
                           <label>Мои папки: </label>
                           <select name="select-mydoc" id="myselectid" class="select-my-doc">
                              <option value="-1" {% ifequal "-1" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Все</option>
                               <option value="2" {% ifequal "2" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Я автор</option>
                              {% comment %}<option value="2" {% ifequal "2" dcstatus_myselectid %} selected="selected" {% endifequal %}>- Я менеджер</option>{% endcomment %}
                           </select>
                           <button id="selection-button-doc" type="submit" method="GET" class="object-filter-button">Применить</button>
                       </div>
                    </form>

                    <div id="ajax_folderlistresult">{% include 'folders_list.html' %}</div>

                {% else %}

                    <p>Папок пока нет...</p>

                {% endif %}

                <div class="object-list-buttons">
                     <a href="{% url 'my_file:folder_create' current_company.pk current_folder.pk %}">{{ button_folder_create }}</a>
                </div>

            </div>
                <!--{ include 'objectfile_list.html' %}-->
            <div class="object-list-right">
                 <div id="ajax_filelistresult">{% include 'folderfile_list.html' %}</div>
                 <div id="ajax_filelisterrors"></div>

                 <div class="object-list-buttons">
                     <a href="{% url 'my_file:files_upload' current_folder.id %}">{{ button_file_create }}</a>
                 </div>
            </div>

        </div>

      </div>


      <script>
         // *** это обработка отдельного select - отключено ***
         //$("#selection-button-project").on('click',function(){
         $(document).on('change', '.select-project-status---', function() {
         //$("#selection-button-project").click(function(event) {
             event.preventDefault();
             var statusSelected = $('#select-projectstatus').find(":selected").val();            
            //console.log(this.value);
            //console.log(this.text);
            //$('.projects_list').html('').load("{ url 'my_project:project_filter' 8 %}" /*+ this.value*/);
            //var statusSelected = $('#select-projectstatus').find(":selected").val();   
            //var statusSelected = document.getElementById('selectid').value; 
            var statusSelected = $(this).val();
               //var myprojectSelected = $(this).val();  
            //console.log(statusSelected);            
            $.ajax({
                 url: "{% url 'my_project:project_filter' %}",
                 method: 'GET',
                 data : {
                         //filter_category: parseInt(statusSelected)
                         companyid: {{ current_company.id }},
                         projectstatus: statusSelected
                         //myprojectuser: myprojectSelected
                        },
                 success: function(data) 
                        {
                         //console.log(data)
                         $('#ajax_listresult').html(data);
                        },
                 error: function(xhr, errmsg, err) 
                        {
                         console.log("error")
                         console.log(error_data)
                         $('#ajax_listerrors').html('Нет данных!');
                        }
             });            
         });         
         // ***

         $('#selection-button-project').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#selectid option:selected").val()
            var myprojectSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_project:project_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  projectstatus: statusSelected,
                  myprojectuser: myprojectSelected
               },
               success: function(data){           
                  $('#ajax_listresult').html(data);                  
               },
               error: function(xhr, errmsg, err){               
                  console.log("error")                                  
                  $('#ajax_listerrors').html('Нет данных!');
               }               
            });
         });

         $('#selection-button-client').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#statusselectid option:selected").val()
            var typeSelected = $("#typeselectid option:selected").val()
            var myclientSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_crm:client_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  clientstatus: statusSelected,
                  clienttype: typeSelected,
                  myclientuser: myclientSelected
               },
               success: function(data){           
                  $('#ajax_clientlistresult').html(data);              
               },
               error: function(xhr, errmsg, err){               
                  console.log("error")                                  
                  $('#ajax_listerrors').html('Нет данных!');
               }               
            });
         });

         $('#selection-button-doc').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var statusSelected = $("#statusselectid option:selected").val()
            var typeSelected = $("#typeselectid option:selected").val()
            var mydocSelected = $("#myselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_doc:doc_filter' %}",
               data: {
                  companyid: {{ current_company.id }},
                  docstatus: statusSelected,
                  doctype: typeSelected,
                  mydocuser: mydocSelected
               },
               success: function(data){
                  $('#ajax_folderlistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_folderlisterrors').html('Нет данных!');
               }
            });
         });

      </script>

   {% else %}

      <!--<h5>Информация о проектах недоступна!</h5>-->

   {% endif %}  

{% endblock list %}

