{% extends 'base.html' %}

{% block list %}
   <h1>Главная страница</h1>
   <div class="company-entry">
    {% if user.is_authenticated %}
       {% for content in content_list %}
           <!--{ if company.id in user_companies and company.parent_id is None and company.is_active %}-->
              {{ content.datecreate }}&nbsp;
              <!--{ if user.is_authenticated and user.id == current_project.author_id  %}-->
              {{ user.id }} / {{ content.author_id }}
              {% if user.id == content.author_id %}
                 <a href="{% url 'my_company:content_update' content.pk %}">
              {% else %}   
                 <a href="{% url 'my_company:content_detail' content.pk %}">
              {% endif %}
              {{ content.name }}</a><br />
              <p>{% autoescape off %}{{ content.description }}{% endautoescape %}</p>
              <hr>
           <!--{ endif %}-->
       {% endfor %}
    {% endif %}
   </div>
   <p>&nbsp;</p> 
{% endblock list %}
