{% extends 'base.html' %}

{% block content %}

   {% load i18n %}

   {% if param == 'publiccontent' %}
      <h3>{% trans "Главная страница" %}</h3>
      <div class="object-list">
           {% for content in content_list %}
              <em>{{ content.datecreate }}</em>&nbsp;
              <a href="{% url 'my_company:content_detail' content.pk %}">{{ content.name }}</a><br />
              {% if content.announcement %}
                 {{ content.announcement }}
              {% else %} 
                 <p><div>{% autoescape off %}{{ content.description }}{% endautoescape %}</div></p>
              {% endif %}
              <hr>
           {% endfor %}
      </div>
      <p>&nbsp;</p> 
   {% endif %}

{% endblock %}


{% block vacancies_list %}

   {% if param == 'vacancies' %}
      <h3>{% trans "Наши вакансии" %}</h3>
      <div class="object-list">
          {% for vacancy in vacancies_list %}
             <a href="{% url 'my_main:vacancy_detail' vacancy.pk %}">{{ vacancy.name }}</a>&nbsp;<i>{{ vacancy.datecreate }}</i>&nbsp;<br />
             <!--<p><div>{% autoescape off %}{{ vacancy.vacancy }}{% endautoescape %}</div></p>-->
             <hr>
          {% endfor %}
      </div>

   {% endif %}   

{% endblock vacancies_list %}

