
   <div class="object-list">   

      {% for notification in notification_list %}

         <span class="hint hint--bottom hint--info" data-hint="Отметить прочитанным"><input type="checkbox" value="{{notification.id}}" name="myCheck_{{notification.id}}" /></span>&nbsp;&nbsp;&nbsp;<em>{{ notification.datecreate|date:"d.m.Y H:i:s" }}&nbsp;&nbsp;&nbsp;{{ notification.author.username }}</em>&nbsp;&nbsp;&nbsp;<span class="hint hint--bottom hint--info" data-hint="{{ notification.text }}">
             {% if notification.objecttype.shortname == 'prj' %}
                <a href="{% url 'my_project:tasks' notification.objectid 0 %}">{{ notification.theme }}</a>
             {% elif notification.objecttype.shortname == 'tsk' %}
                <a href="{% url 'my_project:taskcomments' notification.objectid %}">{{ notification.theme }}</a> 
             {% else %} 
                {{ notification.theme }}          
             {% endif %}
         </span>
         <br />

      {% endfor %}

   </div>

