   <!-- Защита от прямого доступа к проектам компании - декоратор @login_required во view -->

      <!--<div class="object-list">-->

<!--{ if data == 'Нет данных!'%}

   <p><strong>Нет данных!!!</strong></p>

{ else %}   -->

         {% load mptt_tags %}
 
         <ul>
           {% recursetree nodes %}
           <li>
              {% if object_list == 'company_list' %}
                 {% if component_name == 'projects' %}                    
                    <span class="hint hint--bottom hint--info" data-hint="Проекты, Задачи"><b><a href="{% url 'my_project:projects' node.pk 0 %}">{{ node.name }}</b></span><br />
                 {% elif component_name == 'crm' %}                    
                     <span class="hint hint--bottom hint--info" data-hint="CRM"><b><a href="{% url 'my_crm:clients' node.pk 0 %}">{{ node.name }}</b></span><br />
                 {% elif component_name == 'docs' %}
                     <span class="hint hint--bottom hint--info" data-hint="Документы"><b><a href="{% url 'my_doc:docs' node.pk 0 %}">{{ node.name }}</b></span><br />
                 {% elif component_name == 'files' %}
                    <span class="hint hint--bottom hint--info" data-hint="Файлы"><b><a href="{% url 'my_file:folders' node.pk 0 %}">{{ node.name }}</b></span><br />
                 {% elif component_name == 'companies' %}
                    <span class="hint hint--bottom hint--info" data-hint="Настройка"><b><a href="{% url 'my_company:stafflist' node.pk 0 %}">{{ node.name }}<!-------------{{ node.parent.name }}--></b></span><br />
                 {% endif %}                    
              {% elif object_list == 'project_list' %}         
                 <!--<div class="object-list-row">-->
                    <b><a href="{% url 'my_project:tasks' node.pk 0 %}">#{{ node.id }}. {{ node.name }} </a><span style="font-size: 70%; color: green;"> {{ node.datebegin|date:"d.m.Y" }} - {{ node.dateend|date:"d.m.Y" }} | 
                    {{ node.status.name }} | 
                    {{ node.type }} | 
                    <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{% url 'my_account:userprofile_detail' node.assigner.pk ' ' %}">{{ node.assigner.username }}</a></span> | 
                    <i>{{ node.datecreate|date:"d.m.Y" }}</i> |
                    <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{% url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author.username }}</i></a></span>
                    </b>
                 <!--</div>--><br />
              {% comment %}          
              {% elif object_list == 'stafflist_list' %}
                 {% if node.is_vacancy %}         
                    <b><a href="{% url 'my_company:summaries' node.pk %}">{{ node.name }}</a><span style="font-size: 70%; color: green;"> {{ node.datecreate|date:"d.m.Y" }} | 
                       <!--<span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{ url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author.username }}</i></a> | -->
                        {{ node.currency.symbol }}{{ node.salary }} | Кол-во: {{ node.numberemployees }}
                       </span></b><br />
                 {% else %}
                    <b><a href="{% url 'my_company:staffs' node.pk 0 %}">{{ node.name }}</a><span style="font-size: 70%; color: green;"> {{ node.datecreate|date:"d.m.Y" }} | 
                       <!--<span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{ url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author.username }}</i></a> | -->
                        {{ node.currency.symbol }}{{ node.salary }} | Кол-во: {{ node.numberemployees }}
                       </span></b><br />
                 {% endif %}
              {% endcomment %}
              {% else %}
                 <!--<b><a href="{ url 'my_project:task_detail' node.pk %}">-->
                 {% if object_list == 'clienttask_list' %}                       
                    <b><a href="{% url 'my_crm:clienttaskcomments' node.pk %}">
                 {% else %}
                    <b><a href="{% url 'my_project:taskcomments' node.pk %}">
                 {% endif %}                                          
                 <!-- <a href="{ url 'my_project:tasks' current_project.id node.pk %}">-->
                 #{{ node.id }}. {{ node.name }}</a> <span style="font-size: 70%; color: brown;">{{ node.datebegin }} - {{ node.dateend }} | 
                 {{ node.status.name }} | 
                 <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: brown;" href="{% url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author.username }}</i></a></span> | 
                    {{ node.project.currency.symbol }}{{ node.cost }}
                 </span></b>   
        
              {% endif %}       
                
              {% if not node.is_leaf_node %}
                 <ul class="children">{{ children }}</ul>
              {% else %}
                 {{ children }}
              {% endif %}
              <!--</span>-->
            </li>
           {% endrecursetree %}
         </ul> 
         <p><em>{{ object_message }}</em></p>


<!--{ endif %}-->

      
