<div id="ajax_listresult">

    <div class="object-detail--right">

        {% if files %}
            Файлы:
        {% endif %}

        {% comment %}
        {% for file in files %}
           <p style="margin: 0 0 10px 10px;"><span class="hint hint--bottom hint--info" data-hint="Удалить этот файл">
            <input type="checkbox" value="{{file.id}}" name="myCheck_{{file.id}}" /></span>&nbsp;&nbsp;&nbsp;
            <a href="{{ file.pfile }}">{{ file.uname }}</a>&nbsp;&nbsp;<em style="font-size:80%">{{ file.psize|filesizeformat }} {{ file.datecreate|date:'d.m.y' }} {{ file.datecreate|time:'H:i:s' }}</em></p>
        {% endfor %}
        {% endcomment %}
        <div class="table-files">
            {% for file in files %}
                <div class="row-files">
                    {% if current_doc.doctask == 0 or task.name %}
                        <div class="cell-files"><span class="hint hint--bottom hint--info" data-hint="Удалить этот файл"><input type="checkbox" value="{{file.id}}" name="myCheck_{{file.id}}" /></span></div>
                    {% endif %}
                    <div class="cell-files"><a href="{{ media_path }}{{ file.pfile }}" target="_blank">{{ file.uname }}</a></div>
                    <div class="cell-files"><em style="font-size:80%">{{ file.psize|filesizeformat }}</em></div>
                    <div class="cell-files"><em style="font-size:80%">{{ file.datecreate|date:'d.m.y' }} {{ file.datecreate|time:'H:i:s' }}</em></div>
                    {% if file.taskcomment_id != None %}
                        <em>(к)</em>
                    {%  endif %}
                </div>
            {% endfor %}
        </div>
        <br />

    </div>

</div>

<div id="ajax_listerrors"></div>

<script>

    $('input[type="checkbox"]').change(function() {
        //console.log({{ companyid }})
        //console.log({{ companyuser.id }})
        // Проверка, стоит галочка или нет
        if ($(this).is(':checked')) {

            var chk = $(this).attr("name");
            var chkVal = $(this).attr("value");
            //console.log(chkVal)

            $.ajax({
                url: "{% url 'my_main:objectfile_delete' objtype %}",
                type: 'GET',
                data: { fileid: chkVal,
                    //companyid: "8",
                    //pk: {{ companyuser.id }},
                },
                success: function(data) {
                    $('#ajax_listresult').html(data);
                },
                error: function(xhr, errmsg, err) {
                    console.log("error")
                    $('#ajax_listerrors').html('Файл не найден!');
                }

            });

        };

    });

</script>