<div id="ajax_listresult">
    {% load i18n %}
   <!--<div class="object-list-tr">
      <div class="object-list-td">-->
         <div class="table">
            {% comment %}
            <div class="row">
               <div class="cell">Дата</div> <div class="cell">Автор</div>
               {% for key, value in titles %}          
                  <div class="cell">{ key }}</div>
               {% endfor %}
            </div>
            {% endcomment %}
            {% for rec in mas %}
               {% if forloop.first %}
                  <div class="th-row">                      
                     <div class="th-cell">{% trans "Дата" %}</div> <div class="th-cell">{% trans "Автор" %}</div>
                     {% for key, value in rec %}          
                        <div class="th-cell">{{ key }}</div>
                     {% endfor %}    
                  </div>                                     
               {% endif %} 
               <div class="{% cycle 'row1' 'row2' %}">
                  {% for nd in nodes %}
                     {% if forloop.counter0 == forloop.parentloop.counter0 %}
                        <div class="cell">{{ nd.date|date:"d.m.Y H:i:s" }}</div> <div class="cell">{{ nd.author.username }}</div>
                     {% endif %}                  
                  {% endfor %}
                  {% for key, value in rec %}
                      <div class="cell">
                          {% if objtype == 'doc' %}
                              {% if key == _('Актуальн.') %}
                                 {% if current_object.docver == value %}
                                     <span>✓</span>
                                 {% else %}
                                     {% if current_object.doctask == 0 %}
                                        <span class="hint hint--bottom hint--info" data-hint="{% trans 'Сделать актуальной' %}"><input type="checkbox" value="{{value}}" name="myCheck_{{value}}" /></span>
                                     {% endif %}
                                 {% endif %}
                              {% else %}
                                  {{ value }}
                              {% endif %}
                          {% else %}
                              {{ value }}
                          {% endif %}
                      </div>
                  {% endfor %}
               </div>                               
            {% endfor %}
         </div>                  
   <!--   </div>
   </div>-->

   <p><em>{{ object_message }}</em></p>

</div>

<div id="ajax_listerrors"><!--{ trans "Версия не найдена!" as er_ror %}--></div>



<script>

    $('input[type="checkbox"]').change(function() {
        // Проверка, стоит галочка или нет
        if ($(this).is(':checked')) {

            var chk = $(this).attr("name");
            var chkVal = $(this).attr("value");
            //console.log(chkVal)

            $.ajax({
                url: "{% url 'my_doc:docver_change' %}",
                type: 'GET',
                data: { docverid: chkVal,
                    //companyid: "8",
                    //docverid: {{ value }},
                },
                success: function(data) {
                    $('#ajax_listresult').html(data);
                },
                error: function(xhr, errmsg, err) {
                    console.log("error")
                    $('#ajax_listerrors').html('{{ er_ror }}');
                }

            });

        };

    });

</script>