{% extends 'base.html' %}
<!--
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
-->
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<div class="jumbotron">

   {% block forms %}
    
    {{ form.media }}

    <h3>{{ header }}</h3>

    <form class="mt-3" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% if files %}
           <div class="form-group row">
              <label class="col-md-3 col-form-label" for="id_files"></label>
              <!--<div class="col-md-9">-->
              <div class="table-files">
                 {% for f in files %}
                    <div class="row-files">                          
                       <!--<p style="line-height:50%;">{ f.uname }}&nbsp;&nbsp;&nbsp;<em style="font-size:80%">{ f.datecreate|date:'d.m.y' }} { f.datecreate|time:'H:i:s' }}</em></p>-->
                       <div class="cell-files" style="font-size:80%;line-height:50%;">{{ f.uname }}</div>
                       <div class="cell-files" style="font-size:80%;"><em>{{ f.psize|filesizeformat }}</em></div>
                       <div class="cell-files" style="font-size:80%;"><em>{{ f.datecreate|date:'d.m.y' }} {{ f.datecreate|time:'H:i:s' }}</em></div>
                    </div>
                 {% endfor %}
              </div>
              <!--</div>-->
           </div>          
           <br />
        {% endif %}
        {% buttons %}
           <button class="btn btn-success" name="submit">Сохранить</button>
        {% endbuttons %}
    </form>

    <script type="text/javascript">

    </script>

   {% endblock %}

</div>