   <!-- Защита от прямого доступа к проектам компании - декоратор @login_required во view -->

      <div class="project-list">

         {% load mptt_tags %}
 
         <ul>
           {% recursetree nodes %}
           <li>
              {% if object_list == 'company_list' %}                  
                 <b><a href="{% url 'my_project:projects' node.pk 0 %}">{{ node.name }}</b><br />                    
              {% elif object_list == 'project_list' %}         
                 <b><a href="{% url 'my_project:tasks' node.pk 0 %}">{{ node.name }}: </a><span style="font-size: 70%; color: green;"> {{ node.datebegin }} - {{ node.dateend }} | {{ node.status.name }} | 
                    <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{% url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author.username }}</i></a> | 
                        {{ node.cost }}
                    </span></b><br />
              {% else %}
                 <!--<b><a href="{ url 'my_project:task_detail' node.pk %}">-->
                 <b><a href="{% url 'my_project:taskcomments' node.pk %}">
                    <!-- <a href="{ url 'my_project:tasks' current_project.id node.pk %}">-->
                    {{ node.name }}</a> : <span style="font-size: 70%; color: brown;">{{ node.datebegin }} - {{ node.dateend }} | 
                       {{ node.status.name }} | 
                       <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: brown;" href="{% url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>{{ node.author.username }}</i></a></span> | 
                       {{ node.cost }}
                    </span></b>            
              {% endif %}                          
              {% if not node.is_leaf_node %}
                 <ul class="children">{{ children }}</ul>
              {% else %}
                 {{ children }}
              {% endif %}
            </li>
           {% endrecursetree %}
         </ul> 
         <p><em>{{ object_message }}</em></p>
      </div>


      
