<div id="ajax_filelistresult">

    {% load i18n %}

    <div class="object-detail--right">

        {% if files %}
            {% trans "Файлы" %}:
        {% endif %}

        {% comment %}
        {% for file in files %}
           <p style="margin: 0 0 10px 10px;"><span class="hint hint--bottom hint--info" data-hint="{% trans 'Удалить этот файл' %}">
            <input type="checkbox" value="{{file.id}}" name="myCheck_{{file.id}}" /></span>&nbsp;&nbsp;&nbsp;
            <a href="{{ file.pfile }}">{{ file.uname }}</a>&nbsp;&nbsp;<em style="font-size:80%">{{ file.psize|filesizeformat }} {{ file.datecreate|date:'d.m.y' }} {{ file.datecreate|time:'H:i:s' }}</em></p>
        {% endfor %}
        {% endcomment %}
        <div class="table-files">
            {% for file in files %}
                <div class="row-files">
                    {% comment %}
                    {% if objtype == 'fldr' %}
                        {% if user.id == file.author.id %}
                            <div class="cell-files"><span class="hint hint--bottom hint--info" data-hint="{% trans 'Удалить этот файл' %}"><input type="checkbox" value="{{file.id}}" name="myCheck_{{file.id}}" /></span></div>
                        {% endif %}
                    {% else %}
                        {{ current_doc.doctask }}/{{ task.name }}
                        {% if current_doc.doctask == 0 or task.name %}
                            <div class="cell-files"><span class="hint hint--bottom hint--info" data-hint="{% trans 'Удалить этот файл' %}"><input type="checkbox" value="{{file.id}}" name="myCheck_{{file.id}}" /></span></div>
                        {% endif %}
                    {% endif %}
                    {% endcomment %}
                    <!--+++/{ obj_files_rights }}/+++-->
                    {% if obj_files_rights and obj_files_rights != 0 %}
                        <div class="cell-files"><span class="hint hint--bottom hint--info" data-hint="{% trans 'Удалить этот файл' %}"><input type="checkbox" value="{{file.id}}" name="myCheck_{{file.id}}" /></span></div>
                    {% endif %}

                    <div class="cell-files-left"><a href="{{ media_path }}{{ file.pfile }}" target="_blank">{{ file.uname }}</a></div>
                    <div class="cell-files"><em style="font-size:80%">{{ file.psize|filesizeformat }}</em></div>
                    <div class="cell-files"><em style="font-size:80%">{{ file.datecreate|date:'d.m.y' }} {{ file.datecreate|time:'H:i:s' }}</em></div>
                    <div class="cell-files-left"><em style="font-size:80%">{{ file.author }}</em></div>
                    {% if file.taskcomment_id != None %}
                        <em>(к)</em>
                    {%  endif %}
                </div>
            {% endfor %}
        </div>
        <br />

    </div>

</div>

<div id="ajax_filelisterrors"></div>

<script>

    //$(document).ready(function () {
    //    $("form").submit(function () {
    $('input[type="checkbox"]').change(function() {
    // $('input[class="sell-files"]').change(function () {
    // $(document).on('change', '.sell-files', function () {
        //console.log({{ companyid }})
        //console.log({{ companyuser.id }})
        // Проверка, стоит галочка или нет
        if ($(this).is(':checked')) {

            if (confirm("Внимание! Этот файл будет удалён!")) {

                var chk = $(this).attr("name");
                var chkVal = $(this).attr("value");
                //console.log(chkVal)
                $.ajax({
                    url: "{% url 'my_main:objectfile_delete' objtype %}",
                    type: 'GET',
                    data: { fileid: chkVal,
                            obj_files_rights: {{ obj_files_rights }}
                            //pk: {{ companyuser.id }},
                    },
                    success: function(data) {
                        $('#ajax_filelistresult').html(data);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log("error")
                        $('#ajax_filelisterrors').html('Файл не найден!');
                    }
                });
            } else {
                $(this).prop("checked", false);
            }

        };

    //        return false;
    //    });

    });

</script>