
   <!--<div class="object-list-tr">
      <div class="object-list-td">-->
         <div class="table">
            {% comment %}
            <div class="row">
               <div class="cell">Дата</div> <div class="cell">Автор</div>
               {% for key, value in titles %}          
                  <div class="cell">{ key }}</div>
               {% endfor %}
            </div>
            {% endcomment %}
            {% for rec in mas %}
               {% if forloop.first %}
                  <div class="th-row">                      
                     <div class="th-cell">Дата</div> <div class="th-cell">Автор</div>
                     {% for key, value in rec %}          
                        <div class="th-cell">{{ key }}</div>
                     {% endfor %}    
                  </div>                                     
               {% endif %} 
               <div class="{% cycle 'row1' 'row2' %}">
                  {% for nd in nodes %}
                     {% if forloop.counter0 == forloop.parentloop.counter0 %}
                        <div class="cell">{{ nd.date|date:"d.m.Y H:i:s" }}</div> <div class="cell">{{ nd.author.username }}</div>
                     {% endif %}                  
                  {% endfor %}
                  {% for key, value in rec %}
                     <div class="cell">{{ value }}</div>
                  {% endfor %}
               </div>                               
            {% endfor %}
         </div>                  
   <!--   </div>
   </div>-->

   <p><em>{{ object_message }}</em></p>
