{% extends 'base.html' %}
<!--
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
-->
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<div class="jumbotron">
{% block project %}
    
    {{ form.media }}

    <h3>{{ header }}</h3>

    <form class="mt-3" action="" method="post">{% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons %}
           <button class="btn btn-success" name="submit">Сохранить</button>
        {% endbuttons %}
        <!--<input class="btn btn-success" type="submit" value="Сохранить" />-->
        <!--{ bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}-->
    </form>

    <script type="text/javascript">
        //$(function () {
        //    $('#datetimepicker1').datetimepicker();
        //});
        //
        //$(function(){
        //   $('#datetimepicker').datetimepicker({
        //     language: 'ru'
        //   });
        //   $('#datetimepicker').data("DateTimePicker").getDate();
        //});
        //
    </script>

{% endblock %}
</div>