{% extends 'base.html' %}

{% block project %}
  <div class="project-entry">
    <p><h2>{{ project.name }}
    {% if not project.is_active %}
       (Проект перемещён в архив)
    {% endif %}
    </h2></p>
    <p>{{ project.description }}</p>
    <p>Исполнитель: {{ project.assigner }}</p>     
    <p>Начало: {{ project.datebegin }}</p>
    <p>Окончание: {{ project.dateend }}</p>
    <p>Тип: {{ project.type }}</p>
    <p>Статус: {{ project.status }}</p>
    <em>Автор: {{ project.author }}</em><br /> 
    <em>Дата: {{ project.datecreate }}</em>
    <p>&nbsp;</p>
    {% if user.is_authenticated and user.id == project.author_id  %}
      <div>
        <div style="float: left;"><a href="{% url 'my_project:project_update' project.pk %}" class="top-menu"><span class="badge badge-secondary">Изменить</span></a></div>
       <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
       <!-- <div style="float: left;"><a href="{ url 'my_project:project_delete' project.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
      </div>
    {% endif %}
  </div>
{% endblock project %}

{% block list %}

   <div class="task-entry">
        <h3>Список Задач</h3>
        {% for task in project.resultproject.all %}
          {% if user.is_authenticated and task.is_active %}
            {% if task.author_id == user.id or task.assigner_id == user.id %}
              <div class="task-entry">             
                  <a href="{% url 'my_project:task_detail' task.pk %}">{{ task.name }}</a>
              <div>
            {% endif %}
          {% endif %}
        {% endfor %}
        <p>&nbsp;</p>   
   </div>
   <!--<a href="{% url 'my_project:task_create' project.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
   <div class="task-entry"></div><a href="{% url 'my_project:task_create' project.pk %}" class="top-menu"><span class="badge badge-secondary">Создать Задачу</span></a></div>

   {% endblock list %}