{% extends 'base.html' %}

{% block project %}
  <div class="project-entry">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <p>Исполнитель: {{ project.assigner }}</p>     
    <p>Начало: {{ project.datebegin }}</p>
    <p>Окончание: {{ project.dateend }}</p>
    <em>Автор: {{ project.author }}</em><br /> 
    <em>Дата: {{ project.datecreate }}</em>
    <p>&nbsp;</p>
    {% if user.is_authenticated %}
      <div>
        <div style="float: left;"><a href="{% url 'my_project:project_update' project.pk %}" class="top-menu"><span class="badge badge-secondary">Изменить</span></a></div>
       <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
       <div style="float: left;"><a href="{% url 'my_project:project_delete' project.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div>
      </div>
    {% endif %}
  </div>
{% endblock project %}

{% block list %}
   <div class="task-entry">
        <h3>Список Задач</h3>
        {% for prj in project.resultproject.all %}
          <div class="task-entry">             
            <a href="{% url 'my_project:task_detail' prj.pk %}">{{ prj.name }}</a>
          <div>
        {% endfor %}
        <p>&nbsp;</p>   
   </div>
   <a href="{% url 'my_project:task_add' project.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock list %}