{% extends 'base.html' %}

{% block project %}
  <div class="project-entry">
    <p><h2>{{ current_project.name }}
    {% if not current_project.is_active %}
       (Проект перемещён в архив)
    {% endif %}
    </h2></p>
    <p>{{ current_project.description }}</p>
    <p>Организация: {{ current_project.company }}</p>
    <p>Исполнитель: {{ current_project.assigner }}</p>     
    <p>Начало: {{ current_project.datebegin }}</p>
    <p>Окончание: {{ current_project.dateend }}</p>
    <p>Тип: {{ current_project.type }}</p>
    <p>Статус: {{ current_project.status }}</p>
    <em>Автор: {{ current_project.author }}</em><br /> 
    <em>Дата: {{ current_project.datecreate }}</em>
    <p>&nbsp;</p>
    {% if user.is_authenticated and user.id == current_project.author_id  %}
      <div>
        <div style="float: left;"><a href="{% url 'my_project:project_create' current_project.company.id current_project.pk %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>
        <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
        <div style="float: left;"><a href="{% url 'my_project:project_update' current_project.pk %}" class="top-menu"><span class="badge badge-secondary">Изменить</span></a></div>
        <!--<div style="float: left;"><a href="{ url 'my_project:project_delete' project.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
      </div>
    {% endif %}
  </div>
{% endblock project %}

{% block list %}

   <div class="task-entry">
        <h3>Список Задач</h3>

        {% load mptt_tags %}
    
        <ul>
          {% recursetree nodes %}
             {% ifequal node.project_id projectid %}
                {% if user.is_authenticated and node.is_active %}
                   <li>
                     <!--<a href="{ url 'my_project:task_detail' node.pk %}">-->
                     <a href="{% url 'my_project:task_detail' node.pk %}">
                     <!-- <a href="{% url 'my_project:tasks' current_project.id node.pk %}">-->
                     {{ node.name }}
                     </a>
                     {% if not node.is_leaf_node %}
                        <ul class="children">
                           {{ children }}
                        </ul>
                     {% endif %}
                   </li>
                {% endif %}
             {% endifequal %}
          {% endrecursetree %}
        </ul>    

   </div>

   <!--<a href="{ url 'my_project:task_create' project.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
   <div class="task-entry"></div><a href="{% url 'my_project:task_create' projectid 0 %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>

   {% endblock list %}