
    <div id="notificationslist" class="sidebar-notifications-list">

        {% for node in nodes %}

            {% if node.author_id == currentuserid %}
                <p style="margin: 10px 0px 10px 20px;">
                  <i>{{ node.datecreate|date:"d.m.y H:i" }}</i><br />
                  {{ node.recipient.username }}<br />
                  {{ node.text }}
            {% else %}
                <p style="margin: 10px 0px 10px 0px;">
                  <i>{{ node.datecreate|date:"d.m.y H:i" }}</i><br />
                  {{ node.author.username }}<br />
                  {{ node.text }}
            {% endif %}
            </p>

        {% endfor %}

        {% if count %}
            <p><button id="isread-button" type="submit" method="GET" class="object-filter-button" style="font-size: x-small;">Пометить прочитанными</button></p>
        {% endif %}

        <div style="font-size: small; color: #ffffff;">
            <p id="log"></p> <br /><!--<p id="log_my" style="margin: 10px 0px 10px 20px;"></p>-->
        </div>

    </div>


<script>

   var block = document.getElementById("notificationslist");
   block.scrollTop = block.scrollHeight;

   $('#isread-button').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            //var statusSelected = $("#notifystatusselectid option:selected").val()
            //var metaobjecttypeSelected = $("#notifymetaobjecttypeselectid option:selected").val()
            //console.log("===================")

            $.ajax({
               type: 'GET',
               url: "{% url 'my_main:sidebar_notification_isread' %}",
               data: {
                  userid: {{ currentuserid }}
                  //notificationstatus: statusSelected,
                  //notificationobjecttype: metaobjecttypeSelected
               },
               success: function(data){
                  $('#ajax_nlist_listresult').html(data);
                  document.querySelector('#log').innerHTML = ""
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_nlist_listerrors').html('Нет данных!');
               }
            });
   });

</script>
