
    <div style="font-size: small; color: #ffffff;">
        <!--<label for="username" class="form-label">{ request.user.username }}</label>-->
        <select name="select-user" id="userselectid" class="select-user">
             {% for u in user_list %}
                <option value="{{ u.id }}">
                   {{ u.username }}
                </option>
             {% endfor %}
        </select><br />
        <input id="message" class="form-control" type="text" style="font-size: small;"><br />
    </div>
    <button id="button" style="font-size: small;">Отправить</button>


<script>

    //const usernameid = JSON.parse(document.getElementById('user').textContent)
    //var userSelected = $('#userselectid').find(":selected").val();
    //var userSelected = document.getElementById('userselectid').find(":selected").val()
    //const userid = document.querySelector('#userselectid').value
    //const userid = 5
    //console.log('userid=' + userid)

   // этот сокет должен создаваться динамически, если пришло сообщение от какого-то юзера

    /*    const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/main/notification/' + userid + '/'
        );*/

    /*notificationSocket.addEventListener('error', function (event) { console.log('WebSocket error: ', event); });*/

    const MyNotificationSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/main/notification/{{ request.user.id }}/'
    );

    MyNotificationSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector('#log').innerHTML += ('<div style="margin: 10px 0px 10px 0px;"><i>' + data.date + '</i><br />' + 'From: ' + data.userfromname + '<br />' + data.message + '<br /></div>');
        var block = document.getElementById("notificationslist");
        block.scrollTop = block.scrollHeight;

        const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/main/notification/' + data.userid + '/'
        );
    };

    MyNotificationSocket.onclose = function (e) {
        console.error('My socket closed unexpectedly!')
    };

    document.querySelector('#button').onclick = function (e) {

        const userid = document.querySelector('#userselectid').value
        var sel = document.getElementById("userselectid");
        var username= sel.options[sel.selectedIndex].text; /* выцепляем username получателя */
        const message = document.querySelector('#message').value
        let today = new Date();
        now = today.toLocaleString()

        const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/main/notification/' + userid + '/'
        );

        try {
            notificationSocket.onopen = function(m) {
              console.log("Соединение с userid=" + userid + " открыто!");
              notificationSocket.send(JSON.stringify({
                'userid': userid,
                'username': '{{ request.user.username }}',
                'userfromid': '{{ request.user.id }}',
                'userfromname': '{{ request.user.username }}',
                'message': message,
                'date': now
              }));
              console.log('Отправлено сообщение для userid=' + userid)
              document.querySelector('#log').innerHTML += ('<div style="margin: 10px 0px 10px 20px;"><i>' + now + '</i><br />' + 'To: ' + username +
                                                              '<br />' + message + '<br /></div>');
                var block = document.getElementById("notificationslist");
                block.scrollTop = block.scrollHeight;
              setTimeout(notificationSocket.close(), 0)
            }
        } catch(exception) {
            console.log(exception);
        }
        /*
        setTimeout(function ()  {
            notificationSocket.send(JSON.stringify({
                'userid': userid,
                'username': '{ request.user.username }}',
                'userfromid': '{ request.user.id }}',
                'userfromname': '{ request.user.username }}',
                'message': message,
                'date': now
            }));
            console.log('Отправлено сообщение для userid=' + userid)
            document.querySelector('#log').innerHTML += ('<div style="margin: 10px 0px 10px 20px;"><i>' + now + '</i><br />' + 'To: ' + username +
                '<br />' + message + '<br /></div>');
                var block = document.getElementById("notificationslist");
                block.scrollTop = block.scrollHeight;
            setTimeout(notificationSocket.close(), 0)
        },100);
        */

        notificationSocket.onclose = function (e) {
            console.log("Соединение с userid=" + userid + " закрыто!");
        };

        document.getElementById("message").value = "";

    };

</script>