{% extends 'base.html' %}

{% block staff %}
   <!--{ current_stafflist.company.id }}<br />{ user_companies }}<br />-->
   {% if current_stafflist.company.id in user_companies %}

   <div class="company-entry">
      <h2>{{ current_stafflist.name }}
      {% if not current_stafflist.is_active %}(Должность перемещена в архив){% endif %}
      </h2>
      <!--<p>{ autoescape off %} { current_stafflist.description }}{ endautoescape %}</p>-->
      {{ current_stafflist.description }}<br />
      {% if current_stafflist.parent.pk %}
         <i><p>Руководитель: 
         <!--<a href="{ url 'my_project:companies' current_company.parent.pk %}">{{ current_company.parent.name }}</a>-->
         <a href="{% url 'my_company:staffs' current_stafflist.parent.pk 0 %}">{{ current_stafflist.parent.name }}</a>
         </p></i>
      <!--{ else %}
         Это головная организация-->
      {% endif %}

      <i><p>Компания: <a href="{% url 'my_company:stafflist' current_stafflist.company.id 0 %}">{{ current_stafflist.company.name }}</a></p></i>
      <p>Оклад: {{ current_stafflist.salary }} {{ current_stafflist.currency.shortname }}</p>
      <p>Кол-во сотрудников: {{ current_stafflist.numberemployees }} чел.</p>      
      {% if current_stafflist.is_vacancy %} 
         <p>Вакансия: Да</p>    
         <p>Описание вакансии: {% autoescape off %} {{ current_stafflist.vacancy }} {% endautoescape %}</p>
      {% endif %}  
      <p>Тип: {{ current_stafflist.type }}</p>
      <em>Автор: {{ current_stafflist.author }}</em><br /> 
      <em>Дата: {{ current_stafflist.datecreate }}</em><br /> 
      <p>&nbsp;</p>
      <div>
         <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
         <div style="float: left;"><a href="{% url 'my_company:stafflist_create' current_stafflist.company.id current_stafflist.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_stafflist_create }}</span></a></div>
         <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
         <div style="float: left;"><a href="{% url 'my_company:stafflist_update' current_stafflist.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_stafflist_update }}</span></a></div>
         <!-- <div style="float: left;"><a href="{ url 'my_project:task_delete' task.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
         <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
      </div>

      <!--{ endif %}-->
   </div>
   <!--<hr>-->
   {% else %}
      <h4>Информация о должности недоступна!</h4>
   {% endif %}
{% endblock staff %}  

{% block list %}
   {% if current_stafflist.company.id in user_companies %}
      <div class="comment-entry">
           <p>&nbsp;</p>
           <h5>Список Сотрудников</h5>  

           {% for currstaff in nodes %}
                 <div class="d-tr">
                    <div class="d-td-text">
                       {% if currstaff.dateend is Null %}
                          <b><a href="{% url 'my_company:staff_update' currstaff.pk %}">{{ currstaff.user.username }}</a>: <span style="font-size: 70%; color: blue;"> Работает с {{ currstaff.datebegin }} | Ставка: {{ currstaff.rate }}</span></b>                       
                       {% else %}
                          <b><a href="{% url 'my_company:staff_update' currstaff.pk %}">{{ currstaff.user.username }}</a>: <span style="font-size: 70%; color: blue;">{{ currstaff.datebegin }} - {{ currstaff.dateend }} | Ставка: {{ currstaff.rate }}</span></b>
                       {% endif %}
                    </div>
                 </div>
                 <br />
           {% endfor %}   
           <p>&nbsp;</p>
           <div>
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>              
              <div style="float: left;"><a href="{% url 'my_company:staff_create' current_stafflist.id %}" class="top-menu"><span class="badge badge-secondary">{{ button_staff_create }}</span></a></div>
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>        
           </div>           
      </div>
   {% else %}
      <h4>Информация о сотрудниках недоступна!</h4>
   {% endif %}
{% endblock list %}