{% extends 'base.html' %}

{% block project %}
  <!--<div class="project-entry">   
    <h3>Проект: {{ task.project.name }}</h3>
    <p>{ autoescape off %}{{ task.project.description }}{ endautoescape %}</p>
    <p>Исполнитель: {{ task.project.assigner }}</p>     
    <p>Начало: {{ task.project.datebegin }}</p>
    <p>Окончание: {{ task.project.dateend }}</p>
    <p>Тип в иерархии: {{ task.project.structure_type }}</p>
    <p>Тип: {{ task.project.type }}</p>
    <p>Статус: {{ task.project.status }}</p>    
    <em>Автор: {{ task.project.author }}</em><br /> 
    <em>Дата: {{ task.project.datecreate }}</em>
  </div>-->
{% endblock project %}

{% block task %}
   <div class="task-entry">
      <p><h4>Задача: {{ task.name }}
        {% if not task.is_active %}
           (Задача перемещена в архив)
        {% endif %}
        </h4></p>      
      <p>{% autoescape off %}{{ task.description }}{% endautoescape %}</p>
      <i><p>Проект: <a href="{% url 'my_project:tasks' task.project.pk 0 %}">{{ task.project.name }}</a></p></i>
      {% if task.parent %}
         <p>Уровень выше: <a href="{% url 'my_project:taskcomments' task.parent.pk %}">{{ task.parent.name }}</a></p>
      {% else %}
         <!-- <p>: <a href="{ url 'my_project:projects' current_project.company.pk current_project.parent.pk %}">{{ current_project.parent.name }}</a></p>-->
      {% endif %}
      <p>Бюджет: {{ task.cost }}</p>
      <p>Исполнитель: <span class="hint hint--bottom hint--info" data-hint="Профиль исполнителя"><a href="{% url 'my_account:userprofile_detail' task.assigner.pk ' ' %}">{{ task.assigner }}</a></span></p>       
      <p>Начало: {{ task.datebegin }}</p>
      <p>Окончание: {{ task.dateend }}</p>
      <p>Тип в иерархии: {{ task.structure_type }}</p>
      <p>Тип: {{ task.type }}</p>
      <p>Статус: {{ task.status }}</p>  
      <p>Выполнена на: {{ task.percentage }} %</p>          
      <em>Автор: {{ task.author }}</em><br />
      <em>Дата: {{ task.datecreate }}</em>              
      <p>&nbsp;</p>
        <div>
          <div style="float: left;"><a href="{% url 'my_project:task_create' task.project.id task.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_task_create }}</span></a></div>
          <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
          <div style="float: left;"><a href="{% url 'my_project:task_update' task.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_task_update }}</span></a></div>
          <!-- <div style="float: left;"><a href="{ url 'my_project:task_delete' task.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
          <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
          <!--<div style="float: left;"><a href="{ url 'my_project:project_delete' project.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
          <div style="float: left;"><a href="{% url 'my_project:task_history' task.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_task_history }}</span></a></div>          
        </div>
   </div>
{% endblock task %}
<hr>
{% block list %}
   <div class="comment-entry">
        <p>&nbsp;</p>
        <h5>Комментарии</h5>

        <!--<a href="{ url 'my_project:taskcomment_create' task.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
      <div class="comment-entry"></div><a href="{% url 'my_project:taskcomment_create' task.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_taskcomment_create }}</span></a></div>

        {% for taskcomment in nodes %}
           <div class="comment-entry">
            <b>{{ taskcomment.name }} : <span style="font-size: 70%; color: blue;">{{ taskcomment.datecreate }} | 
              <span><span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: blue;" href="{% url 'my_account:userprofile_detail' taskcomment.author.pk ' ' %}">{{ taskcomment.author.username }}</a></span></i> | 
                 {{ taskcomment.time }} час. | 
                 {{ taskcomment.cost }}</span></b>
            <p>{% autoescape off %}{{ taskcomment.description }}{% endautoescape %}</p>
           </div>           
        {% endfor %}

   </div>
  
{% endblock list %}