{% extends 'base.html' %}

{% block project %}
  <!--<div class="project-entry">   
    <h3>Проект: {{ task.project.name }}</h3>
    <p>{ autoescape off %}{{ task.project.description }}{ endautoescape %}</p>
    <p>Исполнитель: {{ task.project.assigner }}</p>     
    <p>Начало: {{ task.project.datebegin }}</p>
    <p>Окончание: {{ task.project.dateend }}</p>
    <p>Тип в иерархии: {{ task.project.structure_type }}</p>
    <p>Тип: {{ task.project.type }}</p>
    <p>Статус: {{ task.project.status }}</p>    
    <em>Автор: {{ task.project.author }}</em><br /> 
    <em>Дата: {{ task.project.datecreate }}</em>
  </div>-->
{% endblock project %}

{% block task %}

   <div class="object-detail">

      <h4>Задача: {{ task..name }}
      {% if not task.is_active %}
         (Задача перемещена в архив)
      {% endif %}
      </h4>      
      <p>{% autoescape off %}{{ task.description }}{% endautoescape %}</p>
      <i><p>Проект: <a href="{% url 'my_project:tasks' task.project.pk 0 %}">{{ task.project.name }}</a></p></i>
      {% if task.parent %}
         <p>Уровень выше: <a href="{% url 'my_project:taskcomments' task.parent.pk %}">{{ task.parent.name }}</a></p>
      {% else %}
         <!-- <p>: <a href="{ url 'my_project:projects' current_project.company.pk current_project.parent.pk %}">{{ current_project.parent.name }}</a></p>-->
      {% endif %}
      <p>Бюджет: {{ task.cost }} {{ task.project.currency.shortname }}<i> (Освоено: {{ taskcomment_costsum.cost__sum|floatformat:2 }})</i></p>
      <p>Исполнитель: <span class="hint hint--bottom hint--info" data-hint="Профиль исполнителя"><a href="{% url 'my_account:userprofile_detail' task.assigner.pk ' ' %}">{{ task.assigner }}</a></span></p>       
      <p>Начало: {{ task.datebegin }}</p>
      <p>Окончание: {{ task.dateend }}</p>
      <p>Тип в иерархии: {{ task.structure_type }}</p>
      <p>Тип: {{ task.type }}</p>
      <p>Статус: {{ task.status }}</p>  
      <p>Затраченное время, час.: <!--{ taskcomment_timesum.time__sum|floatformat:2 }}-->{{ hours }} час {{ minutes }}  мин {{ seconds|floatformat:0 }} сек</p>
      <p>Выполнена на: {{ task.percentage }} %</p>          
      <em>Автор: {{ task.author }}</em><br />
      <em>Дата: {{ task.datecreate }}</em>              
      <p>&nbsp;</p>
      <div class="object-detail-buttons">
          <a href="{% url 'my_project:task_create' task.project.id task.pk %}">{{ button_task_create }}</a>
          <a href="{% url 'my_project:task_update' task.pk %}">{{ button_task_update }}</a>
          <!-- <div style="float: left;"><a href="{ url 'my_project:task_delete' task.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
          <!--<div style="float: left;"><a href="{ url 'my_project:project_delete' project.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a></div> -->
          <!--<a href="{ url 'my_project:task_history' task.pk %}">{ button_task_history }}</a>-->
          <a href="{% url 'my_main:object_history' 'tsk' task.pk %}">{{ button_task_history }}</a>
      </div>

   </div>

{% endblock task %}

<!--<hr>-->

{% block list %}

   <div class="object-list">

        <h5>Комментарии</h5>
        
        <!--<a href="{ url 'my_project:taskcomment_create' task.pk %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>-->
       <div class="object-list-buttons">
          <a href="{% url 'my_project:taskcomment_create' task.pk %}">{{ button_taskcomment_create }}</span></a>
       </div>
       <br />
        {% for taskcomment in nodes %}
           <div class="comment-entry">
            <b>{{ taskcomment.name }} : <span style="font-size: 70%; color: blue;">{{ taskcomment.datecreate }} | 
              <span><span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: blue;" href="{% url 'my_account:userprofile_detail' taskcomment.author.pk ' ' %}">{{ taskcomment.author.username }}</a></span></i> | 
                 {{ taskcomment.time }} час. | 
                 {{ task.project.currency.symbol }}{{ taskcomment.cost }}</span></b>
            <p>{% autoescape off %}{{ taskcomment.description }}{% endautoescape %}</p>
           </div>           
        {% endfor %}

   </div>
  
{% endblock list %}