{% extends 'base.html' %}

{% block profile %}
     
      <div class="object-detail">

         <h3>Профиль пользователя</h3>

         {% if user_profile.user.username == None %}
             Профиль пользователя не найден!
         {% else %}
             <p>Пользователь: {{ user_profile.user.username }}</p>
             <p>Описание: {% autoescape off %}{{ user_profile.description }}{% endautoescape %}</p>
         {% endif %}

         {% if user_profile.user.id == user.id %}
            <h5>Настройки</h5>
            <p>Компания: {{ user_profile.company.name }}</p>
            <p>Оповещения: {{ prompt_is_notify }} </p>
            <p>Протокол: {{ user_profile.protocoltype.name }}</p>
            <p>E-mail: {{ user_profile.email }}</p>
            <p>Телефон: {{ user_profile.phone }}</p>                                            
            <div class="object-detail-buttons">
               <a href="{% url 'my_account:userprofile_update' user_profile.pk %}">{{ button_userprofile_update }}</a>
            </div>   
         {% endif %}

      </div>

      {% if user_profile.user.username != None %}

      <div class="object-list">

         <h4>Блог пользователя</h4>

         {% if user_profile.user.id == user.id %}
            <div class="object-list-buttons">
               <a href="{% url 'my_company:content_create' %}">Добавить</a>
               <a href="{% url 'my_account:userprofile_detail' 0 'all' %}">Вывести все</a>
            </div>
         {% endif %}

         <div class="object-list">

            {% for content in content_list %}

               <em>{{ content.datecreate }}</em>&nbsp;({{ content.type }}/{{ content.place }})&nbsp;
               <a href="{% url 'my_company:content_detail' content.pk %}">{{ content.name }}</a>
               {% if content.is_active == False %}
                  <strong><em>(в архиве)</em></strong>
               {% endif %}
               <br />
               {% if content.announcement %}
                  {{ content.announcement }}
               {% else %}
                  {% autoescape off %}{{ content.description }}{% endautoescape %}
               {% endif %}

            {% endfor %}

         </div>

         <hr>

         {% if user_profile.user.id == user.id %}
            {% include 'notifies.html' %}            
         {% endif %}

      </div>

      {% endif %}

{% endblock profile %}


{% comment %}
{% block sidebar %}

   {% if user_profile.user.id == user.id %}
      <div id="ajax_listresult">{% include 'notify_list.html' %}</div>
      <div id="ajax_listerrors"></div>              
   {% endif %}

{% endblock %}
{% endcomment %}