{% extends 'base.html' %}

{% block profile %}

   <h3>Профиль пользователя</h3>
   <p>Пользователь: {{ user_profile.user.username }}</p>
   {% autoescape off %}
         Описание: {{ user_profile.description }}
   {% endautoescape %}
   <h5>Настройки</h5>
   <p>Компания: {{ user_profile.company.name }}</p>

   <div class="comment-entry">
      <a href="{% url 'my_account:userprofile_update' user_profile.pk %}" class="top-menu"><span class="badge badge-secondary">{{ button_userprofile_update }}</span></a>
   </div>

{% endblock profile %}

