{% extends 'base.html' %}

{% block profile %}

<div class="d-table">

   <div class="d-tr">
      
      <div class="d-td-text">

         <h3>Профиль пользователя</h3>
         <p>Пользователь: {{ user_profile.user.username }}</p>
         <p>Описание: {% autoescape off %}{{ user_profile.description }}{% endautoescape %}</p>

         {% if user_profile.user.id == user.id %}
            <h5>Настройки</h5>
            <p>Компания: {{ user_profile.company.name }}</p>
            <p>Оповещения: {{ prompt_is_notify }} </p>   
            <p>Протокол: {{ user_profile.protocoltype.name }}</p>                    
            <div class="comment-entry">
               <a href="{% url 'my_account:userprofile_update' user_profile.pk %}" class="top-menu"><span
                     class="badge badge-secondary">{{ button_userprofile_update }}</span></a>
            </div>   
         {% endif %}

      </div>

      <div class="d-td-text">

         <h3>Блог пользователя</h3>
         <!--<div class="content-entry">-->
            {% if user_profile.user.id == user.id %}
               <br />
               <div style="float: left;" class="content-entry"><a href="{% url 'my_company:content_create' %}"
                    class="top-menu"><span class="badge badge-secondary">Добавить</span></a>
               </div>
               <div style="float: left;" class="content-entry">&nbsp;&nbsp;&nbsp;</div>
               <div style="float: left;" class="content-entry"><a href="{% url 'my_account:userprofile_detail' 0 'all' %}"
                  class="top-menu"><span class="badge badge-secondary">Вывести все</span></a>
               </div>               
               <br /><br />
            {% endif %}

            <div class="d-table">

               {% for content in content_list %}
                  <div class="d-tr">
                     <div class="d-td-text">
                        <em>{{ content.datecreate }}</em>&nbsp;
                        <a href="{% url 'my_company:content_detail' content.pk %}">{{ content.name }}</a>
                        {% if content.is_active == False %}
                           <strong><em>(в архиве)</em></strong>
                        {% endif %}
                        <br />
                        {% if content.announcement %}
                           {{ content.announcement }}
                        {% else %}
                           {% autoescape off %}{{ content.description }}{% endautoescape %}
                        {% endif %}
                     </div>
                  </div>
                  <hr>
                  <br />
               {% endfor %}

            </div>

         <!--</div>-->

      </div>

   </div>

</div>

{% endblock profile %}