{% extends 'base.html' %}

<!--{ load bootstrap4 %}-->

{% block folder %}
   
   <!-- Защита от прямого доступа к папке -->
   {% if current_company.id in user_companies %}

      <div class="object-detail">

        <h2>{{ current_folder.name }}
        {% if not current_folder.is_active %}(Папка перемещена в архив){% endif %}
        </h2>
        <p>{% autoescape off %} {{ current_folder.description }}{% endautoescape %}</p>

        <i>
        {% if current_folder.parent.pk %}
            <p>Папка верхнего уровня:
             <!--<a href="{ url 'my_project:companies' current_company.parent.pk %}">{ current_folder.parent.name }}</a>-->
             <a href="{% url 'my_file:folders' current_folder.company.id current_folder.parent.pk %}">{{ current_folder.parent.name }}</a>
             </p></i>
        {% else %}
             <p><a href="{% url 'my_file:folders0' %}">Корневая папка</a></p>
        {% endif %}
        </i>

        <p>Тематика: {{ current_folder.theme }}</p>
        <p>Тип: {{ current_folder.type }}</p>
        <em>Автор: {{ current_folder.author }}</em>
        <em>Дата: {{ current_folder.datecreate }}</em>
        <br />

        <!--{ if user.is_authenticated and user.id == current_company.author_id  %}-->
          <div class="object-detail-buttons">
              <a href="{% url 'my_company:companies' 0 'files' %}">{{ button_company_select }}</a>
              <a href="{% url 'my_file:folder_update' current_folder.pk %}">{{ button_folder_update }}</a>
          </div>
          <br />
           <!--<div>
              <div class="task-entry"><a href="{ url 'my_company:stafflist' current_company.pk 0 %}" class="top-menu"><span class="badge badge-secondary">{ button_stafflist_select }}===</span></a></div>              
              <div style="float: left;">&nbsp;</div><div style="float: left;">&nbsp;</div>
           </div>-->
        <!--{ endif %}-->

      </div>

   {% else %}

     <h4>Информация о папке недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->
     <em>Пожалуйста, обратитесь к администратору.</em>

   {% endif %}  

{% endblock folder %}

{% block list %}

   <!-- Защита от прямого доступа к сотрудникам компании -->
   {% if current_company.id in user_companies %}

      <div class="object-list">
        <div class="object-list-wrapper">
            <div class="object-list-left">
                <h4>Папки</h4>
                {% if len_list %}

                    <!--<form action="{ url 'my_doc:docs' current_company.pk 0 %}" method="post">-->
                    <form method="GET">
                       {% csrf_token %}
                       <div class="object-list-filters">
                           <label>По тематике: </label>
                           <select name="select-folder-theme" id="themeselectid" class="select-folder-theme">
                              <option value="-1" {% if "-1" == theme_selectid %} selected="selected" {% endif %}>- Все</option>
                              {% for fldrtheme in foldertheme %}
                                 <option value="{{fldrtheme.id}}" {% if fldrtheme.id == fldrtheme_selectid|add:"0" %} selected="selected" {% endif %}>
                                    {{fldrtheme.name}}
                                 </option>
                              {% endfor %}
                           </select>
                           <label>По типу: </label>
                           <select name="select-folder-type" id="typeselectid" class="select-folder-type">
                              <option value="-1" {% if "-1" == type_selectid %} selected="selected" {% endif %}>- Все</option>
                              {% for fldrtype in foldertype %}
                                 <option value="{{fldrtype.id}}" {% if fldrtype.id == fldrtype_selectid|add:"0" %} selected="selected" {% endif %}>
                                    {{fldrtype.name}}
                                 </option>
                              {% endfor %}
                           </select>
                           <label>Автор: </label>
                           <select name="select-myfolder" id="myselectid" class="select-my-doc">
                              <option value="-1" {% if "-1" == my_selectid %} selected="selected" {% endif %}>Все активные</option>
                              <option value="1" {% if "1" == my_selectid %} selected="selected" {% endif %}>Мои активные</option>
                              <option value="2" {% if "2" == my_selectid %} selected="selected" {% endif %}>Мои неактивные</option>
                           </select>
                           <button id="selection-button-folder" type="submit" method="GET" class="object-filter-button">Применить</button>
                       </div>
                    </form>

                    <div id="ajax_folderlistresult">{% include 'folders_list.html' %}</div>

                {% else %}

                    <p>Папок пока нет...</p>

                {% endif %}

                <div class="object-list-buttons">
                     <a href="{% url 'my_file:folder_create' current_company.pk current_folder.pk %}">{{ button_folder_create }}</a>
                </div>

            </div>
                <!--{ include 'objectfile_list.html' %}-->
            <div class="object-list-right">
                    <h4>Файлы</h4>
                    <form method="GET">
                       {% csrf_token %}
                       <div class="object-list-filters">
                           <label>Упорядочить: </label>
                           <select name="select-sort" id="sortselectid" class="select-sort">
                                <option value="1" {% if "1" == sort_selectid %} selected="selected" {% endif %}>По имени</option>
                                <option value="2" {% if "3" == sort_selectid %} selected="selected" {% endif %}>По размеру</option>
                                <option value="3" {% if "4" == sort_selectid %} selected="selected" {% endif %}>По дате</option>
                                {% comment %}<option value="4" {% if "2" fl_sort_selectid %} selected="selected" {% endif %}>По расширению</option>{% endcomment %}
                           </select>
                           <!--<label>Порядок: </label>-->
                           <select name="select-sort" id="sortdirselectid" class="select-sortdir">
                                <option value="1" {% if "1" == sortdir_selectid %} selected="selected" {% endif %}>По возрастанию</option>
                                <option value="2" {% if "2" == sortdir_selectid %} selected="selected" {% endif %}>По убыванию</option>
                                <option value="-1" {% if "-1" == sortdir_selectid %} selected="selected" {% endif %}>Без сортировки</option>
                           </select>
                           <!--<button id="selection-button-filesort" type="submit" method="GET" class="object-filter-button">Сортировать</button>-->
                           <label>Автор: </label>
                           <select name="select-myfile" id="myfileselectid" class="select-my-file">
                                <option value="-1" {% if "-1" == myfileselectid %} selected="selected" {% endif %}>Все активные</option>
                                <option value="1" {% if "1" == myfileselectid %} selected="selected" {% endif %}>Мои активные</option>
                                <option value="2" {% if "2" == myfileselectid %} selected="selected" {% endif %}>Мои неактивные</option>
                           </select>
                           <button id="selection-button-file" type="submit" method="GET" class="object-filter-button">Выбрать</button>
                       </div>
                    </form>

                 <div id="ajax_filelistresult">{% include 'folderfile_list.html' %}</div>
                 <div id="ajax_filelisterrors"></div>

                 <div class="object-list-buttons">
                     <a href="{% url 'my_file:files_upload' current_folder.id %}">{{ button_file_create }}</a>
                 </div>
            </div>

        </div>

      </div>


      <script>

         $('#selection-button-folder').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var themeSelected = $("#themeselectid option:selected").val()
            var typeSelected = $("#typeselectid option:selected").val()
            var mySelected = $("#myselectid option:selected").val()
             console.log(themeSelected)
            $.ajax({
               type: 'GET',
               url: "{% url 'my_file:folder_filter' %}",
               data: {
                  //companyid: { current_company.id }},
                  folderid: {{ current_folder.id }},
                  themeid: themeSelected,
                  typeid: typeSelected,
                  my: mySelected
               },
               success: function(data){
                  $('#ajax_folderlistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_folderlisterrors').html('Нет данных!');
               }
            });
         });
/*
         $('#selection-button-filesort').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var sortSelected = $("#sortselectid option:selected").val()
            var sortdirSelected = $("#sortdirselectid option:selected").val()
            var myfileSelected = $("#myfileselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_file:file_filter' %}",
               data: {
                  folderid: {{ current_folder.id }},
                  sort: sortSelected,
                  sortdir: sortdirSelected,
                  my: myfileSelected
               },
               success: function(data){
                  $('#ajax_filelistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_filelisterrors').html('Нет данных!');
               }
            });
         });
*/
         $('#selection-button-file').click(function(){
            event.preventDefault(); // *** без этого страница перегружается после возврата data
            var sortSelected = $("#sortselectid option:selected").val()
            var sortdirSelected = $("#sortdirselectid option:selected").val()
            var myfileSelected = $("#myfileselectid option:selected").val()
            $.ajax({
               type: 'GET',
               url: "{% url 'my_file:file_filter' %}",
               data: {
                  folderid: {{ current_folder.id }},
                  sort: sortSelected,
                  sortdir: sortdirSelected,
                  my: myfileSelected
               },
               success: function(data){
                  $('#ajax_filelistresult').html(data);
               },
               error: function(xhr, errmsg, err){
                  console.log("error")
                  $('#ajax_filelisterrors').html('Нет данных!');
               }
            });
         });

      </script>

   {% else %}

      <!--<h5>Информация о проектах недоступна!</h5>-->

   {% endif %}  

{% endblock list %}

