{ extends 'base.html' %}

<!--{% load bootstrap4 %}-->
{% block company %}

{% endblock company %}

{% block list %}

    <h3>{{ project.name }}</h3>
    {% load mptt_tags %}
    
      <ul>
        {% recursetree nodes %}
           {% ifequal node.tree_id tree_company_id %}
              {% if user.is_authenticated and node.is_active %}
                 <li>
                   <a href="{% url 'my_company:company_detail' node.pk %}">
                   {{ node.name }}
                   <!--{{ node.id }}
                   {{ node.level }}-->
                   </a>
                   {% if not node.is_leaf_node %}
                      <ul class="children">
                         {{ children }}
                      </ul>
                   {% endif %}
                 </li>
              {% endif %}
           {% endifequal %}
        {% endrecursetree %}
      </ul>

      <div class="task-entry"></div><a href="{% url 'my_company:company_create' current_company.id %}" class="top-menu"><span class="badge badge-secondary">Добавить</span></a></div>    

{% endblock list %}    
