{% extends 'base.html' %}

{% block list %}

    {% load i18n %}

    <!-- Защита от прямого доступа к Dashboard -->
    {% if current_company.id in user_companies %}

        <h3>{% trans 'Панель управления' %}</h3>

        <div class="object-list">

{#            <h2>Pure CSS Tabs</h2>#}
            <div class="warpper">
                <input class="radio" id="one" name="group" type="radio" checked>
                <input class="radio" id="two" name="group" type="radio">
                <input class="radio" id="three" name="group" type="radio">
                <input class="radio" id="four" name="group" type="radio">
                <input class="radio" id="five" name="group" type="radio">

                <div class="tabs">
                    <label class="tab" id="one-tab" for="one">{% trans 'Все' %}</label>
                    <label class="tab" id="two-tab" for="two">{% trans 'Проекты и Задачи' %}</label>
                    <label class="tab" id="three-tab" for="three">{% trans 'Задачи Документооборота' %}</label>
                    <label class="tab" id="four-tab" for="four">{% trans 'Клиентские Задачи и События' %}</label>
                    <label class="tab" id="five-tab" for="five">{% trans 'Тикеты и Задачи Техподдержки' %}</label>
                </div>

                <div class="panels">
                    <div class="panel" id="one-panel">
                        {#      <div class="panel-title">Title1</div>#}
                        {#      <p>Content1</p>#}
                        {% include 'dashboard_all.html' %}
                    </div>
                    <div class="panel" id="two-panel">
                        {#      <div class="panel-title">Title2</div>#}
                        {#      <p>Content2</p>#}
                        {% include 'dashboard_projects.html' %}
                    </div>
                    <div class="panel" id="three-panel">
                        {#      <div class="panel-title">Title3</div>#}
                        {#      <p>Content3</p>#}
                        {% include 'dashboard_docs.html' %}
                    </div>
                    <div class="panel" id="four-panel">
                        {% include 'dashboard_clients.html' %}
                    </div>
                    <div class="panel" id="five-panel">
                        {% include 'dashboard_feedback.html' %}
                    </div>
                </div>
            </div>
        </div>

                </div>

    {% else %}
        <h5>Информация для Dashboard недоступна!</h5>
    {% endif %}

{% endblock list %}

            </div>

        </div>

        <div class="object-list">

        </div>




   