{% extends 'base.html' %}

{% block client %}
    <!-- Защита от прямого доступа к Компании -->
    {% if current_company.id in user_companies %}

        <div class="object-detail">
            <h2>{{ current_company.name }}
                {% if not current_company.is_active %}({{ company_in_archive }}){% endif %}
            </h2>
            <p>{% autoescape off %} {{ current_company.description }}{% endautoescape %}</p>
            <!--{ if user.is_authenticated and user.id == current_client.author_id  %}-->
            <div class="object-detail-buttons">
                <a href="{% url 'my_company:companies' 0 'companies' %}">{{ button_company_select }}</a>
            </div>
            <!--{ endif %}-->

        </div>

    {% else %}

        <h4>Информация о Компании недоступна!</h4> <!--{ current_company.id }}/{ user_companies }}-->

    {% endif %}

{% endblock client %}

{% block list %}
    <!-- Защита от прямого доступа к Dashboard -->
    {% if current_company.id in user_companies %}

        <div class="object-list">

            <div class="object-list-wrapper">

                <div class="object-list-left">
                    { include 'clienttasks_list.html' %}
                </div>
                <div class="object-list-right">
                    { include 'clientevents_list.html' %}
                </div>

            </div>

        </div>

    {% else %}
        <h5>Информация для Dashboard недоступна!</h5>
    {% endif %}

{% endblock list %}
   