<div id="ajax_listresult">

    {% load i18n %}

   <div class="object-list">   
      {{ qq }}

      {% for notification in notification_list %}

         <span class="hint hint--bottom hint--info" data-hint=
                                                               {% if notification.author.username == request.user.username %}
                                                                  {% if notification.is_read_isauthor %} 
                                                                     "{% trans 'Отметить непрочитанным' %}" 
                                                                  {% else %} 
                                                                     "{% trans 'Отметить прочитанным' %} 
                                                                  {% endif %}"
                                                               {% else %}
                                                                  {% if notification.is_read_isrecipient %}
                                                                  "{% trans 'Отметить непрочитанным' %}"
                                                                  {% else %}
                                                                  "{% trans 'Отметить прочитанным' %}
                                                                  {% endif %}"
                                                               {% endif %}>
             <input type="checkbox" value="{{notification.id}}" name="myCheck_{{notification.id}}" 
             {% if notification.author == request.user and notification.is_read_isauthor or notification.recipient == request.user and notification.is_read_isrecipient %} 
                   checked 
             {% endif %}
             />
             {% comment %}<button value="{{notification.id}}" name="myButton_{{notification.id}}"> X </button>{% endcomment %}
             {% comment %}</span>&nbsp;&nbsp;&nbsp;<em>{{ notification.datecreate|date:"d.m.Y H:i:s" }}//////////////
               {{ notification.author.username }}</em>&nbsp;&nbsp;&nbsp;<span class="hint hint--bottom hint--info" data-hint="{{ notification.text }}">{% endcomment %}
                  </span>&nbsp;&nbsp;&nbsp;<em>{{ notification.datecreate|date:"d.m.Y H:i:s" }}
                     {% if notification.author.username == request.user.username %}
                        &nbsp;
                     {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     {% endif %}
                     {{ notification.author.username }} → {{ notification.recipient.username }}</em>&nbsp;&nbsp;&nbsp;<span class="hint hint--bottom hint--info"
                     data-hint="{{ notification.theme }}">
             {% if notification.objecttype.shortname == 'prj' %}
                <a href="{% url 'my_project:tasks' notification.objectid 0 %}">{{ notification.text }}</a>
             {% elif notification.objecttype.shortname == 'tsk' %}
                <a href="{% url 'my_project:taskcomments' notification.objectid %}">{{ notification.text }}</a> 
             {% else %} 
                {{ notification.text }}          
             {% endif %}

         </span>
         <br />

      {% endfor %}

   </div>

</div>
<div id='ajax_listerrors'></div>

<script>

      $('input[type="checkbox"]').change(function(){
      
         //console.log("*** === ***")
         // Проверка стоит галочка или нет
         //if ($(this).is(':checked')) {
   
            // var chk = $(this).attr("name");
            var chkVal = $(this).attr("value");
            // console.log(chkVal + '***********************************')
   
            // Ваш запрос
            $.ajax({
               url: "{% url 'my_main:notification_read' %}",
               type: 'GET',
               data: { val: chkVal, st: {{ status_selectid }}, ot: {{ metaobjecttype_selectid }} },
               success: function(data) {
                   $('#ajax_listresult').html(data);
               },
               error: function(xhr, errmsg, err) {               
                   console.log("error")                                  
                   $('#ajax_listerrors').html(gettext('Уведомление не найдено!'));
            }

            });
   
         //}
      
      });

</script>
