{% extends 'base.html' %}

<!-- Защита от прямого доступа к ролям пользователей
{ if current_company.id in user_companies %} -->

{% block detail %}

{% load i18n %}

<div class="object-detail">

    <h4>{% trans 'Организация' %}: {{ companyname }}</h4>
      <h5>{% trans 'Пользователь' %}: {{ companyuser.username }} <!--{ companyuser.username }}-->
        {% if not companyuser.is_active %}
         {% trans '(Пользователь перемещен в архив)' %}
        {% endif %}
      </h5>
      <p><strong>{% trans 'ФИО' %}:</strong> {{ companyuser.first_name }} {{ companyuser.last_name }}</p> <!--*** { request.user.first_name}}<br />-->
      <p><strong>{% trans 'E-mail' %}:</strong> {{ companyuser.email }}</p>
      {% if not companyuser.is_staff %}
         <p><strong>{% trans 'Статус' %}:</strong> Сотрудник</p>
      {% else %}
         <p><strong>{% trans 'Статус' %}:</strong> Клиент</p>
      {% endif %}      
      <em>{% trans 'Создан' %}: {{ companyuser.date_joined }}</em>
      <em>{% trans 'Последний вход' %}: {{ companyuser.last_login }}</em>          
      <p>&nbsp;</p>
      <div class="object-detail-buttons">
          <a href="{ url 'my_company:companyuser_update' companyuser.pk %}">{{ button_companyuser_update }}</a>
      </div>

   </div>

{% endblock detail %}

<!--<hr>-->

{% block list %}
   
      {% include 'company_user_roles_list.html' %}
  
<!--{ endif %}-->

{% endblock list %}