<!--{ load render_table from django_tables2 %}-->  

<!--<div class="user-list">-->

   <!--{ if component_name == 'crm' %}-->
       
      <!--<div id="ajax_clientlistresult">-->
         <ul>
         {% for unode in unodes %}
            <!--<div class="d-tr">
               <div class="d-td-text">-->
                  <!--<li><span class="hint hint--bottom hint--info" data-hint="{ unode.user.email }}"><b><a href="{ url 'my_crm:clienttasks' unode.pk 0 %}">#{ unode.user.id }}. { unode.user.lastname }} { node.firstname }} { node.middlename }}</a></span>&nbsp;<span style="font-size: 70%; color: green;">{ node.datecreate}} | { node.type }} | { node.status }} | <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{ url 'my_account:userprofile_detail' node.manager.pk ' ' %}">{ node.manager }}</a></span> | <span class="hint hint--bottom hint--info" data-hint="Профиль"><a style="color: green" href="{ url 'my_account:userprofile_detail' node.author.pk ' ' %}"><i>===</i></a></span></span></b></li>-->
                  <!--<li><span class="hint hint--bottom hint--info" data-hint="{ unode.user.last_name }} { unode.user.first_name }} { unode.user.email }}"><b><a href="{% url 'my_crm:clienttasks' unode.pk 0 %}">#{{ unode.user.id }}. { unode.user.username }} | { unode.component.name}} | { unode.group.name }}</a></b></span></li>-->
                  <li><span class="hint hint--bottom hint--info" data-hint="{{ unode.user.last_name }} {{ unode.user.first_name }} {{ unode.user.email }}"><b><a href="{% url 'my_company:user_detail' unode.company_id unode.user.pk %}">#{{ unode.user.id }}. {{ unode.user.username }}</a></b></span></li>
               <!--</div>
            </div>-->
         {% endfor %}
         </ul>
      <!--</div>-->


   <!--{ endif %}    -->

   <p><em>{{ object_message }}</em></p>

   <div class="object-list-buttons">

      <a href="{% url 'my_account:invite' companyid %}">{{ button_user_invite }}</a>
      <a href="{% url 'my_account:add' companyid %}">{{ button_user_create }}</a>

   </div>
