{% extends 'base.html' %}

{% block staff %}

   {% load i18n %}

   <!--{ current_stafflist.company.id }}<br />{ user_companies }}<br />-->
   {% if current_stafflist.company.id in user_companies %}

   <div class="object-detail">
      <h2>{{ current_stafflist.name }}
      {% if not current_stafflist.is_active %}(Должность перемещена в архив){% endif %}
      </h2>
      <!--<p>{ autoescape off %} { current_stafflist.description }}{ endautoescape %}</p>-->
      {{ current_stafflist.description }}<br />
      {% if current_stafflist.parent.pk %}
         <i><p>{% trans 'Руководитель' %}: 
         <!--<a href="{ url 'my_project:companies' current_company.parent.pk %}">{{ current_company.parent.name }}</a>-->
         <a href="{% url 'my_company:staffs' current_stafflist.parent.pk 0 %}">{{ current_stafflist.parent.name }}</a>
         </p></i>
      <!--{ else %}
         Это головная организация-->
      {% endif %}

      <p></p>
      <i><p>{% trans 'Компания' %}: <a href="{% url 'my_company:stafflist' current_stafflist.company.id 0 %}">{{ current_stafflist.company.name }}</a></p></i>
      <p>{% trans 'Оклад' %}: {{ current_stafflist.salary }} {{ current_stafflist.currency.shortname }}</p>
      <p>{% trans 'Кол-во сотрудников' %}: {{ current_stafflist.numberemployees }} {% trans 'чел.' %}</p>      
      {% if current_stafflist.is_vacancy %} 
         <p>{% trans 'Вакансия: Да' %}</p>    
         <p>{% trans 'Описание вакансии' %}: {% autoescape off %} {{ current_stafflist.vacancy }} {% endautoescape %}</p>
      {% endif %}  
      <p>{% trans 'Тип' %}: {{ current_stafflist.type }}</p>
      <em>{% trans 'Автор' %}: {{ current_stafflist.author }}</em> 
      <em>{% trans 'Дата' %}: {{ current_stafflist.datecreate }}</em>
      <p>&nbsp;</p>
      <div class="object-detail-buttons">
           <a href="{% url 'my_company:stafflist_create' current_stafflist.company.id current_stafflist.pk %}">{{ button_stafflist_create }}</a>
           <a href="{% url 'my_company:stafflist_update' current_stafflist.pk %}">{{ button_stafflist_update }}</a>
            <!-- <a href="{ url 'my_project:task_delete' task.pk %}" class="top-menu"><span class="badge badge-secondary">Удалить</span></a> -->
      </div>
      <!--{ endif %}-->
   </div>
   <!--<hr>-->
   {% else %}
      <h4>{% trans 'Информация о должности недоступна!' %}</h4>
   {% endif %}

{% endblock staff %}  

{% block list %}

   {% if current_stafflist.company.id in user_companies %}

      {% if current_stafflist.is_vacancy %}

         <div class="object-list">

            <h4>{% trans 'Список резюме' %}</h4>
            <br /> 

           {% for currsummary in summaries_list %}
                 <div class="d-tr">
                    <div class="d-td-text">
                        <b><a href="{% url 'my_company:summary_detail' currsummary.pk %}">{{ currsummary.theme }}</a>: <span style="font-size: 70%; color: blue;"> {{ currsummary.datecreate|date:"d.m.Y" }} | {{ currsummary.candidatefirstname }} 
                           {% if currsummary.candidatemiddlename %}
                              {{ currsummary.candidatemiddlename }}
                           {% endif %}
                           {{ currsummary.candidatelastname }}</span></b>                       
                    </div>
                 </div>
           {% endfor %}   

         </div>

      {% else %}

         <div class="object-list">

            <h4>{% trans 'Сотрудники' %}</h4> 
            <br />

            <div class="object-list-buttons">
               <a href="{% url 'my_company:staff_create' current_stafflist.id %}">{{ button_staff_create }}</a>
            </div>
            <br />

            {% for currstaff in nodes %}
               <div class="comment-entry">
                  <b><a href="{% url 'my_company:staff_update' currstaff.pk %}">{{ currstaff.user.username }}</a>: <span style="font-size: 70%; color: blue;">
                  {% if currstaff.dateend is Null %}
                      Работает с {{ currstaff.datebegin|date:"d.m.Y" }}                       
                  {% else %}
                     {{ currstaff.datebegin|date:"d.m.Y" }} - {{ currstaff.dateend|date:"d.m.Y" }}
                  {% endif %}
                  | Ставка: {{ currstaff.rate }}</span></b>
               </div>
            {% endfor %}   
     
         </div>

      {% endif %}

   {% else %}

      <h4>{% trans 'Информация о сотрудниках недоступна!' %}</h4>

   {% endif %}

{% endblock list %}