{% extends 'base.html' %}

<!--{% load bootstrap4 %}-->

{% block vacancy %}
   
   <div class="object-detail">           

      <h2>{{ current_stafflist.name }}</h2> <i><h5>{{ current_stafflist.datecreate }}</h5></i>
      {% if current_stafflist.vacancy %}
         <div class="object-detail-text">
            <p>{{ current_stafflist.vacancy|safe }}</p><br />
         </div>
      {% endif %}
      <br />
      <div class="object-detail-buttons">
         <a href="{% url 'my_main:summary_create' stafflistid %}">{{ button_send_resume }}</a>      
      </div>

   </div>     

   <!--{ else %}

     <h4>Контент недоступен!</h4>

   { endif %} -->

{% endblock vacancy %}



